﻿@{
    ViewBag.Title = "AEPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content center-layout">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="text-center">
                <img src="~/Content/images/aeps-welcome-logo.png" />
            </div>
            <div class="text-center">
                <a id="ancAEPS" href="@ViewBag.Url" target="_blank">Transfer Money via AEPS</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

    </script>
}
