﻿@model  application.Main.ViewModels.entityCommissionViewModel
@{
    ViewBag.Title = "Custom Commission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Set Custom Commission</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-body">
                                @using (Ajax.BeginForm("saveCustomCommission", "entityCommission", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                                {
                                    @Html.AntiForgeryToken();
                                    <hr />
                                    <div class="form-body text-sm">
                                        @if (Model.objEntityCommisionMasterList.Count == 0)
                                        {
                                            <div class="text-center"><h2>No Record Menu Found!</h2></div>
                                        }
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-3">Product</div>
                                            <div class="col-md-3">Commission Type</div>
                                            <div class="col-md-3">
                                                @Html.HiddenFor(model => model.CommissionTypeId)
                                                @Html.DropDownListFor(model => model.CommissionTypeId, new SelectList(Model.objCommissionTypeList, "CommissionTypeId", "CommissionTypeName"), "--- Select Target Type ---", new { @class = "form-control", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.CommissionTypeId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @for (int i = 0; i < Model.objProductMasterList.Count; i++)
                                        {
                                            <div class="form-group row mx-auto">
                                                <div class="col-md-3">
                                                    @Html.HiddenFor(model => model.objProductMasterList[i].ProductId)
                                                    @Html.DisplayFor(model => model.objProductMasterList[i].ProductCode)
                                                </div>
                                                <div class="col-md-9">
                                                    @for (int j = 0; j < Model.objEntityCommisionMasterList.Count; j++)
                                                    {
                                                        if (Model.objEntityCommisionMasterList[j].ProductId == Model.objProductMasterList[i].ProductId)
                                                        {
                                                            <div class="form-group row max-auto">
                                                                <div class="col-md-4">
                                                                    @Html.HiddenFor(model => model.objEntityCommisionMasterList[j].ProductId)
                                                                    @Html.HiddenFor(model => model.objEntityCommisionMasterList[j].EntityTypeId)
                                                                    @Html.HiddenFor(model => model.objEntityCommisionMasterList[j].CompanyId)
                                                                    @Html.DisplayFor(model => model.objEntityCommisionMasterList[j].EntityTypeName)
                                                                </div>
                                                                <div class="col-md-3">
                                                                    @Html.LabelFor(model => model.objEntityCommisionMasterList[j].CommissionValue)
                                                                    @Html.EditorFor(model => model.objEntityCommisionMasterList[j].CommissionValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Commission Value" } })
                                                                    @Html.ValidationMessageFor(model => model.objEntityCommisionMasterList[j].CommissionValue, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary" id="btnSubmit">
                                            <i class="la la-check-square-o"></i> Save
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}