﻿@model  application.Main.ViewModels.entityUserMasterViewModel
@{
    ViewBag.Title = "Entity User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit User</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "EntityUser",new {id='0',entityId=Request["entityId"] })" class="btn btn-success btn-md">View All User</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveEntityUser", "EntityUser", new { entityId = Request["entityId"] }, new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">User Info</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityUser.EntityId)
                                            @Html.DropDownListFor(model => model.objEntityUser.EntityId, new SelectList(Model.objEntityMasterList, "EntityId", "AgencyName"), "--- Select Agency ---", new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.EntityId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityUser.PersonName)
                                            @Html.EditorFor(model => model.objEntityUser.PersonName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Person Name" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.PersonName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityUser.UserName)
                                            @Html.EditorFor(model => model.objEntityUser.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Name" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityUser.Password)
                                            @Html.EditorFor(model => model.objEntityUser.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Password" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.DepartmentId)
                                            @Html.DropDownListFor(model => model.objEntityUser.DepartmentId, new SelectList(Model.objDepartmentList, "DepartmentId", "DepartmentName"), "--- Select Department ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.DepartmentId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.DesignationId)
                                            @Html.DropDownListFor(model => model.objEntityUser.DesignationId, new SelectList(Model.objDesignationList, "DesignationId", "DesignationName"), "--- Select Designation ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.DesignationId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.RoleId)
                                            @Html.DropDownListFor(model => model.objEntityUser.RoleId, new SelectList(Model.objRoleList, "RoleId", "RoleName"), "--- Select Role ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.RoleId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.EmailId)
                                            @Html.EditorFor(model => model.objEntityUser.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Id" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.EmailId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.Mobile)
                                            @Html.EditorFor(model => model.objEntityUser.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.DOB)
                                            @Html.EditorFor(model => model.objEntityUser.DOB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Date Of Birth", @id = "txtDOB" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.DOB, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.Address1)
                                            @Html.TextAreaFor(model => model.objEntityUser.Address1, new { @class = "form-control", @placeholder = "Enter Address 1" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.Address1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.Address2)
                                            @Html.TextAreaFor(model => model.objEntityUser.Address2, new { @class = "form-control", @placeholder = "Enter Address 2" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.Address2, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.PinCode)
                                            @Html.EditorFor(model => model.objEntityUser.PinCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Pincode" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.PinCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.CountryId)
                                            @Html.DropDownListFor(model => model.objEntityUser.CountryId, new SelectList(Model.objCountryList, "CountryId", "CountryName"), "--- Select Country ---", new { @class = "form-control", @id = "cboCountry" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.CountryId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divState">
                                            @Html.LabelFor(model => model.objEntityUser.StateId)
                                            @Html.DropDownListFor(model => model.objEntityUser.StateId, new SelectList(Model.objStateList, "StateId", "StateName"), "--- Select State ---", new { @class = "form-control", @id = "cboState" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.StateId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divCity">
                                            @Html.LabelFor(model => model.objEntityUser.CityId)
                                            @Html.DropDownListFor(model => model.objEntityUser.CityId, new SelectList(Model.objCityList, "CityId", "CityName"), "--- Select City ---", new { @class = "form-control", @id = "cboCity" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.CityId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.StatusId)
                                            @Html.DropDownListFor(model => model.objEntityUser.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-8">
                                            @Html.LabelFor(model => model.objEntityUser.StatusRemark)
                                            @Html.TextAreaFor(model => model.objEntityUser.StatusRemark, new { @class = "form-control", @placeholder = "Enter Remarks" })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.StatusRemark, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objEntityUser.EntityUserId)
                                    @Html.HiddenFor(model => model.objEntityUser.EntityId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/entityUser?entityId="+ Request["entityId"])'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cboCountry').change(function () {
                populateStateByCountryId($("#cboCountry").val(), "divState", "cboState", "objEntityUser.StateId", "objEntityUser_StateId");
            });
        });

        function bindCityOnStateChange(stateId) {
            populateCityByStateId(stateId, "divCity", "cboCity", "objEntityUser.CityId", "objEntityUser_CityId");
        };

        $(function myfunction() {
            $("#txtDOB").datepicker({
                dateFormat: "dd/mm/yy",
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            });
        });
    </script>
}

