﻿<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="author" content="biz-networks">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/images/ico/favicon-32.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/ico/favicon-32.png")">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <style>
        #toast-container {
            position: fixed;
            z-index: 999999;
            pointer-events: none;
        }

        .toast-top-right {
            top: 12px;
            right: 12px;
        }
    </style>
</head>
<body class="vertical-layout vertical-menu 1-column  bg-grey-blue bg-lighten-2 blank-page pace-done" data-open="click" data-menu="vertical-menu" data-col="1-column">
    <div id="process-loading" style="display:none;">
        <div class="bg-warning innerText">Processing</div>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section class="flexbox-container pt-2">
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer fixed-bottom footer-dark navbar-shadow">
        <div class="container">
            <div class="clearfix blue-grey lighten-2 text-md-center px-2 m-0 p-0 center-layout">
                <div class="row">
                    <div class="col-md-2"><a class="text-bold-600" href="@Url.Action("index", "login")">Home</a></div>
                    <div class="col-md-2"><a class="text-bold-600" href="@Url.Action("index", "aboutus")" target="_blank">About Us</a></div>
                    <div class="col-md-2"><a class="text-bold-600" href="@Url.Action("index", "privacypolicy")" target="_blank">Privacy Policy</a></div>
                    <div class="col-md-3"><a class="text-bold-600" href="@Url.Action("index", "refundcancellation")" target="_blank">Refund/Cancellation Policy</a></div>
                    <div class="col-md-3"><a class="text-bold-600" href="javascript:">Customer Care no. : 9909903504</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END: Footer-->
    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
    <script>
        // Preventing user on Mouse Right Click
        $(document).bind("contextmenu", function (e) {
            return false;
        });
        //Preventing user on Ctrl + U click
        $(document).keypress("u", function (e) {
            if (e.ctrlKey) {
                return false;
            }
            else {
                return true;
            }
        });
        document.onkeydown = function (e) {
            if (e.ctrlKey &&
                (e.keyCode === 67 ||
                    e.keyCode === 86 ||
                    e.keyCode === 85 ||
                    e.keyCode === 117)) {
                return false;
            } else {
                return true;
            }
        };
        //Preventing user on F12 key
        $(document).keydown(function (event) {
            if (event.keyCode == 123) { // Prevent F12
                return false;
            } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
                return false;
            }
        });
    </script>
</body>
</html>
