﻿@using application.Main.Models;
@model  application.Main.Models.HeaderNav
<div class="navbar-wrapper">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <!--<li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>-->
            <li class="nav-item">
                <a class="navbar-brand" href="javascript:">
                    @if ((Model.companyLogo == null ? 0 : Model.companyLogo.Length) == 0)
                    {
                        <img class="brand-logo" alt="Logo" src="~/Content/images/protonpay.png">
                    }
                    else
                    {
                        <img class="brand-logo" alt="@Model.companyLogo" src="~/CompanyLogo/@Model.companyLogo">
                    }
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
        </ul>
    </div>
    <div class="navbar-container container-fluid center-layout">
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
                <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav float-right user-menus">
                @if (Model.lowBalanceAlert)
                {
                    <li>
                        <a class="nav-link nav-link-label" href="javascript:void()">
                            <i class="material-icons">account_balance_wallet</i><strong>Low Balance</strong>
                            <h6 class="m-0"><span class="notification-tag badge badge-danger text-black" id="HNWalletBalance">@Model.walletBalance</span></h6>
                        </a>
                    </li>
                }
                @if (!Model.isCompanyProfile && Model.lowBalanceAlert == false)
                {
                    <li>
                        <a class="nav-link nav-link-label" href="javascript:void()">
                            <h6 class="dropdown-header m-0"><span class="notification-tag badge badge-danger text-black" id="HNWalletBalance">@Model.walletBalance</span></h6>
                        </a>
                    </li>
                }
                <li class="dropdown dropdown-notification nav-item">
                    <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="material-icons mr-0">notification_important</i></a>
                    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                        <li class="dropdown-menu-header border-0">
                            <h6 class="dropdown-header m-0"><span class="grey darken-2">GST No.</span></h6><span class="notification-tag badge badge-success float-right" id="HNGSTNo">@Model.GSTNumber</span>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user nav-item">
                    <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="avatar avatar-online"><img src="~/Content/images/portrait/small/dummy.png" alt="avatar"><i></i></span> <span class="mr-1 user-name text-bold-700">@Model.userName</span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        @if (Model.isCompanyProfile && Model.isLeadUser)
                        {
                            <a class="dropdown-item" href="@Url.Action("companyProfile", "company")"><i class="material-icons">account_box</i> Edit Company Profile</a>
                            <a class="dropdown-item" href="@Url.Action("editprofile", "company")"><i class="material-icons">account_box</i> Edit Profile</a>
                            <a class="dropdown-item" href="@Url.Action("companyLogo", "company")"><i class="material-icons">add_a_photo</i> Company Logo</a>
                        }
                        else if (Model.isLeadUser == false && Model.isCompanyProfile)
                        {
                            <a class="dropdown-item" href="@Url.Action("editprofile", "company")"><i class="material-icons">account_box</i> Edit Profile</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="@Url.Action("index", "editprofile")"><i class="material-icons">account_box</i> Edit Profile</a>
                            <a class="dropdown-item" href="@Url.Action("changePassword", "editProfile")"><i class="material-icons">vpn_key</i> Change Password</a>
                        }
                        <a class="dropdown-item" href="@Url.Action("userLogout", "helper")"><i class="material-icons">power_settings_new</i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
