﻿@using application.Main.ViewModels;
@model  application.Main.ViewModels.horizontalNavBarViewModel
<!-- BEGIN: Main Menu-->
<div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
    <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        @foreach (mainNavBarViewModel objMainManu in Model.objMainNavBarList)
        {
            <li class="@(objMainManu.objSubNavBarList.Count>0?"dropdown nav-item":"nav-item")" data-menu="@(objMainManu.objSubNavBarList.Count > 0 ? "dropdown" : "")">
                <a class="@(objMainManu.objSubNavBarList.Count>0?"dropdown-toggle nav-link":"nav-link")" href="@(String.IsNullOrEmpty(objMainManu.ExternalURL)?"":Url.Content("~/"+objMainManu.ExternalURL))" target="@objMainManu.ExternalURLTarget" data-toggle="@(objMainManu.objSubNavBarList.Count > 0 ? "dropdown" : "")"><i class="material-icons">@objMainManu.IconCSS</i><span>@objMainManu.MainMenuName</span></a>
                @if (objMainManu.objSubNavBarList.Count > 0)
                {
                    <ul class="dropdown-menu">
                        @foreach (subNavBarViewModel objSubNavBar in objMainManu.objSubNavBarList)
                        {
                            <li data-menu="">
                                <a class="dropdown-item" href="~/@(String.IsNullOrEmpty(objSubNavBar.ExternalURL)?"":Url.Content(objSubNavBar.ExternalURL))" data-toggle=""><i class="material-icons">@objSubNavBar.IconCSS</i><span>@objSubNavBar.SubMenuName</span></a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
<!-- END: Main Menu-->