﻿@using application.Main.ViewModels;
@model  application.Main.ViewModels.horizontalNavBarViewModel
<ul class="navbar-nav mr-auto">
    @foreach (mainNavBarViewModel objMainManu in Model.objMainNavBarList)
    {
        <li class="nav-item @(objMainManu.objSubNavBarList.Count > 0 ? "dropdown" : "")">
            <a href="@(String.IsNullOrEmpty(objMainManu.ExternalURL)?"":Url.Content("~/"+objMainManu.ExternalURL))" target="@objMainManu.ExternalURLTarget" class="@(objMainManu.objSubNavBarList.Count>0?"dropdown-toggle nav-link":"nav-link")" id="@objMainManu.MainMenuId" data-toggle="@(objMainManu.objSubNavBarList.Count > 0 ? "dropdown" : "")" aria-haspopup="true" aria-expanded="false"><i class="material-icons">@objMainManu.IconCSS</i><span>@objMainManu.MainMenuName</span></a>
            @if (objMainManu.objSubNavBarList.Count > 0)
            {
                <ul class="dropdown-menu" aria-labelledby="@objMainManu.MainMenuId">
                    @foreach (subNavBarViewModel objSubNavBar in objMainManu.objSubNavBarList)
                    {
                        <li>
                            <a class="dropdown-item" href="~/@(String.IsNullOrEmpty(objSubNavBar.ExternalURL)?"":Url.Content(objSubNavBar.ExternalURL))"><i class="material-icons">@objSubNavBar.IconCSS</i><span>@objSubNavBar.SubMenuName</span></a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
