﻿<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="author" content="biz-networks">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/images/ico/favicon-32.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/ico/favicon-32.png")">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <style>
        #toast-container {
            position: fixed;
            z-index: 999999;
            pointer-events: none;
        }

        .toast-top-right {
            top: 12px;
            right: 12px;
        }
    </style>
</head>
<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns">
    <div id="process-loading" style="display:none;">
        <div class="bg-warning innerText">Processing</div>
    </div>
    <div id="process-transferMoney" style="display:none;">
        <div class="bg-warning innerText">Transaction Under Process...</div>
    </div>
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light" id="mainNavBar"></nav>
    <!-- BEGIN: Main Menu-->
    @*<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
            <div class="navbar-container main-menu-content container-fluid center-layout" data-menu="menu-container" id="menuItems">
            </div>
        </div>*@
    <div class="navbar navbar-expand-md navbar-dark bg-dark navbar-horizontal navbar-expand-sm" role="navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-container center-layout main-menu-horizontal" id="navbarCollapse"></div>
    </div>
    <!-- END: Main Menu-->
    <div class="app-content content">
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <div class="modal fade bd-example-modal-sm" id="modalDMTTransactionStatus" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="bs-callout-primary">
                    <div class="media align-items-stretch">
                        <div class="media-left media-middle bg-primary p-2">
                            <i class="la la-sun-o white font-medium-5 mt-1"></i>
                        </div>
                        <div class="media-body p-1">
                            <strong>Please Wait!</strong>
                            <p>
                                We are checking & updating transaction status.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            accessMenuBar();
            accessHeaderNav();
        });
        // Preventing user on Mouse Right Click
        $(document).bind("contextmenu", function (e) {
            return false;
        });
        //Preventing user on Ctrl + U click
        $(document).keypress("u", function (e) {
            if (e.ctrlKey) {
                return false;
            }
            else {
                return true;
            }
        });
        document.onkeydown = function (e) {
            if (e.ctrlKey &&
                (e.keyCode === 67 ||
                    e.keyCode === 86 ||
                    e.keyCode === 85 ||
                    e.keyCode === 117)) {
                return false;
            } else {
                return true;
            }
        };
        //Preventing user on F12 key
        $(document).keydown(function (event) {
            if (event.keyCode == 123) { // Prevent F12
                return false;
            } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
                return false;
            }
        });
    </script>
</body>
</html>
