﻿@model  application.Main.BankITDMT.Response.senderDetailResponse
    <div class="row">
        <div class="col-md-4"><h5 class="heading">Sender Name<br /><strong class="info">@Html.DisplayFor(model => model.data.name)</strong></h5></div>
        <div class="col-md-4"><h5 class="heading">Sender Mobile<br /><strong class="info">@Html.DisplayFor(model => model.data.customerId)</strong></h5></div>
        <div class="col-md-4"><h5 class="heading">Available Balance<br /><strong class="info"><i class="la la-rupee"></i>@Html.DisplayFor(model => model.data.walletbal)</strong></h5></div>
    </div>