﻿@model  application.Main.BankITDMT.Request.AddBeneficiaryVM
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<link href="../Content/css/plugins/forms/checkboxes-radios.css" rel="stylesheet" />
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">DMT Add New Beneficiary</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6" id="divSenderDetail"></div>
                            <div class="col-md-6">
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0 text-right">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a href="@Url.Action("index", "DMR")" class="btn btn-success btn-md">Dashboard</a></li>
                                        <li><a href="@Url.Action("beneficiary", "DMR",new { mobileNo=Model.objBeneficiary.customerId})" class="btn btn-success btn-md">View All Beneficiary</a></li>
                                        <li><a href="@Url.Action("showTransactions", "DMR",new { mobileNo=Model.objBeneficiary.customerId})" class="btn btn-success btn-md">Show Transactions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveBeneficiary", "DMR", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6"><h4 class="form-section">Add Sender/Customer</h4></div>
                                        <div class="col-md-6"><h5 class="form-section danger text-right">** For IMPS Transaction Type <i class="la la-rupee mr-0"></i>@Model.objBeneficiary.IMPSAdditionCharge will be charge in order to Add Beneficiary.</h5></div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objBeneficiary.recipientName)
                                            @Html.EditorFor(model => model.objBeneficiary.recipientName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Beneficiary Name" } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.recipientName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objBeneficiary.mobileNo)
                                            @Html.EditorFor(model => model.objBeneficiary.mobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No." } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.mobileNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objBeneficiary.udf2)
                                            @Html.EditorFor(model => model.objBeneficiary.udf2, new { htmlAttributes = new { @class = "form-control date-inputmask", @placeholder = "Enter Account Number" } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.udf2, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divBank">
                                            @Html.Label("Select Bank")
                                            @Html.DropDownListFor(model => model.objBeneficiary.bankCode, new SelectList(Model.objBankList, "bankCode", "bankName"), "--- Select Bank ---", new { @class = "form-control", @id = "cboBankList" })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.bankCode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divIFSCCode">
                                            @Html.LabelFor(model => model.objBeneficiary.udf1)
                                            @Html.EditorFor(model => model.objBeneficiary.udf1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter IFSC Code", @ud = "txtIFSCCode" } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.udf1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4 pt-2">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                    @Html.CheckBoxFor(model => model.objBeneficiary.verifyAccount, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objBeneficiary.verifyAccount, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.objBeneficiary.customerId)
                                            <button type="submit" class="btn btn-primary" id="btnSubmit">
                                                <i class="la la-check-square-o"></i> Save
                                            </button>
                                            <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/DMR")'">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="../Content/js/scripts/forms/checkbox-radio.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            var customerID = '@Model.objBeneficiary.customerId'
             $("#divSenderDetail").load('@Url.Action("fetchSenderDetail", "DMR")?customerId=' + customerID);
            populateBankITDMT_BankList("divBank", "cboBankList", "objBeneficiary.bankCode", "objBeneficiary_bankCode");
            $("#cboBankList").select2();
        });

        function bindIFSCOnChange(bankIFSCCode) {
            $("#objBeneficiary_udf1").val(bankIFSCCode.split("|")[1]);
        }
    </script>
}




