﻿@model  application.Main.Models.DMT_BankItInDB_Sender
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/plugins/forms/extended/form-extended.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">DMT Add New Sender</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "DMR")" class="btn btn-success btn-md">Sender Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveSender", "DMR", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Add Sender/Customer</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.CustomerID)
                                            @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @ReadOnly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                                            <small class="float-left text-info">** Verification OTP will send to this Mobile No.</small>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Name)
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.DateOfBirth)
                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control date-inputmask", @placeholder = "Enter BirthDate.", @id = "txtDateOfBirth" } })
                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.OTP)
                                            @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter OTP Number" } })
                                            @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                                            <small class="float-left text-info">** OTP received on Mobile No. will be valid only for 30 minutes.</small>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Address)
                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.CustomerID)
                                            <button type="submit" class="btn btn-primary" id="btnSubmit">
                                                <i class="la la-check-square-o"></i> Save
                                            </button>
                                            <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/DMR")'">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="~/Content/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js"></script>
        <script src="~/Content/js/scripts/forms/extended/form-inputmask.js"></script>*@
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
                 $("#txtDateOfBirth").datepicker({
                     dateFormat: "dd/mm/yy",
                     defaultDate: "+1w",
                     changeMonth: true,
                     changeYear: true,
                     yearRange:'-100:+0',
                     numberOfMonths: 1
                 });
         });
    </script>
}




