﻿@{
    ViewBag.Title = "Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">DMT Transaction History</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2"><label for="from">From</label><input type="text" id="fromDate" name="from" class="form-control form-control-sm"></div>
                                        <div class="col-md-2"><label for="to">To</label><input type="text" id="toDate" name="to" class="form-control form-control-sm"></div>
                                        <div class="col-md-2">
                                            <label>Transaction Type</label>
                                            <select id="cboTransactionType" class="form-control form-control-sm">
                                                <option value="">-- All Transaction Type --</option>
                                                <option value="NEFT">NEFT</option>
                                                <option value="IMPS">IMPS</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Transaction Status</label>
                                            <select id="cboTransactionStatus" class="form-control form-control-sm">
                                                <option value="">-- All Transaction Status-- </option>
                                                <option value="00">Success</option>
                                                <option value="02">Fail</option>
                                                <option value="01">Pending</option>
                                                <option value="REFUND">Refund</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 text-left pt-26"><input type="button" id="btnsearch" class="btn btn-success btn-sm" value="Search" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Transaction Date</th>
                                                <th class="text-center">Sender Mobile No.</th>
                                                <th class="text-left">Beneficiary Name</th>
                                                <th class="text-center">Account No.</th>
                                                <th class="text-center">Bank</th>
                                                <th class="text-center">TxnID</th>
                                                <th class="text-right">Amount</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Receipt</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script src="~/Content/js/scripts/modal/components-modal.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);

             var dateFormat = "dd-mm-yy",
                from = $("#fromDate")
                    .datepicker({
                        dateFormat:"dd-mm-yy",
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 2
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#toDate").datepicker({
                    dateFormat:"dd-mm-yy",
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var fromDate = formatIndianDate(new Date(), true);
                var toDate = formatIndianDate(new Date(), false);
                $('#fromDate').val(fromDate);
                $('#toDate').val(toDate);
                var transactionType = $("#cboTransactionType").val();
                var transactionStatus = $("#cboTransactionStatus").val();
                bindData(fromDate, toDate, transactionType, transactionStatus);
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        $('#btnsearch').click(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var transactionType = $("#cboTransactionType").val();
                var transactionStatus = $("#cboTransactionStatus").val();
                if (fromDate != '' && toDate != '') {
                    bindData(fromDate, toDate,transactionType,transactionStatus);
                }else {
                    notifyMessage("1|Please Select From and To Date.");
                }
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        function bindData(fromDate, toDate, transactionType, transactionStatus) {
            $.fn.dataTable.ext.errMode = 'throw';
                $("#tblDataList").DataTable({
                ajax: {
                        url: '/DMR/showTransactionHistory?fromDate='+ fromDate+'&toDate='+ toDate +'&transactionType='+ transactionType+'&transactionStatus='+ transactionStatus+'',
                    type: "GET",
                    datatype: "JSON"
                    },
                    dom: 'Blfltip',
                    buttons: [
                        ['csv'],
                    ],
                    "lengthMenu": [[50, 75, 100, 500], [50, 75, 100, 500]],
                    columns: [
                    {
                        data: "Status", name: "Status",className:"text-center",
                        render: function (data,status,objData) {
                            return (data === "00" ? "<span class='badge badge-success'>SUCCESS</span>" : data === "01" ? "<span class='badge badge-warning'>PENDING</span>" : data === "REFUND" ? "<span class='badge badge-info'>REFUND</span><small class='text-warning'>" + objData.TransactionStatus + "</small>" : "<span class='badge badge-danger'>FAILED</span><small class='text-danger'>" + objData.TransactionStatus + "</small>");
                        }
                    },
                    {
                        data: "CreatedDateTime", "orderable": false, className: "text-center",
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    { data: "CustomerID", name: "CustomerID", className: "text-center" },
                    { data: "RecipientName", name: "RecipientName", className: "text-left" },
                    { data: "accountNumber", name: "accountNumber",className: "text-left" },
                        { data: "BankName", name: "BankName", className: "text-left", },
                        { data: "TxnId", name: "TxnId", className: "text-center" },
                        { data: "Amount", name: "Amount", className: "text-right" },
                        { data: "TransferType", name: "TransferType", className: "text-center" },
                    {
                            data: "BankItTransactionId", name: "BankItTransactionId",className: "text-center",
                        render: function (data, status, objData) {
                            if (objData.Status === "00")
                                return "<a class=\"btn btn-primary btn-sm\" href=\"/DMR/showTransactionReceipt?Id=" + data + "\">Print Receipt</a>";
                            else
                                return "";
                        }
                    }
                ],
                processing: true,
                destroy: true,
                serverSide: true,
                "order": [1, 'desc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
                });
            $("#tblDataList_length").hide();
        }
    </script>
}