﻿@model  application.Main.Models.DMT_addSender_request
@{
    ViewBag.Title = "DMR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<div class="content-body">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-text text-center">
                        <h2 class="title">Add or Search Sender</h2>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Ajax.BeginForm("verifyMobileOrAccountNumber", "dmr", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.LabelFor(model => model.customerId)
                                        @Html.EditorFor(model => model.customerId, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Enter Mobile Number" } })
                                        @Html.ValidationMessageFor(model => model.customerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 text-center">
                                        <p class="or-tag">OR</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.LabelFor(model => model.accountNumber)
                                        @Html.EditorFor(model => model.accountNumber, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Enter Account Number" } })
                                        @Html.ValidationMessageFor(model => model.accountNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-shade1" id="btnSubmit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}