﻿@model  application.Main.Models.DMT_BankItInDB_Sender
@{
    ViewBag.Title = "DMR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">DMT Recipient List</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6" id="divSenderDetail">
                            </div>
                            <div class="col-md-6">
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-5"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0 text-right">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a href="@Url.Action("index", "DMR")" class="btn btn-success btn-md">Dashboard</a></li>
                                        <li><a href="@Url.Action("addBeneficiary", "DMR",new { mobileNo=Model.CustomerID})" class="btn btn-success btn-md">Add New Beneficiary</a></li>
                                        <li><a href="@Url.Action("showTransactions", "DMR",new { mobileNo=Model.CustomerID})" class="btn btn-success btn-md">Show Transactions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content pt-3">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Action</th>
                                                <th class="text-center">Recipient Id</th>
                                                <th class="text-center">Recipient Name</th>
                                                <th class="text-center">Bank Name</th>
                                                <th class="text-center">Mobile No.</th>
                                                <th class="text-center">IFSC Code</th>
                                                <th class="text-center">Bank Account Number</th>
                                                <th class="text-center">Transfer Type</th>
                                                @*<th class="text-center">Delete Beneficiary</th>*@
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var customerID = '@Model.CustomerID';
                $("#divSenderDetail").load('@Url.Action("fetchSenderDetail", "DMR")?customerId=' + customerID);
                 var dataList = $("#tblDataList").DataTable({
                ajax: {
                    url: '/DMR/listBeneficiary?customerId='+ customerID,
                    type: "GET",
                    datatype: "JSON"
                }, "lengthMenu": [[50, 75, 100,500], [50, 75, 100,500]],
                     columns: [
                    {
                        data: "recipientId","orderable":false,
                        render: function (data,status,objData) {
                            return "<a href=\"/DMR/Transac?recipient=" + data + "&customerId=" + customerID + "&transferType=" + objData.channel+"\" class=\"" + gridButtonEditCSS + "\">Transfer Money</a>";
                        }
                    },
                    { data: "recipientId", name: "recipientId" },
                    { data: "recipientName", name: "recipientName" },
                    { data: "bankName", name: "bankName" },
                    { data: "mobileNo", name: "mobileNo" },
                    { data: "udf2", name: "udf2" },
                    { data: "udf1", name: "udf1" },
                    { data: "channel", name: "channel" }
                    //{
                    //    data: "recipientId","orderable":false,
                    //    render: function (data) {
                    //        return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                    //    }
                    //}
                ],
                "processing": true,
                "serverSide": true,
                "order": [2, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblDataList").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: 'DMR/deleteBeneficiary/' + deleteButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                dataList.row(deleteButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {
                 window.location.href = "unauthorized";
            }
        });
    </script>
}



