﻿@model  application.Main.Models.DMT_addSender_request
@{
    ViewBag.Title = "DMR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">DMT Sender List</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><input type="button" class="btn btn-success" id="btnAddNewSender" value="Add New Sender" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content pt-3">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Customer Id</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Date of Birth</th>
                                                <th class="text-center">OTP Verified</th>
                                                <th class="text-center">Active Since</th>
                                                <th class="text-center">Beneficiary</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modelAddNewSender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel77" aria-hidden="true">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info white">
                <h4 class="modal-title white" id="myModalLabel11">New Sender Registration</h4>
            </div>
            <form action="#">
                <div class="modal-body">
                    <label>Enter Mobile No.</label>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Mobile No." class="form-control" id="txtSenderMobileNo" maxlength="10" onkeypress="return IsAlphaNumeric(event);" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-md" data-dismiss="modal" value="close">
                    <input type="button" class="btn btn-outline-primary btn-md" value="Submit" id="btnNewSenderSubmit">
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                 var dataList = $("#tblDataList").DataTable({
                ajax: {
                    url: '/DMR/getSenderList',
                    type: "GET",
                    datatype: "JSON"
                     },
                     "lengthMenu": [[50, 75, 100,500], [50, 75, 100,500]],
               columns: [
                    { data: "CustomerID", name: "CustomerID" },
                    { data: "Name", name: "Name" },
                    {
                        data: "DateOfBirth", name: "DateOfBirth","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    {
                        data: "IsOTPverified", name: "IsOTPverified",
                        render: function (data) {
                            return (data === true ? "<span class='badge badge-success'>YES</span>" : "<span class='badge badge-danger'>NO</span><br><a>Re-Send OTP</a>");
                        }
                    },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                   },
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, objData) {
                            return "<a href=\"/DMR/beneficiary?mobileNo=" + objData.CustomerID + "\" class=\""+gridButtonEditCSS+"\">Manage Beneficiary</a>";
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [4, 'desc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblDataList").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: 'productMaster/deleteProduct/' + deleteButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                dataList.row(deleteButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        $("#btnAddNewSender").on('click', function() {
            $('#modelAddNewSender').modal({
                keyboard: false
            });
        });

        $("#btnNewSenderSubmit").on('click', function() {
            if ($.trim($("#txtSenderMobileNo").val()) == "") {
                notifyMessage('1|Please enter valid Mobile No.');
            }
            else {
                $("#btnNewSenderSubmit").val("Processing...");
                $("#btnNewSenderSubmit").attr("disabled", "disabled");
                $("#process-loading").show();
                 $.ajax({
                     url: 'DMR/newSenderVerifyOTP?mobileNo='+ $.trim($("#txtSenderMobileNo").val()),
                    method: 'POST',
                     success: function (result) {
                         if (result.success === true) {
                            $("#process-loading").hide();
                             window.location.href = "DMR/addNewSender?mobileNo="+ $.trim($("#txtSenderMobileNo").val());
                         }
                         else if (result.success == "Saved")
                         {
                             window.location.href = "DMR";
                         }
                        else {
                             notifyMessage(result.responseText);
                             $("#process-loading").hide();
                            $("#btnNewSenderSubmit").val("Submit");
                            $("#btnNewSenderSubmit").removeAttr("disabled");
                        }
                    }
                });
            }
        });
    </script>
}


