﻿@model  application.Main.BankITDMT.Response.FetchSingleBeneficiaryResponseBM
@{
    ViewBag.Title = "Transfer Money";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Transfer Money</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0 text-right">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a href="@Url.Action("beneficiary", "DMR",new { mobileNo=Model.objSender.CustomerID})" class="btn btn-success btn-md">View All Beneficiary</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Html.BeginForm("transferMoneyConfirmation", "DMR", FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Sender Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Sender Name: <b>@Html.DisplayFor(model => model.objSender.Name)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Sender ID: <b>@Html.DisplayFor(model => model.objSender.CustomerID)</b>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Beneficiary Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Id: <b>@Html.DisplayFor(model => model.data.recipientId)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Name: <b>@Html.DisplayFor(model => model.data.recipientName)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Mobile No.: <b>@Html.DisplayFor(model => model.data.mobileNo)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Bank Name: <b>@Html.DisplayFor(model => model.data.bankName)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Account No.: <b>@Html.DisplayFor(model => model.data.udf1)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary IFSC Code: <b>@Html.DisplayFor(model => model.data.udf2)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3 font-medium-3">
                                            @Html.Label("Transfer Via")
                                            @Html.DropDownListFor(model => model.objRemit.TransType, new SelectList(Model.objTransferType, "TransType", "TypeName"), "--- Transfer Via ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objRemit.TransType, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6 font-medium-3">
                                            @Html.Label("Amount to Transfer")
                                            @Html.EditorFor(model => model.objRemit.amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount to Transfer" } })
                                            <h6 class="float-left text-danger">** Minimum amount to transfer is 100 and Maximum amount 5000 per transaction.</h6>
                                            @Html.ValidationMessageFor(model => model.objRemit.amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto text-center">
                                        @Html.HiddenFor(model => model.objRemit.clientRefId)
                                        @Html.HiddenFor(model => model.objRemit.customerId)
                                        @Html.HiddenFor(model => model.objRemit.recipientId)
                                        @Html.HiddenFor(model => model.objRemit.recipientName)
                                        @Html.HiddenFor(model => model.objRemit.bankName)
                                        @Html.HiddenFor(model => model.transferType)
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary" id="btnSubmit">
                                                <i class="la la-check-square-o"></i> Submit
                                            </button>
                                            <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Action("beneficiary", "DMR",new { mobileNo=Model.objSender.CustomerID})'">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}




