﻿@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_cmsLayout.cshtml";
}
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-8 col-md-8 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
            <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                    <img src="../../../Content/images/logo/protonPay.png" alt="logo">
                </div>
                <h4 class="card-subtitle line-on-side text-muted text-center pt-2"><span>About ProtonPay</span></h4>
            </div>
            <div class="card-content">
                <div class="card-body pt-2">
                    <p class="text-justify font-size-small">
                        ProtonPay provides unique digital platform that caters attractive and instant (real time) rewards as well as commission to our ProtonPay users, through our own developed safe and secure interface.
                    </p>
                    <p class="text-justify font-size-small">
                        Through our safe, secure, reliable and quickest payment gateway we believe to connect Semi-urban & Rural India to the mainstream of economic development.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

