﻿@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/_cmsLayout.cshtml";
}
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-8 col-md-8 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
            <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                    <img src="../../../Content/images/logo/protonpay.png" alt="logo">
                </div>
                <h4 class="card-subtitle line-on-side text-muted text-center pt-2"><span>Terms & Conditions</span></h4>
            </div>
            <div class="card-content">
                <div class="card-body pt-2">
                    <p class="text-justify font-size-small">
                        Proton Pay is a safe and secure digital payment system that allows monetary payments through credit/debit card, registered UPI and integrated digital wallet.
                    </p>
                    <p class="text-justify font-size-small">
                        Proton Pay will store your personal details on your consent for better user experience.
                    </p>
                    <p class="text-justify font-size-small">
                        Proton Pay, it’s subsidiaries, employees, or any other representative will not be responsible for direct or indirect abuse of monetary absure from your proton pay account directly or indirectly.
                    </p>
                    <p class="text-justify font-size-small">
                        You agree and understand that when you acquire goods or any other services from a Merchant platform after paying through Proton Pay, the Merchant alone will be responsible for all obligations under the contract including (without limitation) warranties or guarantees.
                    </p>
                    <p class="text-justify font-size-small">
                        Proton pay will not participate in any dispute with or complaint against any /by any Merchant or user.
                    </p>
                    <p class="text-justify font-size-small">
                        In case any amount is transferred erroneously by You to any Merchant or any other person, Proton Pay shall not be liable to refund such amount to You under any circumstances.
                    </p>
                    <p class="text-justify font-size-small pb-2">
                        Any web-link on the website to a third-party site is not an endorsement of that web-link. By using or browsing any such other web-link, you shall be subject to the terms and conditions in each such web-link.
                    </p>
                    <p class="text-justify font-size-small pb-2">
                        During any dispute, Proton Pay records shall be binding as the conclusive evidence of the transactions carried out through Proton Pay Services.
                    </p>
                    <p class="text-justify font-size-small pb-2">
                        You shall not use the Services to defraud Proton Pay, our affiliates or other members or users, or engage in other unlawful activities (including without limitation dealing in products or services prohibited by law).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

