﻿@model  application.Main.ViewModels.makePaymentVM
@{
    ViewBag.Title = "Add Balance in Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2 class="title">Add Wallet Balance</h2>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("saveMakePayment", "makePayment", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            @Html.LabelFor(model => model.objEntityPayments.Amount)
                                            @Html.EditorFor(model => model.objEntityPayments.Amount, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Enter Amount" } })
                                            @Html.ValidationMessageFor(model => model.objEntityPayments.Amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-center">
                                    @Html.HiddenFor(model => model.objEntityPayments.EntityPaymentId)
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-shade1" id="btnSubmit">
                                                <i class="la la-check-square-o"></i> Submit
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger" onclick="javascript:window.location.href='@Url.Content("~/makepayment")'">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

