﻿@model  application.Main.ViewModels.makePaymentVM
@{
    ViewBag.Title = "Payment History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}

<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">Add Balance History</h2>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="heading-elements pull-right">
                            <input type="button" class="btn btn-shade1" value="Add Balance" onclick="javascript:window.location.href='makePayment/addBalance'" />
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Transaction Id</th>
                                                <th class="text-left">Amount</th>
                                                <th class="text-left">Payment Status</th>
                                                <th class="text-center">Bank Reference Id</th>
                                                <th class="text-center">Payment Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var dataList = $("#tblDataList").DataTable({
                    ajax: {
                        url: '/makePayment/getPaymentList',
                        type: "GET",
                        datatype: "JSON"
                    },
                    columns: [
                        { data: "PaymentTransactionId", name: "PaymentTransactionId",className:'text-left' },
                        { data: "Amount", name: "Amount",className:'text-right' },
                        {
                            data: "IsPaymentReceived", name: "IsPaymentReceived",className:'text-center',
                            render: function (data, type, objData) {
                                if (objData.RejectionDateTime == null)
                                {
                                    return (data === true ? "<span class='badge badge-success'>Approved</span>" : "<span class='badge badge-warning'>Pending</span>");
                                }
                                else {
                                    var dateString = objData.RejectionDateTime.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                                var rejectDate = formatedDate;
                                    return ("<span class='badge badge-danger'>Rejected on "+rejectDate+"</span><br><span><span class='text-info'>Reason:</span> " + objData.RejectionRemark + "</span>");
                                }
                            }
                        },
                        { data: "PaymentResponseOrderId", name: "PaymentResponseOrderId", className: 'text-right' },
                        {
                            data: "CreatedDateTime", "orderable": false,
                            render: function (data) {
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                                var date = formatedDate;
                                return date;
                            }
                        }
                    ],
                    "processing": true,
                    "serverSide": true,
                    "order": [3, 'desc'],
                    language: {
                        processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                    }
                });
            }
            else { window.location.href = "unauthorized";}
        });
    </script>
}





