﻿@model  application.Main.ViewModels.makePaymentVM
@{
    ViewBag.Title = "Add Balance in Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h2 class="title">Payment Gateway</h2>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <iframe src="@Model.makePaymentURL" style="width:100%;height:auto;min-height:500px;border:none;"></iframe>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3 pull-left">
                                        <input type="button" class="btn btn-shade1" value="Back" onclick="window.location.href='../makePayment'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

