﻿@{
    ViewBag.Title = "Wallet Balance Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Wallet Balance Statistics</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content mt-2">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-left">User</th>
                                                <th class="text-right">Available Balance</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
        $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
            if (showMessage != '')
                notifyMessage(showMessage);
        });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                bindData();
            }
            else { window.location.href = "unauthorized";}
        });

        function bindData() {
            $("#tblDataList").DataTable({
                    ajax: {
                    url: "/adminReport/getEntityWalletState",
                        type: "GET",
                        datatype: "JSON"
                },
                dom: 'Blfltip',
                buttons: [
                    ['csv'],
                ],
                lengthMenu: [
                    [50, 100,500,1000,2000,5000],
                    ['50 rows', '100 rows', '500 rows', '1000 rows', '2000 rows', '5000 rows']
                ],
                    columns: [
                        { data: "AgencyName", name: "AgencyName",className:'text-left' },
                        { data: "WalletBalance", name: "WalletBalance",className:'text-right' }
                    ],
                    processing: true,
                    destroy: true,
                    serverSide: true,
                    "order": [0, 'asc'],
                    language: {
                        processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">" + loadingDataInDataGrid + "</div>"
                    }
            });
            $("#tblDataList_length").hide();
        }
    </script>
}