﻿@model  application.Main.ViewModels.myRoboticRechargeVM
@{
    ViewBag.Title = "Recharge Prepaid Mobile/Postpaid Mobile/DTH";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<div class="content-body">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-text text-center">
                        <h2 class="title">@Html.DisplayFor(model => model.Title)</h2>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Ajax.BeginForm("transactRecharge", "recharge1", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.DropDownListFor(model => model.objMyRoboticRechargeTransaction.MyRoboticRechargeDataId, new SelectList(Model.objMyRoboticUtilityDataList, "MyRoboticRechargeDataId", "OperatorName"), "--- Select Provider ---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.objMyRoboticRechargeTransaction.MyRoboticRechargeDataId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.EditorFor(model => model.objMyRoboticRechargeTransaction.mobileno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @maxlength = "10" } })
                                        @Html.ValidationMessageFor(model => model.objMyRoboticRechargeTransaction.mobileno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.EditorFor(model => model.objMyRoboticRechargeTransaction.amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount" } })
                                        @Html.ValidationMessageFor(model => model.objMyRoboticRechargeTransaction.amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}