﻿
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}
<link href="~/Content/css/pages/error.css" rel="stylesheet" />
<style>
    .bg-cyan.bg-lighten-2 {
        background-color: #F4F5FA !important;
    }
</style>
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-4 col-md-8 col-10 p-0">
        <div class="card-header bg-transparent border-0">
            <h2 class="error-code text-white text-center mb-2">403</h2>
            <h3 class="text-uppercase text-center text-white">Access Denied/Forbidden !</h3>
        </div>
        <div class="card-content">
            <fieldset class="row py-2">
                <div class="input-group col-12">
                    <input type="text" class="form-control border-grey border-lighten-1 " placeholder="Search..." aria-describedby="button-addon2">
                    <span class="input-group-append" id="button-addon2">
                        <button class="btn btn-secondary border-grey border-lighten-1" type="button"><i class="ft-search"></i></button>
                    </span>
                </div>
            </fieldset>
            <div class="row py-2">
                <div class="col-12 col-sm-12 col-md-12 mb-1">
                    <a href="/login" class="btn btn-primary btn-block"><i class="ft-home"></i> Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

