﻿@model  application.Main.ViewModels.SubMenuRolePermissionVM
@{
    ViewBag.Title = "Company wise Menu/Sub Menu Role Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Company wise Menu/Sub Menu Role Permission</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="form-group row mx-auto">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.objSubMenuRolePermissions.CompanyId)
                                        <fieldset>
                                            <div class="form-group position-relative">
                                                @Html.DropDownListFor(model => model.objSubMenuRolePermissions.CompanyId, new SelectList(Model.objCompanyList, "CompanyId", "CompanyName"), "--- Select Company ---", new { @class = "form-control", @id = "cboCompany" })
                                            </div>
                                        </fieldset>
                                        @Html.ValidationMessageFor(model => model.objSubMenuRolePermissions.CompanyId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6" id="divMainMenu">
                                        @Html.LabelFor(model => model.objSubMenuRolePermissions.RoleId)
                                        @Html.DropDownListFor(model => model.objSubMenuRolePermissions.RoleId, new SelectList(Model.clsMainMenuList, "MainMenuId", "MainMenuNme"), "--- Select Main Menu ---", new { @class = "form-control", @id = "cboMainMenu" })
                                        @Html.ValidationMessageFor(model => model.objSubMenuRolePermissions.MainMenuId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" id="pVPermission"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/js/scripts/forms/checkbox-radio.js");
    <script>
        $(document).ready(function () {
            $('#cboCompany').change(function () {
                populateMainMenuByCompanyPer($("#cboCompany").val(), "divMainMenu", "cboMainMenu", "objSubMenuCompanyPermissions.MainMenuId", "objSubMenuCompanyPermissions_MainMenuId");
            });
        });

        function populateDropDownData() {
            var mainMenuValue = $("#cboMainMenu").val();
            var companyValue = $("#cboCompany").val();
            if (mainMenuValue != "0" && companyValue != "0") {
                $("#pVPermission").load('@Url.Action("getSubMenuList", "companysubmenupermission")?companyId=' + companyValue + '&mainMenuId=' + mainMenuValue);
            }
        }
    </script>
}