﻿@model MvcNew.Models.mvcCountryModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    <h2>Coutry Add</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.CountryId)

        <div class="form-group">
            @Html.LabelFor(model => model.CountryName)
            @Html.EditorFor(model => model.CountryName)
            <br/>
            @Html.ValidationMessageFor(model => model.CountryName,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CountryCode)
            @Html.EditorFor(model => model.CountryCode)
            <br />
            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </div>
    }
</div>
@section scripts
    {
      @Scripts.Render("~/bundles/jqueryval"); 
    }