﻿@model IEnumerable<MvcNew.Models.mvcCountryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
    <a href="@Url.Action("AddOrEdit","Country")" class="btn btn-default">Create Country</a>
</p>
@if(Model.Count()==0)
{
    <h3>No Recored Found</h3>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
                
                @*@Html.CheckBox(modelItem => item.StatusId, modelItem => item.StatusId, modelItem => item.StatusId ? new { @disabled = "disabled", @class = "checkbox" } : null)*@
            </td>
            <td>
                <a href="@Url.Action("AddOrEdit","Country",new { id=item.CountryId})" class="btn btn-default">Edit</a>|
                
                <a onclick="Delete(@item.CountryId)" class="btn btn-default">Delete</a>
            </td>
        </tr>
    }

</table>
}
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify(successMessage);
        });
        function Delete(Id) {
            alertify.confirm('Alert', 'Are Your Sure Delete Recored?', function () {
                window.location.href = '@Url.Action("Delete","Country")/' + Id;
            }, null);
        }

    </script>
}

