﻿@model  application.Main.ViewModels.entitySlabCommissionVM
<div class="card-body mt-0">

    @using (Ajax.BeginForm("saveSlabWiseCommission", "slabCommission", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
    {
        @Html.AntiForgeryToken();
        <hr />
        <div class="form-body text-sm">
            @if (Model.objEntitySlabcommissionList.Count == 0)
            {
                <div class="text-center"><h2>No Commission Found!</h2></div>
            }
            <div class="form-group row mx-auto">
                <div class="col-md-2"><strong>Service</strong></div>
                <div class="col-md-2"><strong>Commission Type</strong></div>
                <div class="col-md-2"><strong>Amount Range</strong></div>
                <div class="col-md-2"><strong>Commission Value</strong></div>
                <div class="col-md-2"><strong>Set Commission Value</strong></div>
            </div>
            @for (int i = 0; i < Model.objEntitySlabcommissionList.Count; i++)
            {
                <div class="form-group row mx-auto">
                    <div class="col-md-2">
                        @Html.HiddenFor(model => model.objEntitySlabcommissionList[i].CompanyId)
                        @Html.DisplayFor(model => model.objEntitySlabcommissionList[i].ProductCode)
                        @Html.HiddenFor(model => model.objEntitySlabcommissionList[i].ProductId)
                        @Html.HiddenFor(model => model.objEntitySlabcommissionList[i].CommissionTypeId)
                        @Html.HiddenFor(model => model.objEntitySlabcommissionList[i].FromAmount)
                        @Html.HiddenFor(model => model.objEntitySlabcommissionList[i].ToAmount)
                        @Html.HiddenFor(model => model.objEntitySlabcommissionList[i].SlabCommissionId)
                        @Html.HiddenFor(model => model.objEntitySlabcommissionList[i].DefaultCommissionValue)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.objEntitySlabcommissionList[i].CommissionTypeName)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.objEntitySlabcommissionList[i].FromAmount) to @Html.DisplayFor(model => model.objEntitySlabcommissionList[i].ToAmount)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.objEntitySlabcommissionList[i].DefaultCommissionValue)
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.objEntitySlabcommissionList[i].CommissionValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Commission Value" } })
                        @Html.ValidationMessageFor(model => model.objEntitySlabcommissionList[i].CommissionValue, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="la la-check-square-o"></i> Save
            </button>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

