﻿@model  application.Main.ViewModels.entitySlabCommissionVM
@{
    ViewBag.Title = "Set Commission Slab Wise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Set Commission Slab Wise</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="form-group row mx-auto">
                                    <div class="col-md-4">
                                        <fieldset>
                                            @Html.DropDownListFor(model => model.objEntitySlabCommission.EntityId, new SelectList(Model.objEntityList, "EntityId", "AgencyName"), "--- Select Agency ---", new { @class = "form-control", @id = "cboEntity" })
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset>
                                            @Html.DropDownListFor(model => model.objEntitySlabCommission.ProductId, new SelectList(Model.objProductMasterList, "ProductId", "ProductCode"), "--- Select Product ---", new { @class = "form-control", @id = "cboProduct" })
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" id="pVPermission"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#cboEntity').change(function () {
                var entityTypeValue = $("#cboEntity").val() === "" ? "0" : $("#cboEntity").val();
                var productValue = $("#cboProduct").val() === "" ? "0" : $("#cboProduct").val();
                if (entityTypeValue !== "0")
                {
                    $("#pVPermission").empty();
                    $("#pVPermission").load('@Url.Action("getCommissionValue", "slabCommission")?entityId=' + entityTypeValue + '&productId=' + productValue);
                }
                else
                    $("#pVPermission").empty();
            });

            $('#cboProduct').change(function () {
                var entityTypeValue = $("#cboEntity").val() === "" ? "0" : $("#cboEntity").val();
                var productValue = $("#cboProduct").val() === "" ? "0" : $("#cboProduct").val();
                if (entityTypeValue !== "0")
                {
                    $("#pVPermission").empty();
                    $("#pVPermission").load('@Url.Action("getCommissionValue", "slabCommission")?entityId=' + entityTypeValue + '&productId=' + productValue);
                }
                else
                    $("#pVPermission").empty();
            });
        });
    </script>
}