﻿@model  application.Main.ViewModels.mdViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Master Distributor</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="heading-elements text-right">
                            <ul class="list-inline mb-0">
                                <li><a href="@Url.Action("index", "masterDistributor")" class="btn btn-success btn-md">View All Master Distributor</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveMasterDistributor", "entityMaster", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Agency Info</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityMaster.AgencyName)
                                            @Html.EditorFor(model => model.objEntityMaster.AgencyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Agency Name" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.AgencyName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityMaster.Website)
                                            @Html.EditorFor(model => model.objEntityMaster.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Website" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.Website, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityMaster.Domain)
                                            @Html.EditorFor(model => model.objEntityMaster.Domain, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Domain" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.Domain, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objEntityMaster.OfficeAddress1)
                                            @Html.TextAreaFor(model => model.objEntityMaster.OfficeAddress1, new { @class = "form-control", @placeholder = "Enter Office Address 1" })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.OfficeAddress1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objEntityMaster.OfficeAddress2)
                                            @Html.TextAreaFor(model => model.objEntityMaster.OfficeAddress2, new { @class = "form-control", @placeholder = "Enter Office Address 2" })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.OfficeAddress2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-9">
                                            @Html.LabelFor(model => model.objEntityMaster.Landmark)
                                            @Html.EditorFor(model => model.objEntityMaster.Landmark, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Landmark" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.Landmark, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityMaster.PinCode)
                                            @Html.EditorFor(model => model.objEntityMaster.PinCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PinCode" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.PinCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityMaster.CountryId)
                                            @Html.DropDownListFor(model => model.objEntityMaster.CountryId, new SelectList(Model.objCountryList, "CountryId", "CountryName"), "--- Select Country ---", new { @class = "form-control", @id = "cboCountry" })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.CountryId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divState">
                                            @Html.LabelFor(model => model.objEntityMaster.StateId)
                                            @Html.DropDownListFor(model => model.objEntityMaster.StateId, new SelectList(Model.objStateList, "StateId", "StateName"), "--- Select State ---", new { @class = "form-control", @id = "cboState" })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.StateId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divCity">
                                            @Html.LabelFor(model => model.objEntityMaster.CityId)
                                            @Html.DropDownListFor(model => model.objEntityMaster.CityId, new SelectList(Model.objCityList, "CityId", "CityName"), "--- Select City ---", new { @class = "form-control", @id = "cboCity" })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.CityId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityMaster.Telephone1)
                                            @Html.EditorFor(model => model.objEntityMaster.Telephone1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Office Telephone 1" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.Telephone1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityMaster.Telephone2)
                                            @Html.EditorFor(model => model.objEntityMaster.Telephone2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Office Telephone 2" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.Telephone2, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityMaster.EmailId1)
                                            @Html.EditorFor(model => model.objEntityMaster.EmailId1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Office EmailId 1" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.EmailId1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objEntityMaster.EmailId2)
                                            @Html.EditorFor(model => model.objEntityMaster.EmailId2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Office EmailId 2" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.EmailId2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityMaster.AccountHandlerUserId)
                                            @Html.DropDownListFor(model => model.objEntityMaster.AccountHandlerUserId, new SelectList(Model.objAccountHandlerList, "AdminLoginId", "PersonName"), "--- Select Account Handler ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.AccountHandlerUserId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityMaster.MinimumBalanceMaintain)
                                            @Html.EditorFor(model => model.objEntityMaster.MinimumBalanceMaintain, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Min Balance Maintain" } })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.MinimumBalanceMaintain, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityMaster.StatusId)
                                            @Html.DropDownListFor(model => model.objEntityMaster.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityMaster.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">Lead User Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.PersonName)
                                            @Html.EditorFor(model => model.objEntityUser.PersonName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Person Name" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.PersonName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.Mobile)
                                            @Html.EditorFor(model => model.objEntityUser.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No." } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.EmailId)
                                            @Html.EditorFor(model => model.objEntityUser.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Id" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.EmailId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.UserName)
                                            @Html.EditorFor(model => model.objEntityUser.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter User Name" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityUser.Password)
                                            @Html.EditorFor(model => model.objEntityUser.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password" } })
                                            @Html.ValidationMessageFor(model => model.objEntityUser.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objEntityMaster.EntityId)
                                    @Html.HiddenFor(model => model.objEntityUser.EntityUserId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/masterDistributor")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function () {
            $('#cboCountry').change(function () {
                populateStateByCountryId($("#cboCountry").val(), "divState", "cboState", "objEntityMaster.StateId", "objEntityMaster_StateId");
            });
        });

        function bindCityOnStateChange(stateId) {
            populateCityByStateId(stateId, "divCity", "cboCity", "objEntityMaster.CityId", "objEntityMaster_CityId");
        };
    </script>
}

