﻿@model  application.Main.Models.InstantPayDMT_remitter_register_request
@using application.Main.Models;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Money Transfer</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Html.BeginForm("saveRemitter", "instantPayDMT", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div id="balance" class="tabcontent">
                                        <h4 class="form-section">Add Sender/Customer</h4>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.request.mobile)
                                                @Html.EditorFor(model => model.request.mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.request.mobile, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.request.name)
                                                @Html.EditorFor(model => model.request.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                                                @Html.ValidationMessageFor(model => model.request.name, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.request.surname)
                                                @Html.EditorFor(model => model.request.surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Surname" } })
                                                @Html.ValidationMessageFor(model => model.request.surname, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.request.pincode)
                                                @Html.EditorFor(model => model.request.pincode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Pincode." } })
                                                @Html.ValidationMessageFor(model => model.request.pincode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check-square-o"></i> Submit
                                                </button>
                                                <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Action("Dashboard","instantPayDMT",new { MobileNo=ViewBag.MobileNo})'">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </div>                                           
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

    </script>   
}
