﻿@{
    ViewBag.Title = "Beneficiary List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Beneficiary List</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("Dashboard", "instantPayDMT",new {MobileNo=@ViewBag.MobileNo})" class="btn btn-success btn-sm">DashBoard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                <th>Bank</th>
                                                <th>Account</th>
                                                <th>IFSCCode</th>
                                                <th>IMPS Status</th>
                                                <th>Beneficiary Status</th>
                                                <th class="text-center">Beneficiary Verify</th>
                                                <th class="text-center">Account Verify</th>
                                                <th class="text-center">Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" id="otp-dialog">
    <div class="modal-dialog modal-top modal-frame modal-notify modal-info">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">Remove Beneficiary</h3>
                <input type="hidden" id="hidRemitterId" />
                <input type="hidden" id="hidBeneficiaryId" />
                <div class="row">
                    <div class="col-sm-10">
                        <label>Enter OTP</label>
                        <input type="text" name="txtOTP" class="form-control" id="txtOTP" required />
                        <br />
                        <input type="button" id="btnSubmitOtp" class="btn btn-success btn-sm" name="btnSubmitOtp" value="Submit" />
                        <input type="button" id="btnCancelOtp" class="btn btn-info btn-sm" name="btnCancelOtp" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function ()
        {

        var dataList = $("#tblDataList").DataTable({
                ajax: {
                    url: '/instantPayDMT/getAllBeneficiaryList?MobileNo=@ViewBag.MobileNo',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    { data: "name", name: "name" },
                    { data: "mobile", name: "mobile" },
                    { data: "bank", name: "bank" },
                    { data: "account", name: "account" },
                    { data: "ifsc", name: "ifsc" },
                     {
                        data: "imps", name: "imps",
                        render: function (data) {
                            return (data === "1" ? "<span class='badge badge-success'>True</span>" : "<span class='badge badge-danger'>False</span>");
                        }
                    },
                    {
                        data: "status", name: "status",
                        render: function (data) {
                            return (data === "1" ? "<span class='badge badge-success'>Verify</span>" : "<span class='badge badge-danger'>not Verify</span>");
                        }
                    },
                    {
                        data: "id","orderable":false,
                        render: function (data, type, objData) {
                            if (objData.status === "0") {
                                return "<a href=\"/instantPayDMT/BeneficiaryVerifiedDirect/" + objData.id + "?MobileNo=@ViewBag.MobileNo\" class=\"btn btn-outline-primary edit-item-btn btn-sm\">Verify</a>";
                            }
                            else {
                                  return null;
                            }
                        }
                    },
                    {
                        data: "id","orderable":false,
                        render: function (data, type, objData) {
                                return "<a href=\"/instantPayDMT/accountVerifiedDirect/" + objData.id + "?MobileNo=@ViewBag.MobileNo\" class=\"btn btn-outline-primary edit-item-btn btn-sm\">Account Verify</a>";
                        }
                    },
                    {
                        data: "id","orderable":false,
                        render: function (data, type, objData) {
                            return "<button class=\"btn btn-outline-primary delete-item-btn btn-sm js-delete\" data-id=" + objData.id + ">DELETE</button>";
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\"><strong>Warning!</strong> Processing...</div>"
                }
            });

            $("#tblDataList").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: '/instantPayDMT/deleteBeneficiary?id=' + deleteButton.attr("data-id")+ '&MobileNo=' + @ViewBag.MobileNo,
                        method: 'POST',
                        success: function (result) {
                                var arrayResult = result.split('|');
                            if (arrayResult.length == 3) {
                                $("#hidBeneficiaryId").val(arrayResult[1]);
                                $("#hidRemitterId").val(arrayResult[2]);
                                $("#otp-dialog").modal({ keyboard: false, backdrop: 'static' });
                            }
                            else {
                                 var url = '@Url.Action("AllBeneficiary","instantPayDMT")';
                                   window.location.href = url+"?MobileNo="+@ViewBag.MobileNo;
                            }
                        }
                    });
                }
            });

            $("#btnSubmitOtp").click(function () {
                debugger;
                var Otp = $("#txtOTP").val();
                var lengthOtp=Otp.length;

                if (lengthOtp>1) {
                    $("#otp-dialog").modal('hide');
                    var RemitterId = $("#hidRemitterId").val();
                    var BeneficiaryId=$("#hidBeneficiaryId").val();
                  var url = '@Url.Action("RemoveValidateBeneficiary","instantPayDMT")';
                  window.location.href = url+"?MobileNo="+@ViewBag.MobileNo+"&RemitterId="+RemitterId+"&BeneficiaryId="+BeneficiaryId+"&OTP="+Otp;
                }
                });

            $("#btnCancelOtp").click(function () {
                  var url = '@Url.Action("AddBeneficiary","instantPayDMT")';
                  window.location.href = url+"?MobileNo="+@ViewBag.MobileNo;
        });
        });
    </script>
}
