﻿@model  application.Main.Models.instantPayDMT_remitter_details_response
@{
    ViewBag.Title = "InstantPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">DASH BOARD</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="row mx-auto">
                            <div class="col-sm-3">
                                <h4>@Html.DisplayFor(model => model.data.remitter.name)</h4>
                            </div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3">
                                <h4><b>Your Mobile:- </b>@Html.DisplayFor(model => model.data.remitter.mobile)</h4>
                            </div>                           
                        </div>
                        <div class="col-sm-12 text-center">
                            <a class="btn btn-primary circle-shape" href="@Url.Content("AllBeneficiary?MobileNo=" + Model.data.remitter.mobile + "")">All Beneficiary</a>
                            <a class="btn btn-primary circle-shape" href="@Url.Content("AddBeneficiary?MobileNo=" +Model.data.remitter.mobile + "")">Add Beneficiary</a>
                            <a class="btn btn-primary circle-shape" href="@Url.Content("Transfer?MobileNo="+Model.data.remitter.mobile+"")">Transfer Money</a>
                            <a class="btn btn-primary circle-shape" href="@Url.Content("ViewTransaction?MobileNo="+Model.data.remitter.mobile+"")">View Transaction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}

