﻿@model  application.Main.ViewModels.instantPayDMT_TransferViewModel
@using application.Main.Models;
@{
    ViewBag.Title = "Money Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Money Transfer</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Html.BeginForm("saveTransfer", "instantPayDMT", FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div id="balance" class="tabcontent">
                                        <h4 class="form-section">Transfer Money</h4>

                                        <div class="form-group row mx-auto">                                            
                                            @Html.HiddenFor(model => model.objTransaction.request.remittermobile)
                                            @Html.HiddenFor(model => model.objTransaction.request.mode)

                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objTransaction.request.beneficiaryid)
                                                @Html.DropDownListFor(model => model.objTransaction.request.beneficiaryid, new SelectList(Model.objBeneficiryList, "id", "name"), "--- Select Beneficiary ---", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.objTransaction.request.beneficiaryid, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objTransaction.request.amount)
                                                @Html.EditorFor(model => model.objTransaction.request.amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount" } })
                                                @Html.ValidationMessageFor(model => model.objTransaction.request.amount, "", new { @class = "text-danger" })
                                                @Html.Label("Example", "Example 100.00", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>

                                        </div>

                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check-square-o"></i> Submit
                                                </button>
                                                <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Action("Dashboard","instantPayDMT",new { MobileNo=ViewBag.MobileNo})'">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}
