﻿@model  application.Main.ViewModels.MenuEntityTypePermissionVM
<div class="card-body">

    @using (Ajax.BeginForm("SaveMenuEntityTypePermission", "menuEntityTypePermission", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
    {
        @Html.AntiForgeryToken();
        <hr />
        <div class="form-body text-sm">
            @Html.HiddenFor(model => model.entityTypeId)
            @if (Model.objMainMenuList.Count == 0)
            {
                <div class="text-center"><h2>No Main Menu Found!</h2></div>
            }
            <div class="form-group row mx-auto">
                <div class="col-md-7">Main Menu</div>
                <div class="col-md-5">Sub Menu</div>
            </div>
            @for (int i = 0; i < Model.objMainMenuList.Count; i++)
            {
                <div class="form-group row mx-auto">
                    <div class="col-md-2">
                        @Html.HiddenFor(model => model.objMainMenuList[i].MainMenuId)
                        @Html.DisplayFor(model => model.objMainMenuList[i].MainMenuName)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.objMainMenuList[i].ExternalURL)
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.objMainMenuList[i].CanView)
                        <label>Can View</label>
                    </div>
                    <div class="col-md-6">
                        @for (int j = 0; j < Model.objSubMenuList.Count; j++)
                        {
                            if (Model.objSubMenuList[j].MainMenuId == Model.objMainMenuList[i].MainMenuId)
                            {
                                <div class="form-group row max-auto">
                                    <div class="col-md-5">
                                        @Html.HiddenFor(model => model.objSubMenuList[j].MainMenuId)
                                        @Html.HiddenFor(model => model.objSubMenuList[j].SubMenuId)
                                        @Html.DisplayFor(model => model.objSubMenuList[j].SubMenuName)
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DisplayFor(model => model.objSubMenuList[j].ExternalURL)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.CheckBoxFor(model => model.objSubMenuList[j].CanView)
                                        <label>Can View</label>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="la la-check-square-o"></i> Save
            </button>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

