﻿@model  application.Main.ViewModels.MenuEntityTypePermissionVM
@{
    ViewBag.Title = "Entity Type Wise Menu List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Set Entity Type Wise Menu Permission</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="form-group row mx-auto">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.entityTypeId)
                                        <fieldset>
                                            <div class="form-group position-relative">
                                                @Html.DropDownListFor(model => model.entityTypeId, new SelectList(Model.objEntityTypeList, "EntityTypeId", "EntityTypeName"), "--- Select Type ---", new { @class = "form-control", @id = "cboEntityType" })
                                            </div>
                                        </fieldset>
                                        @Html.ValidationMessageFor(model => model.entityTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" id="pVPermission"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/js/scripts/forms/checkbox-radio.js");
    <script>
        $(document).ready(function () {
            $('#cboEntityType').change(function () {
                var entityTypeValue = $("#cboEntityType").val();
                if (entityTypeValue !== "0")
                {
                    $("#pVPermission").empty();
                    $("#pVPermission").load('@Url.Action("getMenuList", "menuEntityTypePermission")?entityTypeId=' + entityTypeValue);
                }
                else
                    $("#pVPermission").empty();
            });
        });
    </script>
}