﻿@model  application.Main.ViewModels.productMasterViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../content/vendors/css/pickers/pickadate/pickadate.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Create New Product</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "productMaster")" class="btn btn-success btn-md">View All Products</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveProduct", "productMaster", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Product Company Info</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.ProductCode)
                                            @Html.EditorFor(model => model.objProduct.ProductCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Product Code" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.ProductCode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.AgencyName)
                                            @Html.EditorFor(model => model.objProduct.AgencyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Agency Name" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.AgencyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.ContactPersonName1)
                                            @Html.EditorFor(model => model.objProduct.ContactPersonName1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact Person Name 1" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.ContactPersonName1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.ContactPersonName2)
                                            @Html.EditorFor(model => model.objProduct.ContactPersonName2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact Person Name 2" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.ContactPersonName2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.EmailId1)
                                            @Html.EditorFor(model => model.objProduct.EmailId1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter EmailId 1" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.EmailId1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.EmailId2)
                                            @Html.EditorFor(model => model.objProduct.EmailId2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter EmailId 2" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.EmailId2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.Address1)
                                            @Html.TextAreaFor(model => model.objProduct.Address1, new { @class = "form-control", @placeholder = "Enter Address 1" })
                                            @Html.ValidationMessageFor(model => model.objProduct.Address1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.Address2)
                                            @Html.TextAreaFor(model => model.objProduct.Address2, new { @class = "form-control", @placeholder = "Enter Address 2" })
                                            @Html.ValidationMessageFor(model => model.objProduct.Address2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.Telephone1)
                                            @Html.EditorFor(model => model.objProduct.Telephone1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Telephone 1" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.Telephone1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.Telephone2)
                                            @Html.EditorFor(model => model.objProduct.Telephone2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Telephone 2" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.Telephone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objProduct.Website)
                                            @Html.EditorFor(model => model.objProduct.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Website" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.Website, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objProduct.GSTNumber)
                                            @Html.EditorFor(model => model.objProduct.GSTNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GST No." } })
                                            @Html.ValidationMessageFor(model => model.objProduct.GSTNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objProduct.PanCardNumber)
                                            @Html.EditorFor(model => model.objProduct.PanCardNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PAN No." } })
                                            @Html.ValidationMessageFor(model => model.objProduct.PanCardNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">Bank Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objProduct.BankAccountTitle)
                                            @Html.EditorFor(model => model.objProduct.BankAccountTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Account Title" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.BankAccountTitle, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objProduct.BankAccountNumber)
                                            @Html.EditorFor(model => model.objProduct.BankAccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Account Number" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.BankAccountNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objProduct.BankName)
                                            @Html.EditorFor(model => model.objProduct.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.BankName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">Other Fix Charges (If Applicable)</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objProduct.OtherChargesByVendor)
                                            @Html.EditorFor(model => model.objProduct.OtherChargesByVendor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Other Fix Charges" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.OtherChargesByVendor, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">Service Charge (If Applicable)</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.ServiceChargeApplicable)
                                            @Html.CheckBoxFor(model => model.objProduct.ServiceChargeApplicable)
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.ServiceChargeType)
                                            @Html.DropDownListFor(model => model.objProduct.ServiceChargeType, new SelectList(Model.objServiceChargeTypeList, "TypeId", "TypeName"), "--- Select Type ---", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.ServiceChargeValue)
                                            @Html.EditorFor(model => model.objProduct.ServiceChargeValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Value" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.ServiceChargeValue, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.GSTOnServiceCharge)
                                            @Html.EditorFor(model => model.objProduct.GSTOnServiceCharge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GST On Service Charge" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.GSTOnServiceCharge, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.TDSOnServiceCharge)
                                            @Html.EditorFor(model => model.objProduct.TDSOnServiceCharge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter TDS On Service Charge" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.TDSOnServiceCharge, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">Commission Detail (If Applicable)</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.CommissionApplicable)
                                            @Html.CheckBoxFor(model => model.objProduct.CommissionApplicable)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.CommissionOn)
                                            @Html.DropDownListFor(model => model.objProduct.CommissionOn, new SelectList(Model.objCommissionOn), "--- Select Commission On ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objProduct.CommissionOn, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.GSTRateOnCommission)
                                            @Html.EditorFor(model => model.objProduct.GSTRateOnCommission, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GST Rate" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.GSTRateOnCommission, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.TDSRateOnCommission)
                                            @Html.EditorFor(model => model.objProduct.TDSRateOnCommission, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter TDS Rate" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.TDSRateOnCommission, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">MarkUp (If Applicable)</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.MarkUpApplicable)
                                            @Html.CheckBoxFor(model => model.objProduct.MarkUpApplicable)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.MarkUpType)
                                            @Html.DropDownListFor(model => model.objProduct.MarkUpType, new SelectList(Model.objServiceChargeTypeList, "TypeId", "TypeName"), "--- Select Type ---", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.MarkUpValue)
                                            @Html.EditorFor(model => model.objProduct.MarkUpValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Value" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.MarkUpValue, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.GSTRateOnMarkUp)
                                            @Html.EditorFor(model => model.objProduct.GSTRateOnMarkUp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GST On MarkUp" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.GSTRateOnMarkUp, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.TDSRateOnMarkUp)
                                            @Html.EditorFor(model => model.objProduct.TDSRateOnMarkUp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter TDS On MarkUp" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.TDSRateOnMarkUp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">API Service Mode</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.IsServiceLIVE)
                                            @Html.CheckBoxFor(model => model.objProduct.IsServiceLIVE)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.CredentialFileName)
                                            @Html.EditorFor(model => model.objProduct.CredentialFileName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credentials JSON File" } })
                                            @Html.ValidationMessageFor(model => model.objProduct.CredentialFileName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.CustomCommissionApplicable)
                                            @Html.CheckBoxFor(model => model.objProduct.CustomCommissionApplicable)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.SlabCommissionApplicable)
                                            @Html.CheckBoxFor(model => model.objProduct.SlabCommissionApplicable)
                                        </div>
                                    </div>
                                    <h4 class="form-section">Product Active Status</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objProduct.StatusId)
                                            @Html.DropDownListFor(model => model.objProduct.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objProduct.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.PartialStop)
                                            @Html.CheckBoxFor(model => model.objProduct.PartialStop)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objProduct.FullStop)
                                            @Html.CheckBoxFor(model => model.objProduct.FullStop)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objProduct.ProductId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/productmaster")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

