﻿@model  application.Main.ViewModels.productMasterViewModel
@{
    ViewBag.Title = "Company List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Product List</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="heading-elements text-right">
                            <ul class="list-inline mb-0">
                                <li><a href="@Url.Action("addEdit", "productMaster")" class="btn btn-success btn-md">Add New Product</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Agency Name</th>
                                                <th>Name</th>
                                                <th>Mobile No</th>
                                                <th>Email Id</th>
                                                <th>Service Mode</th>
                                                <th>Status</th>
                                                <th class="text-center">Created Since</th>
                                                <th class="text-center">Edit</th>
                                                <th class="text-center">Partial Stop</th>
                                                <th class="text-center">Full Stop</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                 var dataList = $("#tblDataList").DataTable({
                ajax: {
                    url: '/productMaster/getProductList',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    { data: "ProductCode", name: "ProductCode" },
                    { data: "AgencyName", name: "CompanyTypeName" },
                    { data: "ContactPersonName1", name: "ContactPersonName" },
                    { data: "Telephone1", name: "ContactPersonMobile" },
                    { data: "EmailId1", name: "EmailId1" },
                    {
                        data: "IsServiceLIVE", name: "IsServiceLIVE",
                        render: function (data) {
                            return (data === true ? "<span class='badge badge-success'>YES</span>" : "<span class='badge badge-danger'>NO</span>");
                        }
                    },
                    {
                        data: "StatusName", name: "StatusName",
                        render: function (data) {
                            return (data === "Active" ? "<span class='badge badge-success'>" + data + "</span>" : data==="In-Active"? "<span class='badge badge-danger'>" + data + "</span>":"<span class='badge badge-danger'>" + data + "</span>");
                        }
                    },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, objData) {
                            return "<a href=\"/productMaster/addEdit/" + objData.ProductId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";

                        }
                    },
                    {
                        data: "PartialStop", name: "PartialStop", className:"text-center",
                        render: function (data) {
                            return (data === true  ? "<span class='badge badge-danger'>YES</span>" :"<span class='badge badge-success'>NO</span>");
                        }
                    },
                    {
                        data: "FullStop", name: "FullStop",className:"text-center",
                        render: function (data) {
                            return (data === true  ? "<span class='badge badge-danger'>YES</span>" :"<span class='badge badge-success'>NO</span>");
                        }
                    }

                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblDataList").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: 'productMaster/deleteProduct/' + deleteButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                dataList.row(deleteButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {
                 window.location.href = "unauthorized";
            }
        });
    </script>
}


