﻿@model  application.Main.ViewModels.mobileRechargeVendorCommissionVM
<div class="card-body">

    @using (Ajax.BeginForm("saveCustomCommission", "adminMobileRecharge", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
    {
        @Html.AntiForgeryToken();
        <hr />
        <div class="form-body text-sm">
            @Html.HiddenFor(model => model.EntityTypeId)
            @Html.HiddenFor(model => model.EntityId)
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                    <thead>
                        <tr>
                            <th class="text-left">Vendor</th>
                            <th class="text-left">Operator</th>
                            <th class="text-center">Fetch Bill</th>
                            <th class="text-center">BBPS Enabled</th>
                            <th class="text-center">Commission Type</th>
                            <th class="text-center">Commission Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.objMobileRechargeVendorCommissionList.Count; i++)
                        {
                            <tr>
                                <td class="text-left">
                                    @Html.Raw(Model.objMobileRechargeVendorCommissionList[i].VendorName)
                                </td>
                                <td class="text-left">
                                    @Html.HiddenFor(model => model.objMobileRechargeVendorCommissionList[i].OperatorVendorCommissionId)
                                    @Html.HiddenFor(model => model.objMobileRechargeVendorCommissionList[i].OperatorVendorId)
                                    @Html.HiddenFor(model => model.objMobileRechargeVendorCommissionList[i].OperatorId)
                                    @Html.DisplayFor(model => model.objMobileRechargeVendorCommissionList[i].OperatorName)
                                </td>
                                <td class="text-center">
                                    @Html.Raw(Model.objMobileRechargeVendorCommissionList[i].FetchBill)
                                </td>
                                <td class="text-center">
                                    @Html.Raw(Model.objMobileRechargeVendorCommissionList[i].BBPSEnabled)
                                </td>
                                <td class="text-center">
                                    @Html.DropDownListFor(model => model.objMobileRechargeVendorCommissionList[i].CommissionTypeId, new SelectList(Model.objCommissionTypeList, "CommissionTypeId", "CommissionTypeName"), "--- Select Commission Type ---", new { @class = "form-control form-control-sm" })
                                </td>
                                <td class="text-center">
                                    @Html.EditorFor(model => model.objMobileRechargeVendorCommissionList[i].CommissionValue, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Enter Commission Value" } })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="la la-check-square-o"></i> Save
            </button>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}