﻿@model  application.Main.ViewModels.mobileRechargeCircleVM
@{
    ViewBag.Title = "Manage Mobile Recharge Circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
<link href="~/Content/css/plugins/forms/checkboxes-radios.css" rel="stylesheet" />
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Circle</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a href="@Url.Action("circle", "adminMobileRecharge")" class="btn btn-success btn-md">View All Circle</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveCircle", "adminMobileRecharge", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objMobileRechargeCircle.CircleName)
                                            @Html.EditorFor(model => model.objMobileRechargeCircle.CircleName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Circle Name" } })
                                            @Html.ValidationMessageFor(model => model.objMobileRechargeCircle.CircleName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1 pt-26">
                                                    @Html.CheckBoxFor(model => model.objMobileRechargeCircle.Status, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objMobileRechargeCircle.Status, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objMobileRechargeCircle.CircleId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/adminMobileRecharge/circle")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Content/js/scripts/forms/checkbox-radio.js"></script>
    <script>
        $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}

