﻿@model  application.Main.ViewModels.mobileRechargeVendorCommissionVM
@{
    ViewBag.Title = "Mobile Recharge Vendor Custom Commission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Set Mobile Recharge Custom Commission</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="form-group row mx-auto">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.EntityTypeId)
                                        @Html.DropDownListFor(model => model.EntityTypeId, new SelectList(Model.objEntityTypeList, "EntityTypeId", "EntityTypeName"), "--- Select Agency Type ---", new { @class = "form-control form-control-sm", @id = "cboEntityType" })
                                    </div>
                                    <div class="col-md-3" id="divEntity">
                                        @Html.LabelFor(model => model.EntityId)
                                        @Html.DropDownListFor(model => model.EntityId, new SelectList(Model.objEntityList, "EntityId", "AgencyName"), "--- Select Agency ---", new { @class = "form-control form-control-sm", @id = "cboEntity" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.VendorName)
                                        @Html.DropDownListFor(model => model.VendorName, new SelectList(Model.objMobileRechargeDistinctVendorList), "--- Select Vendor ---", new { @class = "form-control form-control-sm", @id = "cboVendor" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.OperatorTypeId)
                                        @Html.DropDownListFor(model => model.OperatorTypeId, new SelectList(Model.objMobileRechargeOperatorTypeList, "OperatorTypeId", "OperatorTypeName"), "--- Select Operator Type ---", new { @class = "form-control form-control-sm", @id = "cboOperatorType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" id="pVDefaultCommission"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/js/scripts/forms/checkbox-radio.js");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            //$('#cboEntity').select2().trigger('change');
        });

        $('#cboEntityType').change(function () {
            //var entityTypeValue = $("#cboEntityType").val();
            //var vendorName = $("#cboVendor").val();
            //var operatorTypeId = $("#cboOperatorType").val();
            populate_EntityMasterByEntityTypeID_4_Report($("#cboEntityType").val(), "divEntity", "cboEntity", "EntityId", "EntityId");
        });

        $('#cboVendor').change(function () {
            var entityTypeValue = $("#cboEntityType").val();
            var vendorName = $("#cboVendor").val();
            var operatorTypeId = $("#cboOperatorType").val();
            var entityId = $("#cboEntity").val();
            loadOperatorCommissionDetail(entityTypeValue, vendorName, operatorTypeId, entityId);
        });
        $('#cboOperatorType').change(function () {
            var entityTypeValue = $("#cboEntityType").val();
            var vendorName = $("#cboVendor").val();
            var operatorTypeId = $("#cboOperatorType").val();
            var entityId = $("#cboEntity").val();
            loadOperatorCommissionDetail(entityTypeValue, vendorName, operatorTypeId, entityId);
        });

        $('#cboEntity').change(function () {
            var entityTypeValue = $("#cboEntityType").val();
            var vendorName = $("#cboVendor").val();
            var operatorTypeId = $("#cboOperatorType").val();
            var entityId = $("#cboEntity").val();
            loadOperatorCommissionDetail(entityTypeValue, vendorName, operatorTypeId, entityId);
        });

        function loadOperatorCommissionDetail(entityTypeId, vendor, operatorTypeId, entityId) {
            $("#pVDefaultCommission").empty();
            $("#pVDefaultCommission").load('@Url.Action("getVendorCustomCommissionDetail", "adminMobileRecharge")?entityTypeId=' + entityTypeId + '&vendorName=' + vendor + '&operatorType=' + operatorTypeId + '&entityId=' + entityId);
        }
    </script>
}