﻿@model  application.Main.ViewModels.mobileRechargeVendorCommissionVM
@{
    ViewBag.Title = "Mobile Recharge Vendor Default Commission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Set Mobile Recharge Default Commission</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="form-group row mx-auto">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.EntityTypeId)
                                        <fieldset>
                                            <div class="form-group position-relative">
                                                @Html.DropDownListFor(model => model.EntityTypeId, new SelectList(Model.objEntityTypeList, "EntityTypeId", "EntityTypeName"), "--- Select Type ---", new { @class = "form-control form-control-sm", @id = "cboEntityType" })
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.VendorName)
                                        <fieldset>
                                            <div class="form-group position-relative">
                                                @Html.DropDownListFor(model => model.VendorName, new SelectList(Model.objMobileRechargeDistinctVendorList), "--- Select Vendor ---", new { @class = "form-control form-control-sm", @id = "cboVendor" })
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.OperatorTypeId)
                                        <fieldset>
                                            <div class="form-group position-relative">
                                                @Html.DropDownListFor(model => model.OperatorTypeId, new SelectList(Model.objMobileRechargeOperatorTypeList, "OperatorTypeId", "OperatorTypeName"), "--- Select Vendor ---", new { @class = "form-control form-control-sm", @id = "cboOperatorType" })
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" id="pVDefaultCommission"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/js/scripts/forms/checkbox-radio.js");
    <script>
        $(document).ready(function () {
            $('#cboEntityType').change(function () {
                var entityTypeValue = $("#cboEntityType").val();
                var vendorName = $("#cboVendor").val();
                var operatorTypeId = $("#cboOperatorType").val();
                loadOperatorCommissionDetail(entityTypeValue, vendorName, operatorTypeId);
            });

            $('#cboVendor').change(function () {
                var entityTypeValue = $("#cboEntityType").val();
                var vendorName = $("#cboVendor").val();
                var operatorTypeId = $("#cboOperatorType").val();
                loadOperatorCommissionDetail(entityTypeValue, vendorName, operatorTypeId);
            });

            $('#cboOperatorType').change(function () {
                var entityTypeValue = $("#cboEntityType").val();
                var vendorName = $("#cboVendor").val();
                var operatorTypeId = $("#cboOperatorType").val();
                loadOperatorCommissionDetail(entityTypeValue, vendorName, operatorTypeId);
            });
        });

        function loadOperatorCommissionDetail(entityTypeId, vendor, operatorTypeId) {
            $("#pVDefaultCommission").empty();
            $("#pVDefaultCommission").load('@Url.Action("getVendorCommissionDetail", "adminMobileRecharge")?entityTypeId=' + entityTypeId + '&vendorName=' + vendor + '&operatorType=' + operatorTypeId);
        }
    </script>
}