﻿@model  application.Main.ViewModels.mobileRechargeOperatorVM
@{
    ViewBag.Title = "Manage Mobile Recharge Operator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }

    .imgHolder {
        position: relative;
        display: block;
    }

    .bimg-150 {
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .bimg-80 {
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .imgHolder .imageBoxPad {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 1% 1%;
    }

        .imgHolder .imageBoxPad .removeImg {
            position: relative;
            width: 18px;
            height: 18px;
            padding: 0px;
            font-weight: bold;
        }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
<link href="~/Content/css/plugins/forms/checkboxes-radios.css" rel="stylesheet" />
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Mobile Operator</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a href="@Url.Action("mobileOperator", "adminMobileRecharge")" class="btn btn-success btn-md">View All Mobile Operator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveMobileOperator", "adminMobileRecharge", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objMobileRechargeOperator.OperatorTypeId)
                                            @Html.DropDownListFor(model => model.objMobileRechargeOperator.OperatorTypeId, new SelectList(Model.objMobileRechargeOperatorTypeList, "OperatorTypeId", "OperatorTypeName"), "--- Select Operator Type ---", new { @class = "form-control", @id = "cboOperatorType" })
                                            @Html.ValidationMessageFor(model => model.objMobileRechargeOperator.OperatorTypeId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objMobileRechargeOperator.OperatorName)
                                            @Html.EditorFor(model => model.objMobileRechargeOperator.OperatorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Operator Name" } })
                                            @Html.ValidationMessageFor(model => model.objMobileRechargeOperator.OperatorName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1 pt-26">
                                                    @Html.CheckBoxFor(model => model.objMobileRechargeOperator.Status, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objMobileRechargeOperator.Status, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-4">
                                            <label>Upload Photo</label>
                                            <input type="file" id="HPOperatorImage" name="HPOperatorImage" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imagePreview" src="@Url.Content(Model.objMobileRechargeOperator.OperatorImage)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="HPPhoto_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objMobileRechargeOperator.OperatorId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/adminMobileRecharge/mobileOperator")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Content/js/scripts/forms/checkbox-radio.js"></script>
    <script>
        $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
        });

        $('#HPOperatorImage').change(function () {
            var fileName = $('#HPOperatorImage').val();
            if (fileName) {
                HPPhoto_readURL(this);
            } else {
                $('#imagePreview').attr('src', '~/CompanyLogo/NoImages.png');
            }
        });

        function HPPhoto_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imagePreview').attr('src', '~/CompanyLogo/NoImages.png');
            }
        }

        function HPPhoto_RemoveImage() {
            $('#imagePreview').attr('src', '~/CompanyLogo/NoImages.png');
            $('#HPOperatorImage').val("");
        }
    </script>
}

