﻿@model  application.Main.ViewModels.mobileRechargeVendorVM
@{
    ViewBag.Title = "Manage Mobile Operator Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
<link href="~/Content/css/plugins/forms/checkboxes-radios.css" rel="stylesheet" />
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Mobile Operator Vendor</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("vendor", "adminMobileRecharge")" class="btn btn-success btn-md">View All Mobile Operator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveMobileVendor", "adminMobileRecharge", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.OperatorId)
                                            @Html.DropDownListFor(model => model.objMobileRechargeVendor.OperatorId, new SelectList(Model.objMobileRechargeOperatorList, "OperatorId", "OperatorNType"), "--- Select Operator ---", new { @class = "form-control", @id = "cboOperator" })
                                            @Html.ValidationMessageFor(model => model.objMobileRechargeVendor.OperatorId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.VendorName)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.VendorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Vendor Name" } })
                                            @Html.ValidationMessageFor(model => model.objMobileRechargeVendor.VendorName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.OperatorAlias)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.OperatorAlias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Operator Alias" } })
                                            @Html.ValidationMessageFor(model => model.objMobileRechargeVendor.OperatorAlias, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.APIURL)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.APIURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter API URL" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key1)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 1" } })
                                            @Html.ValidationMessageFor(model => model.objMobileRechargeVendor.Key1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key2)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 2" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key3)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 3" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key4)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key4, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 4" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key5)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key5, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 5" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key6)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key6, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 6" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key7)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key7, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 7" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key8)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key8, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 8" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key9)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key9, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 9" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.Key10)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.Key10, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Key 10" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMobileRechargeVendor.DefaultCommissionValue)
                                            @Html.EditorFor(model => model.objMobileRechargeVendor.DefaultCommissionValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Default Commission" } })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1 pt-26">
                                                    @Html.CheckBoxFor(model => model.objMobileRechargeVendor.FetchBill, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objMobileRechargeVendor.FetchBill, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-3">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1 pt-26">
                                                    @Html.CheckBoxFor(model => model.objMobileRechargeVendor.BBPSEnabled, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objMobileRechargeVendor.BBPSEnabled, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-3">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1 pt-26">
                                                    @Html.CheckBoxFor(model => model.objMobileRechargeVendor.OutletVerification, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objMobileRechargeVendor.OutletVerification, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1 pt-26">
                                                    @Html.CheckBoxFor(model => model.objMobileRechargeVendor.DefaultGateway, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objMobileRechargeVendor.DefaultGateway, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset>
                                                <div class="d-inline-block custom-control custom-checkbox mr-1 pt-26">
                                                    @Html.CheckBoxFor(model => model.objMobileRechargeVendor.Status, new { @class = "custom-control-input bg-primary" })
                                                    @Html.LabelFor(model => model.objMobileRechargeVendor.Status, new { @class = "custom-control-label" })
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objMobileRechargeVendor.OperatorVendorId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/adminMobileRecharge/vendor")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Content/js/scripts/forms/checkbox-radio.js"></script>
    <script>
        $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}