﻿@model application.Main.ViewModels.companyTypeMasterViewModel
@{
    ViewBag.Title = "Company Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Company Type</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Ajax.BeginForm("saveCompanyType", "CompanyType", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.objCompanyType.CompanyTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.objCompanyType.CompanyTypeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company" } })
                                        @Html.ValidationMessageFor(model => model.objCompanyType.CompanyTypeName, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.Label("Select Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.objCompanyType.StatusId, new SelectList(Model.objStatusMasterList, "StatusId", "StatusName"), "---Select Status---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.objCompanyType.StatusId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.HiddenFor(model => model.objCompanyType.CompanyTypeId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    @if (Model.objCompanyType.CompanyTypeId > 0)
                                    {
                                        <input type="button" value="Reset" class="btn btn-primary" onclick="javascript:window.location.href='@Url.Content("~/CompanyType")'" />
                                    }
                                </div>
                            </div>
                        }
                        <div class="form-body"><hr />
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblCompanyType">
                                    <thead>
                                        <tr>
                                            <th>Company Type</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Created Since</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {

            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {

            var statusTable = $("#tblCompanyType").DataTable({
                ajax: {
                    url: '/CompanyType/getCompanyTypeList',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    { data: "CompanyTypeName", name: "CompanyTypeName" },
                  {
                        data: "StatusName", name: "StatusName",
                        render: function (data) {
                            return (data === "Active" ? "<span class='badge badge-success'>" + data + "</span>" : data==="In-Active"? "<span class='badge badge-danger'>" + data + "</span>":"<span class='badge badge-danger'>" + data + "</span>");
                        }
                    },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    {
                        data: "CompanyTypeId","orderable":false,
                        render: function (data, type, CompanyType) {
                            return "<a href=\"/CompanyType/index/" + CompanyType.CompanyTypeId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";

                        }
                    },
                    {
                        data: "CompanyTypeId","orderable":false,
                        render: function (data, type, CompanyType)
                        {
                            return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblCompanyType").on("click", ".js-delete", function () {
                var statusButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: '/CompanyType/deleteCompanyType/' + statusButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                statusTable.row(statusButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });}
            else {window.location.href = "unauthorized"; }
        });
    </script>
}

