﻿@model  application.Main.ViewModels.myRoboticRechargeUtilityDataDefaultCommissionVM
@{
    ViewBag.Title = "My Robotic Utility Data Default Commission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Set Default Commission</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-body">
                                @using (Ajax.BeginForm("saveDefaultCommission", "myRoboticRechargeUtilityDataDefaultCommission", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                                {
                                    @Html.AntiForgeryToken();
                                    <hr />
                                    <div class="form-body text-sm">
                                        @if (Model.objDefaultCommission.Count == 0)
                                        {
                                            <div class="text-center"><h2>No Record Menu Found!</h2></div>
                                        }
                                        <div class="table table-responsive">
                                            <table class="table table-striped table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Operator Name</th>
                                                        <th>Operator Code</th>
                                                        <th>Default Vendor Margin (%)</th>
                                                        <th>MD Commission</th>
                                                        <th>Dist Commission</th>
                                                        <th>Agent Commission</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.objDefaultCommission.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.HiddenFor(model => model.objDefaultCommission[i].MyRoboticRechargeDataId)
                                                                @Html.DisplayFor(model => model.objDefaultCommission[i].OperatorName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.objDefaultCommission[i].OperatorCode)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.objDefaultCommission[i].Margin)
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.objDefaultCommission[i].MDCommissionValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Commission Value" } })
                                                                @Html.ValidationMessageFor(model => model.objDefaultCommission[i].MDCommissionValue, "", new { @class = "text-danger" })
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.objDefaultCommission[i].DistCommissionValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Commission Value" } })
                                                                @Html.ValidationMessageFor(model => model.objDefaultCommission[i].DistCommissionValue, "", new { @class = "text-danger" })
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.objDefaultCommission[i].AgentCommissionValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Commission Value" } })
                                                                @Html.ValidationMessageFor(model => model.objDefaultCommission[i].AgentCommissionValue, "", new { @class = "text-danger" })
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary" id="btnSubmit">
                                            <i class="la la-check-square-o"></i> Save
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}