﻿@{
    ViewBag.Title = "Make Payment Approval Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}

<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Make Payment Queue</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Action</th>
                                                <th class="text-left">Agency</th>
                                                <th class="text-left">Payment Mode</th>
                                                <th class="text-right">Amount</th>
                                                <th class="text-left">Bank</th>
                                                <th class="text-left">Bank Account Title</th>
                                                <th class="text-left">Branch Code</th>
                                                <th class="text-left">Remark</th>
                                                <th class="text-left">TransactionID</th>
                                                <th class="text-left">Cheque No.</th>
                                                <th class="text-left">Slip</th>
                                                <th class="text-center">Payment Request Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modelRejectPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel77" aria-hidden="true">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info white">
                <h4 class="modal-title white" id="myModalLabel11">Reject Payment</h4>
            </div>
            <form action="#">
                <div class="modal-body">
                    <input type="hidden" id="hidEntityPaymentId" />
                    <label>Enter Remark</label>
                    <div class="form-group">
                        <textarea placeholder="Enter Remark" class="form-control" id="txtRejectionRemark" autocomplete="off"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-md" data-dismiss="modal" value="close">
                    <input type="button" class="btn btn-outline-primary btn-md" value="Submit" id="btnRejectPayment">
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var dataList = $("#tblDataList").DataTable({
                    ajax: {
                        url: '/makepaymentqueue/getPaymentQueueList',
                        type: "GET",
                        datatype: "JSON"
                    },
                    columns: [
                         {
                            data: "Edit","orderable":false,
                            render: function (data, type, objData) {
                                return "<a href=\"javascript:\" class=\""+gridButtonEditCSS+"\" style=\"width:100%;\" onclick=\"approvePayment("+objData.EntityPaymentId+")\">Approve</a><a href=\"javascript:\" onclick=\"activateRejectionRemark_Model("+objData.EntityPaymentId+")\" class=\""+gridButtonDeleteCSS+"\" style=\"width:100%;margin-top:5px;\">Reject</a>";
                            }
                        },
                        { data: "AgencyName", name: "AgencyName",className:'text-left' },
                        { data: "PaymentMode", className:'text-left' },
                        { data: "Amount", className:'text-right' },
                        { data: "BankName", className:'text-left' },
                        { data: "BankAccountTitle", className:'text-left' },
                        { data: "BankBranchCode", className:'text-left' },
                        { data: "Remark", className:'text-left' },
                        { data: "BankTransactionId", className:'text-left' },
                        { data: "ChequeNo", className:'text-left' },
                        {
                            data: "PaymentSlip", name: "PaymentSlip",
                            render: function (data, type, objData) {
                                if (objData.PaymentSlip !== "")
                                    return "<a target=\"_blank\" href=\"../paymentSlip/" + objData.PaymentSlip + "\" itemprop=\"contentUrl\" data-size=\"480x360\"><img alt=\"" + objData.PaymentSlip + "\" src=\"../paymentSlip/" + objData.PaymentSlip + "\" width=\"150\" class=\"image img-responsive\" itemprop=\"thumbnail\" /></a>";
                                else
                                    return "";
                            }
                        },
                        {
                            data: "CreatedDateTime", "orderable": false,
                            render: function (data) {
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                                var date = formatedDate;
                                return date;
                            }
                        }
                    ],
                    "processing": true,
                    "serverSide": true,
                    "order": [0, 'asc'],
                    language: {
                        processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                    }
                });
            }
            else { window.location.href = "unauthorized";}
        });

         function activateRejectionRemark_Model(EntityPaymentId) {
            $("#hidEntityPaymentId").val(EntityPaymentId);
                $('#modelRejectPayment').modal({
                    keyboard: false
                });
        }

        $("#btnRejectPayment").click(function () {
            rejectPayment($("#hidEntityPaymentId").val(), $("#txtRejectionRemark").val());
        });
    </script>
}
