﻿@model IEnumerable<MvcNew.Models.mvcStatusModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSelected)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <div id="item_isSelected">
                    @Html.CheckBoxFor(modelItem => item.isSelected)
                </div>
                   

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
@section scripts
{    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#item_isSelected').btnSwitch({
                // iOS like button
                Theme: 'iOS',

                // on/off text
                OnText: "On",
                OffText: "Off",

                // values of on/off buttons
                OnValue: true,
                OffValue: false,

                // callbacks
                OnCallback: function () { SwitchOnFunction(); },
                OffCallback: function () { SwitchOffFunction(); },

                // hidden input's ID
                HiddenInputId: "item_isSelected"
            });

            function SwitchOnFunction() {
                $("#result").text('Switch is on! Value of switch is ' + $("#item_isSelected").val());
            }
            function SwitchOffFunction() {
                $("#result").text('Switch is off! Value of switch is ' + $("#item_isSelected").val());
            }
        })
    </script>
}
