﻿@model  application.Main.ViewModels.entityVM
@{
    ViewBag.Title = "Agency Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Agency Transaction History</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2"><label for="from">From</label><input type="text" id="fromDate" name="from" class="form-control form-control-sm"></div>
                            <div class="col-md-2"><label for="to">To</label><input type="text" id="toDate" name="to" class="form-control form-control-sm" "></div>
                            <div class="col-md-3">
                                <label>Agency Type</label>
                                @Html.DropDownListFor(model => model.objEntity.EntityTypeId, new SelectList(Model.objEntityTypeList, "EntityTypeId", "EntityTypeName"), "--- Select Agency Type ---", new { @class = "form-control form-control-sm", @id = "cboEntityType" })
                            </div>
                            <div class="col-md-3" id="divEntity">
                                <label>Agency</label>@Html.DropDownListFor(model => model.objEntity.EntityId, new SelectList(Model.objEntityList, "EntityId", "AgencyName"), "--- Select Agency ---", new { @class = "form-control form-control-sm", @id = "cboEntity" })
                            </div>
                            <div class="col-md-2 pt-26"><input type="button" id="btnsearch" class="btn btn-success btn-md" value="Search" /></div>
                        </div>
                    </div>
                    <div class="card-content mt-2">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center table-responsive-sm table-striped btn-lighten-1 table-sm" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Agency</th>
                                                <th class="text-left">Date</th>
                                                <th class="text-left">Product</th>
                                                <th class="text-left">Account Transaction Id</th>
                                                <th class="text-left">Transaction Details</th>
                                                <th class="text-right">Credit</th>
                                                <th class="text-right">Debit</th>
                                                <th class="text-right">Closing Balance</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
             var dateFormat = "dd-mm-yy",
                 from = $("#fromDate")
                     .datepicker({
                         dateFormat: "dd-mm-yy",
                         defaultDate: "+1w",
                         changeMonth: true,
                         numberOfMonths: 2
                     })
                     .on("change", function () {
                         to.datepicker("option", "minDate", getDate(this));
                     }),
                 to = $("#toDate").datepicker({
                     dateFormat: "dd-mm-yy",
                     defaultDate: "+1w",
                     changeMonth: true,
                     numberOfMonths: 2
                 })
                     .on("change", function () {
                         from.datepicker("option", "maxDate", getDate(this));
                     });

             function getDate(element) {
                 var date;
                 try {
                     date = $.datepicker.parseDate(dateFormat, element.value);
                 } catch (error) {
                     date = null;
                 }

                 return date;
             }
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var entityId = ($("#cboEntity").val() === "" ? "0" : $("#cboEntity").val());
                var fromDate = formatIndianDate(new Date(), true);
                var toDate = formatIndianDate(new Date(), false);
                $('#fromDate').val(fromDate);
                $('#toDate').val(toDate);
                bindData(entityId, fromDate, toDate);
            }
            else { window.location.href = "unauthorized";}
        });

        $('#cboEntityType').change(function () {
            populate_EntityMasterByEntityTypeID_4_Report($("#cboEntityType").val(), "divEntity", "cboEntity", "objEntity.EntityId", "objEntity_EntityId");
        });

        $('#btnsearch').click(function () {
            var entityId = ($("#cboEntity").val() === "" ? "0" : $("#cboEntity").val());
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            bindData(entityId, fromDate, toDate);
        });

        function bindData(entityId, fromDate, toDate) {
            $("#tblDataList").DataTable({
                ajax: {
                    url: "/transactionReport/getTransactionReportByParent?entityId="+ entityId+"&fromDate="+ fromDate +"&toDate="+ toDate,
                    type: "GET",
                    datatype: "JSON"
                },
                dom: 'Blfltip',
                buttons: [
                    ['csv'],
                ],
                lengthMenu: [
                    [50, 100, 500, -1],
                    ['50 rows', '100 rows', '500 rows', 'All rows']
                ],
                columns: [
                    { data: "AgencyName", name: "AgencyName", className: 'text-left', "orderable": false },
                    {
                        data: "CreatedDateTime", "orderable": false, className: 'text-left',
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    { data: "ProductCode", name: "ProductCode", className: 'text-left' },
                    { data: "AccountTransactionId", name: "AccountTransactionId", className: 'text-left' },
                    { data: "Description", name: "Description", className: 'text-left' },
                    {
                        data: "Amount", "orderable": false, className: 'text-right',
                        render: function (data, type, objData) {
                            return (objData.IsCredit == true ? "<span class='badge badge-success'>" + objData.Amount + "</span>" : "");
                        }
                    },
                    {
                        data: "Amount", "orderable": false, className: 'text-right',
                        render: function (data, type, objData) {
                            return (objData.IsCredit == false ? "<span class='badge badge-danger'>" + objData.Amount + "</span>" : "");
                        }
                    },
                    { data: "RunningBalance", name: "RunningBalance", className: 'text-right' }
                ],
                    "processing": true,
                "serverSide": true,
                      destroy: true,
                    "order": [1, 'desc'],
                    language: {
                        processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                    }
            });
            $("#tblDataList_length").hide();
        }
    </script>
}