﻿@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_cmsLayout.cshtml";
}
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-8 col-md-8 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
            <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                    <img src="../../../Content/images/logo/protonpay.png" alt="logo">
                </div>
                <h4 class="card-subtitle line-on-side text-muted text-center pt-2"><span>Privacy Policy</span></h4>
            </div>
            <div class="card-content">
                <div class="card-body pt-2">
                    <p class="text-justify font-size-small">
                        The statement here highlights and gives information about practices employed and used by us in relation to the personal information we hold of our business associates and users.
                    </p>
                    <p class="text-justify font-size-small">
                        For the purposes of privacy policy, personal information may include address, name, mailing address, email id, telephone number, debit/credit card details, name of the cardholder, expiration date of card, DTH service information, electricity connection data and any other data, that are provided by users and associates voluntarily to Proton Pay.
                    </p>
                    <p class="text-justify font-size-small">
                        Proton Pay uses the personal data and information given by users/business associates to provide specific services that have been explicitly requested by a user/associate. Proton Pay can use the information to troubleshoot concerns, resolve disputes, collect money, promote safe and secure services.
                    </p>
                    <p class="text-justify font-size-small">
                        Proton Pay shares private confidential information with external organizations only when it is necessary for completing a legitimate transaction, for reporting purposes and/or because of applicability of the law.
                    </p>
                    <p class="text-justify font-size-small">
                        Proton Pay also has links to other websites, users should know and understand that we assume no responsibility for the linked websites. We encourage the users to read and understand the privacy statements of these websites. The users/associates are solely responsible for security of membership accounts and their passwords.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

