﻿@model  application.Main.ViewModels.entityKYCVM
@{
    ViewBag.Title = "Update KYC Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }

    .imgHolder {
        position: relative;
        display: block;
    }

    .bimg-150 {
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .bimg-80 {
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .imgHolder .imageBoxPad {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 1% !%;
    }

        .imgHolder .imageBoxPad .removeImg {
            position: relative;
            width: 18px;
            height: 18px;
            padding: 0px;
            font-weight: bold;
        }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">KYC</h2>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveKYC", "entityKYC", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityKYC.PanCardNo)*
                                            @Html.EditorFor(model => model.objEntityKYC.PanCardNo, new { htmlAttributes = new { @class = "form-control text-uppercase", @placeholder = "Enter PanCard No." } })
                                            @Html.ValidationMessageFor(model => model.objEntityKYC.PanCardNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityKYC.AadhaarCardNo)*
                                            @Html.EditorFor(model => model.objEntityKYC.AadhaarCardNo, new { htmlAttributes = new { @class = "form-control text-uppercase", @placeholder = "Enter Aadhaar Card No." } })
                                            @Html.ValidationMessageFor(model => model.objEntityKYC.AadhaarCardNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityKYC.GSTNo)
                                            @Html.EditorFor(model => model.objEntityKYC.GSTNo, new { htmlAttributes = new { @class = "form-control text-uppercase", @placeholder = "Enter GST No." } })
                                            @Html.ValidationMessageFor(model => model.objEntityKYC.GSTNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row max-auto">
                                        <div class="col-md-4">
                                            <label>Upload PanCard Photo Side 1*</label>
                                            <input type="file" id="HPPanCardPhoto" name="HPPanCardPhoto" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Upload Aadhaar Card Photo Side 1*</label>
                                            <input type="file" id="HPAadhaarCardPhoto" name="HPAadhaarCardPhoto" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Upload GST Photo Side 1</label>
                                            <input type="file" id="HPGSTNoPhoto" name="HPGSTNoPhoto" />
                                        </div>
                                    </div>
                                    <div class="form-group row max-auto">
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgPanCardPhotoPreview" src="@Url.Content(Model.objEntityKYC.PanCardPhoto)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="HPPanCardPhoto_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgHPAadhaarCardPhotoPreview" src="@Url.Content(Model.objEntityKYC.AadhaarCardPhoto)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="HPAadhaarCardPhoto_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgHPGSTNoPhotoPreview" src="@Url.Content(Model.objEntityKYC.GSTNoPhoto)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="HPGSTNoPhoto_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                    </div><hr />
                                    <div class="form-group row max-auto">
                                        <div class="col-md-4">
                                            <label>Upload PanCard Photo Side 2*</label>
                                            <input type="file" id="HPPanCardPhoto2" name="HPPanCardPhoto2" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Upload Aadhaar Card Photo Side 2</label>
                                            <input type="file" id="HPAadhaarCardPhoto2" name="HPAadhaarCardPhoto2" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Upload GST Photo Side 2</label>
                                            <input type="file" id="HPGSTNoPhoto2" name="HPGSTNoPhoto2" />
                                        </div>
                                    </div>
                                    <div class="form-group row max-auto">
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgPanCardPhoto2Preview" src="@Url.Content(Model.objEntityKYC.PanCardPhoto2)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="PanCardPhoto2_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgAadhaarCardPhoto2Preview" src="@Url.Content(Model.objEntityKYC.AadhaarCardPhoto2)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="AadhaarCardPhoto2_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgGSTNoPhoto2Preview" src="@Url.Content(Model.objEntityKYC.GSTNoPhoto2)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="GSTNoPhoto2_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3 text-center">
                                    @Html.HiddenFor(model => model.objEntityKYC.EntityKYCId)
                                    <button type="submit" class="btn btn-shade1" id="btnSubmit" style="width:200px;">
                                        Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        //Pan Card Photo
        $('#HPPanCardPhoto').change(function () {
            var fileName = $('#HPPanCardPhoto').val();
            if (fileName) {
                HPPanCardPhoto_readURL(this);
            } else {
                $('#imgPanCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function HPPanCardPhoto_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPanCardPhotoPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgPanCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function HPPanCardPhoto_RemoveImage() {
            $('#imgPanCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPPanCardPhoto').val("");
        }

        //Aadhaar Card Photo
        $('#HPAadhaarCardPhoto').change(function () {
            var fileName = $('#HPAadhaarCardPhoto').val();
            if (fileName) {
                HPAadhaarCardPhoto_readURL(this);
            } else {
                $('#imgHPAadhaarCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function HPAadhaarCardPhoto_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgHPAadhaarCardPhotoPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgHPAadhaarCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function HPAadhaarCardPhoto_RemoveImage() {
            $('#imgHPAadhaarCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPAadhaarCardPhoto').val("");
        }

        // GST No. Photo
        $('#HPGSTNoPhoto').change(function () {
            var fileName = $('#HPGSTNoPhoto').val();
            if (fileName) {
                GSTNoPhoto_readURL(this);
            } else {
                $('#imgHPGSTNoPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function GSTNoPhoto_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgHPGSTNoPhotoPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgHPGSTNoPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function HPGSTNoPhoto_RemoveImage() {
            $('#imgHPGSTNoPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPGSTNoPhoto').val("");
        }

        // PanCard No. Photo 2
        $('#HPPanCardPhoto2').change(function () {
            var fileName = $('#HPPanCardPhoto2').val();
            if (fileName) {
                PanCardPhoto2_readURL(this);
            } else {
                $('#imgPanCardPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function PanCardPhoto2_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPanCardPhoto2Preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgPanCardPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function PanCardPhoto2_RemoveImage() {
            $('#imgPanCardPhoto2Preview').attr('src', '../DocumentImages/NoImages.png');
            $('#HPPanCardPhoto2').val("");
        }

        // Aadhaar Card Photo 2
        $('#HPAadhaarCardPhoto2').change(function () {
            var fileName = $('#HPAadhaarCardPhoto2').val();
            if (fileName) {
                AadhaarCardPhoto2_readURL(this);
            } else {
                $('#imgAadhaarCardPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function AadhaarCardPhoto2_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgAadhaarCardPhoto2Preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgPanCardPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function AadhaarCardPhoto2_RemoveImage() {
            $('#imgAadhaarCardPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPAadhaarCardPhoto2').val("");
        }

        // GST No. Photo 2
        $('#HPGSTNoPhoto2').change(function () {
            var fileName = $('#HPGSTNoPhoto2').val();
            if (fileName) {
                GSTNoPhoto2_readURL(this);
            } else {
                $('#imgGSTNoPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function GSTNoPhoto2_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgGSTNoPhoto2Preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgGSTNoPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function GSTNoPhoto2_RemoveImage() {
            $('#imgGSTNoPhoto2Preview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPGSTNoPhoto2').val("");
        }
    </script>
}
