﻿@model  application.Main.ViewModels.departmentViewModel
@{
    ViewBag.Title = "Manage Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Department</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "Department")" class="btn btn-success btn-md">View All Department</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveDepartment", "Department", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objDepartment.DepartmentName)
                                            @Html.EditorFor(model => model.objDepartment.DepartmentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Department Name" } })
                                            @Html.ValidationMessageFor(model => model.objDepartment.DepartmentName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objDepartment.StatusName)
                                            @Html.DropDownListFor(model => model.objDepartment.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objDepartment.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objDepartment.DepartmentId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/department")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

