﻿@{
    ViewBag.Title = "Registered User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage User Details</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content mt-2">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th>Person Name</th>
                                                <th>Mobile</th>
                                                <th>Email Id</th>
                                                @*<th>Status</th>*@
                                                <th class="text-center">Created Since</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {

            var dataList = $("#tblDataList").DataTable({
                ajax: {
                    url: '/agent/getAgentList',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    //{
                    //    data: "Edit","orderable":false,"className":"text-center",
                    //    render: function (data, type, objData) {
                    //        return "<a href=\"/agent/addEdit/" + objData.EntityId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";
                    //    }
                    //},
                    { data: "PersonName", name: "PersonName", "className": "text-left" },
                    { data: "Mobile", name: "Mobile", "className": "text-left" },
                    { data: "EmailId", name: "EmailId", "className": "text-left", },
                    //{
                    //    data: "StatusName", name: "StatusName", "className": "text-center",
                    //    render: function (data) {
                    //        return (data === "Active" ? "<span class='badge badge-success'>" + data + "</span>" : data==="In-Active"? "<span class='badge badge-danger'>" + data + "</span>":"<span class='badge badge-danger'>" + data + "</span>");
                    //    }
                    //},
                    {
                        data: "CreatedDateTime", "orderable": false, "className": "text-center",
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [1, 'asc'],
                language: {
                   processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });
           }
            else {
                 window.location.href = "unauthorized";
            }
        });
    </script>
}


