﻿@model  application.Main.ViewModels.subscriptionProductViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<style>
    #toast-container {
        position: fixed;
        z-index: 999999;
        pointer-events: none;
    }

    .toast-top-right {
        top: 12px;
        right: 12px;
    }

    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Subscription Products</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveSubscriptionProduct", "SubscriptionProduct", new { subScriptionId = Request["subScriptionId"] }, new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.Label("Select Product")
                                            @Html.DropDownListFor(model => model.objSubscriptionProduct.ProductId, new SelectList(Model.objProductList, "ProductId", "ProductCode"), "--- Select Product ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionProduct.ProductId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Select Subscription")
                                            @Html.DropDownListFor(model => model.objSubscriptionProduct.SubscriptionId, new SelectList(Model.objSubscriptionList, "SubscriptionId", "SubscriptionName"), "--- Select Subscription ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionProduct.SubscriptionId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Select Status")
                                            @Html.DropDownListFor(model => model.objSubscriptionProduct.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionProduct.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Enter Quantity")
                                            @Html.EditorFor(model => model.objSubscriptionProduct.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Quantity" } })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionProduct.Quantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objSubscriptionProduct.SubscriptionProductId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>

                                    @if (Model.objSubscriptionProduct.SubscriptionProductId > 0)
                                    {
                                        <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/SubscriptionProduct?subScriptionId="+ Request["SubScriptionId"])'">
                                            <i class="ft-x"></i> Cancel
                                        </button>
                                    }
                                    <button type="button" class="btn btn-primary mr-1" onclick="javascript:window.location.href='@Url.Content("~/subscriptionMaster/index")'">
                                        Back to Subscription
                                    </button>
                                </div>
                            }
                            <div class="table-responsive">
                                <hr />
                                <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblSubscriptionProduct">
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Subscription Name</th>
                                            <th>Status</th>
                                            <th>Quantity</th>
                                            <th class="text-center">Created Since</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
        $(document).ready(function () {
            var subScriptionId = '@Convert.ToString(Request["subScriptionId"])'
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                 var statusTable = $("#tblSubscriptionProduct").DataTable({
                ajax: {
                    url: '/SubscriptionProduct/getSubscriptionProductList?subScriptionId='+ subScriptionId,
                    type: "GET",
                    datatype: "JSON"
                },
                columns: [
                    { data: "ProductCode", name: "ProductCode" },
                    { data: "SubscriptionName", name: "SubscriptionName" },
                    {
                        data: "StatusName", name: "StatusName",
                        render: function (data) {
                            return (data === "Active" ? "<span class='badge badge-success'>" + data + "</span>" : data === "In-Active" ? "<span class='badge badge-danger'>" + data + "</span>" : "<span class='badge badge-danger'>" + data + "</span>");
                        }
                    },
                    { data: "Quantity", name: "Quantity" },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                           var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, SubscriptionProduct) {
                            return "<a href=\"/SubscriptionProduct/index/" + SubscriptionProduct.SubscriptionProductId +"?subScriptionId="+ SubscriptionProduct.SubscriptionId +"\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";
                        }
                    },
                    {
                        data: "SubscriptionProductId","orderable":false,
                        render: function (data, type, SubscriptionProduct) {
                            return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                language: {
                   processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblSubscriptionProduct").on("click", ".js-delete", function () {
                var statusButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: 'SubscriptionProduct/deleteSubscriptionProduct/' + statusButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                               notifyMessage('@Helper.recordDeleted');
                                statusTable.row(statusButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {window.location.href = "unauthorized"; }
        });
    </script>
}








