﻿@model  application.Main.ViewModels.entityMasterViewModel
@{
    ViewBag.Title = "DMT Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">DMT Transaction History</h2>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2"><label for="from">From</label><input type="text" id="fromDate" name="from" class="form-control form-control-sm"></div>
                                        <div class="col-md-2"><label for="to">To</label><input type="text" id="toDate" name="to" class="form-control form-control-sm"></div>
                                        <div class="col-md-2">
                                            <label>Transaction Type</label>
                                            <select id="cboTransactionType" class="form-control form-control-sm">
                                                <option value="">-- All Transaction Type --</option>
                                                <option value="NEFT">NEFT</option>
                                                <option value="IMPS">IMPS</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Transaction Status</label>
                                            <select id="cboTransactionStatus" class="form-control form-control-sm">
                                                <option value="">-- All Transaction Status-- </option>
                                                <option value="00">Success</option>
                                                <option value="02">Fail</option>
                                                <option value="01">Pending</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Agency</label>
                                            @Html.DropDownListFor(model => model.objEntityUser, new SelectList(Model.objEntityMasterList, "EntityId", "AgencyName"), "--- All Agency ---", new { @class = "form-control form-control-sm", @id = "cboEntity" })
                                        </div>
                                        <div class="col-md-2 text-left pt-26"><input type="button" id="btnsearch" class="btn btn-shade1 btn-sm" value="Search" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Transaction Date</th>
                                                <th class="text-center">Agency</th>
                                                <th class="text-center">Sender Mobile No.</th>
                                                <th class="text-center">Beneficiary Name</th>
                                                <th class="text-center">Account No.</th>
                                                <th class="text-center">Bank</th>
                                                <th class="text-center">TxnID</th>
                                                <th class="text-center">Amount</th>
                                                <th class="text-center">Type</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);

             $("#cboEntity").select2({ containerCssClass: 'select-sm' });

             var dateFormat = "dd-mm-yy",
                from = $("#fromDate")
                    .datepicker({
                        dateFormat:"dd-mm-yy",
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 2
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#toDate").datepicker({
                    dateFormat:"dd-mm-yy",
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var fromDate = formatIndianDate(new Date(), true);
                var toDate = formatIndianDate(new Date(), false);
                $('#fromDate').val(fromDate);
                $('#toDate').val(toDate);
                var transactionType = $("#cboTransactionType").val();
                var transactionStatus = $("#cboTransactionStatus").val();
                var entityId = $("#cboEntity").val();
                bindData(entityId, fromDate, toDate, transactionType, transactionStatus);
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        $('#btnsearch').click(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var transactionType = $("#cboTransactionType").val();
                var transactionStatus = $("#cboTransactionStatus").val();
                var entityId = $("#cboEntity").val();
                if (fromDate != '' && toDate != '') {
                    bindData(entityId, fromDate, toDate, transactionType, transactionStatus);
                }else {
                    notifyMessage("1|Please Select From and To Date.");
                }
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        function bindData(entityId, fromDate, toDate, transactionType, transactionStatus) {
            entityId = (entityId == "" ? "0" : entityId);
            $.fn.dataTable.ext.errMode = 'throw';
                $("#tblDataList").DataTable({
                ajax: {
                        url: '/dmt2/showDMTTransactionHistory?entityId='+entityId+'&fromDate='+ fromDate+'&toDate='+ toDate +'&transactionType='+ transactionType+'&transactionStatus='+ transactionStatus+'',
                    type: "GET",
                    datatype: "JSON"
                    },
                    dom: 'Blfltip',
                    buttons: [
                        ['csv'],
                    ],
                    lengthMenu: [
                        [50, 100, 500, 1000, 2000, -1],
                        ['50 rows', '100 rows', '500 rows', '1000 rows', '2000 rows', 'All rows']
                    ],
                    columns: [
                    {
                        data: "Status", name: "Status", className:"text-center",
                        render: function (data,status,objData) {
                            return (data === "00" ? "<span class='badge badge-success'>SUCCESS</span>" : data === "01" ? "<span class='badge badge-warning'>PENDING</span><a href='javascript:' onclick=\"checkDMT1TransactionStatus('" + objData.ClientRefId + "');\"><small>Check Transaction Status</small></a>" : data === "REFUND" ? "<span class='badge badge-info'>REFUND</span><small class='text-warning'>" + objData.TransactionStatus + "</small>" : "<span class='badge badge-danger'>FAILED</span><small class='text-danger'>" + objData.TransactionStatus + "</small>");
                        }
                    },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    { data: "AgencyName", name: "AgencyName" },
                    { data: "CustomerID", name: "CustomerID" },
                    { data: "RecipientName", name: "RecipientName", className: "text-left" },
                    { data: "accountNumber", name: "accountNumber", className: "text-left" },
                    { data: "BankName", name: "BankName", className: "text-left", },
                    { data: "TxnId", name: "TxnId", className: "text-center" },
                    { data: "Amount", name: "Amount" },
                    { data: "TransferType", name: "TransferType", className: "text-center" }
                ],
                processing: true,
                destroy: true,
                serverSide: true,
                "order": [0, 'desc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
                });
            $("#tblDataList_length").hide();
        }
    </script>
}