﻿@model  application.Main.ViewModels.subscriptionMasterViewModel
@{
    ViewBag.Title = "Add/Edit Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Subscriptions</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "subscriptionMaster")" class="btn btn-success btn-md">View All Subscriptions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveSubscription", "subscriptionMaster", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">User Info</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objSubscriptionMaster.SubscriptionName)
                                            @Html.EditorFor(model => model.objSubscriptionMaster.SubscriptionName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Subscription Name" } })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionMaster.SubscriptionName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objSubscriptionMaster.SubscriptionAmount)
                                            @Html.EditorFor(model => model.objSubscriptionMaster.SubscriptionAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Subscription Amount" } })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionMaster.SubscriptionAmount, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objSubscriptionMaster.ValidTillDays)
                                            @Html.EditorFor(model => model.objSubscriptionMaster.ValidTillDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Validity in Days" } })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionMaster.ValidTillDays, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-8">
                                            @Html.LabelFor(model => model.objSubscriptionMaster.SubscriptionRemark)
                                            @Html.TextAreaFor(model => model.objSubscriptionMaster.SubscriptionRemark, new { @class = "form-control", @placeholder = "Enter Remark" })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionMaster.SubscriptionRemark, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objSubscriptionMaster.StatusId)
                                            @Html.DropDownListFor(model => model.objSubscriptionMaster.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objSubscriptionMaster.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objSubscriptionMaster.SubscriptionId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/subscriptionMaster")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}



