﻿@model  application.Main.ViewModels.adminLoginViewModel
@{
    ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit User</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "adminRegister")" class="btn btn-success btn-md">View All Users</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveAdminUser", "adminRegister", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">User Info</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objAdminLogin.PersonName)
                                            @Html.EditorFor(model => model.objAdminLogin.PersonName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Person Name" } })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.PersonName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objAdminLogin.EmailId)
                                            @Html.EditorFor(model => model.objAdminLogin.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Id" } })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.EmailId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objAdminLogin.Mobile)
                                            @Html.EditorFor(model => model.objAdminLogin.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No." } })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objAdminLogin.DepartmentId)
                                            @Html.DropDownListFor(model => model.objAdminLogin.DepartmentId, new SelectList(Model.objDepartmentList, "DepartmentId", "DepartmentName"), "--- Select Department ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.DepartmentId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objAdminLogin.DesignationId)
                                            @Html.DropDownListFor(model => model.objAdminLogin.DesignationId, new SelectList(Model.objDesignationList, "DesignationId", "DesignationName"), "--- Select Designation ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.DesignationId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objAdminLogin.RoleId)
                                            @Html.DropDownListFor(model => model.objAdminLogin.RoleId, new SelectList(Model.objRoleList, "RoleId", "RoleName"), "--- Select Role ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.RoleName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objAdminLogin.Address)
                                            @Html.TextAreaFor(model => model.objAdminLogin.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.Address, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objAdminLogin.CountryId)
                                            @Html.DropDownListFor(model => model.objAdminLogin.CountryId, new SelectList(Model.objCountryList, "CountryId", "CountryName"), "--- Select Country ---", new { @class = "form-control", @id = "cboCountry" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.CountryId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3" id="divState">
                                            @Html.LabelFor(model => model.objAdminLogin.StateId)
                                            @Html.DropDownListFor(model => model.objAdminLogin.StateId, new SelectList(Model.objStateList, "StateId", "StateName"), "--- Select State ---", new { @class = "form-control", @id = "cboState" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.StateId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objAdminLogin.LoginName)
                                            @Html.EditorFor(model => model.objAdminLogin.LoginName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Login Name" } })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.LoginName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objAdminLogin.Password)
                                            @Html.EditorFor(model => model.objAdminLogin.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Password" } })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objAdminLogin.StatusName)
                                            @Html.DropDownListFor(model => model.objAdminLogin.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objAdminLogin.CompanyId)
                                            @Html.DropDownListFor(model => model.objAdminLogin.CompanyId, new SelectList(Model.objCompanyList, "CompanyId", "CompanyName"), "--- Select Company ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objAdminLogin.CompanyId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objAdminLogin.AdminLoginId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/adminRegister")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function () {
            $('#cboCountry').change(function () {
                populateStateByCountryId($("#cboCountry").val(), "divState", "cboState", "objAdminLogin.StateId", "objAdminLogin_StateId");
            });
        });
    </script>
}

