﻿@model  application.Main.ViewModels.adminLoginViewModel
@{
    ViewBag.Title = "Admin User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Company User</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("addEdit", "adminregister")" class="btn btn-success btn-md">Add New User</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th>Company</th>
                                                <th>Login Name</th>
                                                <th>Person Name</th>
                                                <th>Mobile No</th>
                                                <th>Email Id</th>
                                                <th>Designation</th>
                                                <th>Department</th>
                                                <th>Role</th>
                                                <th class="text-center">Created Since</th>
                                                <th>Status</th>
                                                <th class="text-center">Edit</th>
                                                <th class="text-center">Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var dataList = $("#tblDataList").DataTable({
                    ajax: {
                        url: '/adminRegister/getadminLoginList',
                        type: "POST",
                        datatype: "JSON"
                    },
                    columns: [
                        { data: "CompanyName", name: "CompanyName" },
                        { data: "LoginName", name: "LoginName" },
                        { data: "PersonName", name: "PersonName" },
                        { data: "Mobile", name: "Mobile" },
                        { data: "EmailId", name: "EmailId" },
                        { data: "DesignationName", name: "DesignationName" },
                        { data: "DepartmentName", name: "DepartmentName" },
                        { data: "RoleName", name: "RoleName" },
                        {
                            data: "CreatedDateTime", "orderable": false,
                            render: function (data) {
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                                var date = formatedDate;
                                return date;
                            }
                        },
                        {
                            data: "StatusName", name: "StatusName",
                            render: function (data) {
                                return (data === "Active" ? "<span class='badge badge-success'>" + data + "</span>" : data === "In-Active" ? "<span class='badge badge-danger'>" + data + "</span>" : "<span class='badge badge-danger'>" + data + "</span>");
                            }
                        },
                        {
                            data: "Edit", "orderable": false,
                            render: function (data, type, objData) {
                                return "<a href=\"/adminRegister/addEdit/" + objData.AdminLoginId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";
                            }
                        },
                        {
                            data: "AdminLoginId", "orderable": false,
                            render: function (data, type, Status) {
                                return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                            }
                        }
                    ],
                    "processing": true,
                    "serverSide": true,
                    "order": [0, 'asc'],
                    language: {
                        processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                    }
                });

                $("#tblDataList").on("click", ".js-delete", function () {
                    var deleteButton = $(this);
                    if (confirm("Are you sure you want to delete this record?")) {
                        $.ajax({
                            url: 'adminRegister/deleteAdminUser/' + deleteButton.attr("data-id"),
                            method: 'POST',
                            success: function (result) {
                                if (result === "Success") {
                                    notifyMessage('@Helper.recordDeleted');
                                    dataList.row(deleteButton.parents("tr")).remove().draw();
                                }
                                else {
                                    toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                                }
                            }
                        });
                    }
                });
            }
            else {
                window.location.href = "unauthorized";
            }
        });
    </script>
}


