﻿@model  application.Main.ViewModels.entityDashboardVM
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/chartCSS")
}
<div class="app-content center-layout">
    <div class="content-wrapper">
        <div class="content-body">
            @if (Model.objOutletKYCStatus.StatusCode != "Approved")
            {
                <section>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-content">
                                        <div class="card-title text-left">
                                            <div class="bs-callout-info callout-bordered">
                                                <div class="media align-items-stretch">
                                                    <div class="media-right media-middle bg-info p-2">
                                                        <i class="la la-info white font-medium-5 mt-3"></i>
                                                    </div>
                                                    <div class="media-body p-1">
                                                        <h2 class="title">KYC Status @Model.objOutletKYCStatus.StatusCode</h2>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <p class="pt-2">
                                                                    @if (Model.objOutletKYCStatus.PanCardRequired == false && Model.objOutletKYCStatus.AadhaarCardRequired == false)
                                                                    {
                                                                        if (Model.objOutletKYCStatus.StatusCode == "Screening")
                                                                        {
                                                                            <strong>Your profile is under approval process, it may take 1 working day</strong>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (Model.objOutletKYCStatus.PanCardRequired && Model.objOutletKYCStatus.AadhaarCardRequired)
                                                                        {
                                                                            <strong>Please upload Pan Card and Address Proof</strong>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (Model.objOutletKYCStatus.PanCardRequired)
                                                                            {
                                                                                <strong>Upload Pan Card</strong>
                                                                            }
                                                                            if (Model.objOutletKYCStatus.AadhaarCardRequired)
                                                                            {
                                                                                <strong>Upload Address Proof</strong>
                                                                            }
                                                                        }
                                                                    }
                                                                </p>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="button" class="btn btn-shade1" value="Update KYC" id="btnUpdateKYC" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            <section id="icon-section" class="user-utilies">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("index", "DMR2")">
                                            <div class="utilities-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="69.875" height="76.513" viewBox="0 0 69.875 76.513">
                                                    <defs>
                                                        <style>
                                                            .a {
                                                                fill: #11311c;
                                                            }

                                                            .b {
                                                                fill: #a9c621;
                                                            }
                                                        </style>
                                                    </defs>
                                                    <g transform="translate(112.818 187.758)"><path class="a" d="M-50.351-154.507c2.046,0,3.951,0,5.856,0,1.222,0,1.549.328,1.549,1.554q0,14.754,0,29.507c0,1.247-.3,1.542-1.545,1.546-1.635.006-3.27,0-4.9,0-.291,0-.583.024-.953.041,0,.336,0,.6,0,.868,0,2.725,0,5.449-.005,8.174,0,1.188-.378,1.564-1.57,1.564q-25.911.005-51.822,0c-1.326,0-1.633-.318-1.635-1.652q-.006-4.005,0-8.01c0-.294,0-.589,0-.987h-3.5c-.9,0-1.8.012-2.7-.009a1.111,1.111,0,0,1-1.236-1.2c-.009-.136,0-.272,0-.409q0-14.631,0-29.262c0-1.437.284-1.723,1.714-1.725,1.873,0,3.746,0,5.719,0v-1.118q0-15.163,0-30.325c0-1.534.267-1.8,1.814-1.8q20.149,0,40.3-.011a2.486,2.486,0,0,1,1.939.8q5.106,5.178,10.28,10.287a2.242,2.242,0,0,1,.709,1.734q-.024,9.645-.009,19.29Zm5.054,2.376h-65.158v27.88H-45.3ZM-63.78-185.378h-39.2v30.83h50.255V-174.31c-1.388,0-2.719.007-4.05,0a6.716,6.716,0,0,1-7-6.995C-63.783-182.636-63.78-183.967-63.78-185.378Zm11.108,71.8c0-2.513,0-4.877,0-7.242,0-1.076,0-1.079-1.044-1.079h-49.325v.912c0,2.151.041,4.3-.019,6.453-.023.822.26.973,1.017.972q24.182-.032,48.364-.016Zm-8.757-69.964c-.682,6.488,2.934,7.31,6.792,6.806Z" /><path class="b" d="M68.689,80.307l1.975-7.492c.533-2.024.533-2.024,2.611-2.024h2.261v14.47h-2.65V74.831l-.2-.029q-.514,2.015-1.027,4.031c-.494,1.952-1,3.9-1.465,5.859a.715.715,0,0,1-.832.648c-2.182.026-2.184.041-2.722-2.092q-.987-3.92-1.969-7.841a1.618,1.618,0,0,0-.356-.738V85.278H61.64c-.023-.255-.066-.512-.066-.769,0-4.3.013-8.608-.017-12.912,0-.673.225-.843.845-.817.952.04,1.909.048,2.859,0,.587-.031.8.2.937.739.67,2.637,1.376,5.265,2.073,7.9.081.306.183.606.276.909Z" transform="translate(-145.867 -216.266)" /><path class="b" d="M-27.329,84.846V70.254c2.646.114,5.256.1,7.833.38a4.512,4.512,0,0,1,3.634,3.187,10.4,10.4,0,0,1,.091,7.421,5.055,5.055,0,0,1-4.71,3.575C-22.729,84.95-24.99,84.846-27.329,84.846Zm2.955-2.5c1.25,0,2.419.065,3.577-.018a2.369,2.369,0,0,0,2.21-1.881A10.273,10.273,0,0,0-18.51,75.2a2.614,2.614,0,0,0-2.178-2.173c-1.2-.178-2.428-.153-3.686-.219Z" transform="translate(-71.513 -215.831)" /><path class="b" d="M170.126,71.082v2.331H165.9V85.437h-2.939V73.463h-4.354c0-.76-.028-1.43.022-2.094a.62.62,0,0,1,.456-.394c3.621-.014,7.242,0,10.863.011C169.994,70.986,170.04,71.034,170.126,71.082Z" transform="translate(-227.045 -216.429)" /><path class="b" d="M6.763-66.977H-9.907c-.272,0-.613.087-.8-.042-.348-.238-.795-.578-.848-.929a1.593,1.593,0,0,1,.531-1.138,1.6,1.6,0,0,1,1-.2Q6.812-69.3,23.646-69.29a2.991,2.991,0,0,1,.731.046,1.062,1.062,0,0,1,.891,1.188,1.031,1.031,0,0,1-1.018,1.066c-.216.02-.435.013-.653.013Z" transform="translate(-84.701 -99.1)" /><path class="b" d="M6.568-30.6H23.32a6.392,6.392,0,0,1,.653.012A1.038,1.038,0,0,1,25-29.522a1.063,1.063,0,0,1-.9,1.186,4.042,4.042,0,0,1-.894.05q-16.711,0-33.423,0a3.193,3.193,0,0,1-.888-.082,1.041,1.041,0,0,1-.787-1.181,1.043,1.043,0,0,1,.972-1.03,4.271,4.271,0,0,1,.652-.018Z" transform="translate(-84.423 -131.463)" /><path class="b" d="M1.545-107.645c3.973,0,7.947-.009,11.92.016a1.832,1.832,0,0,1,1.177.368,1.277,1.277,0,0,1,.242,1.1,1.676,1.676,0,0,1-.843.766,2.078,2.078,0,0,1-.885.06q-11.675,0-23.35,0a3.478,3.478,0,0,1-.811-.053,1.068,1.068,0,0,1-.89-1.19,1.055,1.055,0,0,1,1.031-1.062,5.2,5.2,0,0,1,.653-.01Z" transform="translate(-84.421 -67.011)" /></g>
                                                </svg>
                                            </div>
                                            <h2 class="pt-1">Transfer Money</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                @*<svg xmlns="http://www.w3.org/2000/svg" width="44.818" height="76.628" viewBox="0 0 44.818 76.628"><g transform="translate(1054.685 -1110)"><path d="M-1049.1,1186.628a5.226,5.226,0,0,1-4.074-1.883,6.111,6.111,0,0,1-1.276-3.941c-.047-4.713.048-9.429-.034-14.141-.136-7.9.12-15.807-.144-23.718-.093-2.8-.067-5.716.07-8.583.279-5.864.156-11.754.066-17.63v-.093a6.507,6.507,0,0,1,6.4-6.639h31.742a6.585,6.585,0,0,1,6.463,6.943c0,.031,0,.061,0,.092-.027.553,0,1.109,0,1.663q0,30.526.027,61.052v.094a6.724,6.724,0,0,1-6.618,6.784Zm36.909-15.81v-49.45h-40v49.45Zm.084,2.473h-39.977a1.6,1.6,0,0,0-.151.4c-.014,2.107-.036,4.214-.026,6.321.016,3.326.976,4.33,4.229,4.353,4,.027,8,0,12.007.005,6.724,0,13.448.014,20.172,0,2.144,0,3.643-1.155,3.718-3.042C-1012.03,1178.687-1012.109,1176.034-1012.109,1173.29Zm-39.989-54.369h40.013c0-.673,0-1.267,0-1.861a4.733,4.733,0,0,0-4.641-4.789c-9.921,0-19.846.148-29.763-.058-5.907-.123-6.006,1.839-5.734,6.443A1.282,1.282,0,0,0-1052.1,1118.921Z" fill="#11311c" /><path d="M-993.757,1167.367c-.147.441-.3,1-.515,1.529-1.405,3.531-2.789,7.072-4.258,10.576a1.821,1.821,0,0,0,.471,2.365c1.917,1.818,3.758,3.718,5.605,5.608,1.571,1.608,1.622,2.838-.009,4.26-5.539,4.828-11.13,9.6-16.7,14.391a2.293,2.293,0,0,1-3.165.175,2.352,2.352,0,0,1-.607-3.122c1.665-3.841,3.267-7.71,5-11.521a1.575,1.575,0,0,0-.532-2.263c-1.711-1.366-3.355-2.823-4.969-4.3-1.453-1.335-1.517-2.615-.135-3.99,5.118-5.093,10.275-10.146,15.422-15.209a2.529,2.529,0,0,1,2.971-.768A2.456,2.456,0,0,1-993.757,1167.367Zm-17.383,16.195c1.459,1.273,3.317,2.921,5.208,4.53a2.717,2.717,0,0,1,.768,3.693c-1.234,2.5-2.288,5.077-3.351,7.65a8.073,8.073,0,0,0-1.089,3.506l15.369-13.125c-1.876-1.976-3.625-3.835-5.394-5.676-1.108-1.153-2.533-2.238-1.913-4.084,1.006-3,2.169-5.943,3.313-8.893.193-.5.7-.883.583-1.2Z" transform="translate(-29.284 -39.245)" fill="#a9c621" /><path d="M-994.662,1310.241a3.934,3.934,0,0,1,3.776-3.872,3.9,3.9,0,0,1,4.077,4.138,4.254,4.254,0,0,1-4.234,3.868C-993.265,1314.34-994.651,1312.757-994.662,1310.241Zm5.2-.05c-.138-.571-.431-1.138-1.2-1.179-.673-.036-1.045.293-1.041,1.046,0,.769.232,1.2,1.079,1.221C-989.9,1311.3-989.555,1310.978-989.461,1310.191Z" transform="translate(-41.463 -132.775)" fill="#11311c" /><path d="M-992.145,1126.078c-1.091,0-2.183.028-3.272-.009a1.23,1.23,0,0,1-1.319-1.344,1.282,1.282,0,0,1,1.4-1.274c2.182,0,4.365-.012,6.547,0,.891.006,1.54.438,1.514,1.369s-.715,1.275-1.6,1.268c-1.091-.009-2.182,0-3.274,0Z" transform="translate(-40.193 -8.236)" fill="#11311c" /></g></svg>*@
                                                <img src="~/Content/images/prepaid-mobile.png" style="width:45px;" />
                                            </div>
                                            <h2 class="pt-1">Prepaid</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                @*<svg xmlns="http://www.w3.org/2000/svg" width="44.818" height="76.628" viewBox="0 0 44.818 76.628"><g transform="translate(1054.685 -1110)"><path d="M-1049.1,1186.628a5.226,5.226,0,0,1-4.074-1.883,6.111,6.111,0,0,1-1.276-3.941c-.047-4.713.048-9.429-.034-14.141-.136-7.9.12-15.807-.144-23.718-.093-2.8-.067-5.716.07-8.583.279-5.864.156-11.754.066-17.63v-.093a6.507,6.507,0,0,1,6.4-6.639h31.742a6.585,6.585,0,0,1,6.463,6.943c0,.031,0,.061,0,.092-.027.553,0,1.109,0,1.663q0,30.526.027,61.052v.094a6.724,6.724,0,0,1-6.618,6.784Zm36.909-15.81v-49.45h-40v49.45Zm.084,2.473h-39.977a1.6,1.6,0,0,0-.151.4c-.014,2.107-.036,4.214-.026,6.321.016,3.326.976,4.33,4.229,4.353,4,.027,8,0,12.007.005,6.724,0,13.448.014,20.172,0,2.144,0,3.643-1.155,3.718-3.042C-1012.03,1178.687-1012.109,1176.034-1012.109,1173.29Zm-39.989-54.369h40.013c0-.673,0-1.267,0-1.861a4.733,4.733,0,0,0-4.641-4.789c-9.921,0-19.846.148-29.763-.058-5.907-.123-6.006,1.839-5.734,6.443A1.282,1.282,0,0,0-1052.1,1118.921Z" fill="#11311c" /><path d="M-993.757,1167.367c-.147.441-.3,1-.515,1.529-1.405,3.531-2.789,7.072-4.258,10.576a1.821,1.821,0,0,0,.471,2.365c1.917,1.818,3.758,3.718,5.605,5.608,1.571,1.608,1.622,2.838-.009,4.26-5.539,4.828-11.13,9.6-16.7,14.391a2.293,2.293,0,0,1-3.165.175,2.352,2.352,0,0,1-.607-3.122c1.665-3.841,3.267-7.71,5-11.521a1.575,1.575,0,0,0-.532-2.263c-1.711-1.366-3.355-2.823-4.969-4.3-1.453-1.335-1.517-2.615-.135-3.99,5.118-5.093,10.275-10.146,15.422-15.209a2.529,2.529,0,0,1,2.971-.768A2.456,2.456,0,0,1-993.757,1167.367Zm-17.383,16.195c1.459,1.273,3.317,2.921,5.208,4.53a2.717,2.717,0,0,1,.768,3.693c-1.234,2.5-2.288,5.077-3.351,7.65a8.073,8.073,0,0,0-1.089,3.506l15.369-13.125c-1.876-1.976-3.625-3.835-5.394-5.676-1.108-1.153-2.533-2.238-1.913-4.084,1.006-3,2.169-5.943,3.313-8.893.193-.5.7-.883.583-1.2Z" transform="translate(-29.284 -39.245)" fill="#a9c621" /><path d="M-994.662,1310.241a3.934,3.934,0,0,1,3.776-3.872,3.9,3.9,0,0,1,4.077,4.138,4.254,4.254,0,0,1-4.234,3.868C-993.265,1314.34-994.651,1312.757-994.662,1310.241Zm5.2-.05c-.138-.571-.431-1.138-1.2-1.179-.673-.036-1.045.293-1.041,1.046,0,.769.232,1.2,1.079,1.221C-989.9,1311.3-989.555,1310.978-989.461,1310.191Z" transform="translate(-41.463 -132.775)" fill="#11311c" /><path d="M-992.145,1126.078c-1.091,0-2.183.028-3.272-.009a1.23,1.23,0,0,1-1.319-1.344,1.282,1.282,0,0,1,1.4-1.274c2.182,0,4.365-.012,6.547,0,.891.006,1.54.438,1.514,1.369s-.715,1.275-1.6,1.268c-1.091-.009-2.182,0-3.274,0Z" transform="translate(-40.193 -8.236)" fill="#11311c" /></g></svg>*@
                                                <img src="~/Content/images/postpaid-mobile.png" style="width:45px;" />
                                            </div>
                                            <h2 class="pt-1">Postpaid</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="54.365" height="76.348" viewBox="0 0 54.365 76.348"><g transform="translate(1087.762 -1134.989)"><path d="M-1059.053,1184.615c.637-.7,1.222-1.279,1.715-1.924a2.156,2.156,0,0,0,.444-1.148,2.93,2.93,0,0,1,2.907-3.038,2.917,2.917,0,0,1,2.928,2.907,2.884,2.884,0,0,1-2.993,2.942,2.331,2.331,0,0,0-1.226.5c-.636.5-1.193,1.093-1.886,1.744,1.619,1.594,3.121,3.06,4.608,4.541q5.818,5.795,11.624,11.6c1.264,1.264,1.235,1.893-.1,3.117a26.526,26.526,0,0,1-30.249,4.2,3,3,0,0,0-.9-.14,2.707,2.707,0,0,0,.007,1q3.592,8.445,7.251,16.861a2.086,2.086,0,0,0,.944.931,4.458,4.458,0,0,1,2.721,4.1c.032.917.026,1.837,0,2.755a1.517,1.517,0,0,1-1.654,1.654q-11.58.017-23.159,0c-1.105,0-1.657-.612-1.683-1.74-.02-.85-.015-1.7,0-2.551a4.52,4.52,0,0,1,2.463-4.06,1.694,1.694,0,0,0,.761-1.031c.833-5.134,1.607-10.277,2.417-15.414a1.513,1.513,0,0,0-.577-1.569,7.2,7.2,0,0,1-.18-10.885c.6-.551.34-.913.1-1.392a26.1,26.1,0,0,1-1.616-20.013,25.486,25.486,0,0,1,6.2-10.308c.957-.989,1.709-.971,2.695.013q7.688,7.675,15.378,15.35C-1059.825,1183.889-1059.528,1184.162-1059.053,1184.615Zm15.086,19.84-32.936-33.16a23.256,23.256,0,0,0,1.131,31.939C-1066.169,1212.777-1051.742,1211.581-1043.967,1204.454Zm-23.955,23.9-6.916-16.122a28.427,28.427,0,0,1-3.442.353c-.74-.01-.907.221-1,.874-.569,3.827-1.182,7.647-1.772,11.471-.173,1.123-.323,2.25-.491,3.424Zm-16.779,5.888h2.658c5.61,0,11.22.01,16.83-.006.327,0,.836-.1.951-.315a1.829,1.829,0,0,0-1.543-2.6q-8.671-.028-17.342.006c-1.076,0-1.6.58-1.613,1.671C-1084.764,1233.364-1084.726,1233.731-1084.7,1234.244Zm9.986-25.99-6.143-6.1a4.238,4.238,0,0,0-.132,6.272A4.316,4.316,0,0,0-1074.714,1208.254Z" transform="translate(0 -25.881)" fill="#11311c" /><path d="M-947.492,1137.852c-1.407.214-2.817.409-4.22.649-1.035.177-1.8-.184-2.025-1.027-.223-.825.293-1.536,1.331-1.833,7.121-2.035,16.089.834,20.756,6.62a20.414,20.414,0,0,1,4.364,17.864,5.755,5.755,0,0,1-.154.591,1.486,1.486,0,0,1-1.828,1.186,1.5,1.5,0,0,1-1-1.945,18.093,18.093,0,0,0,.316-7.185A17.808,17.808,0,0,0-947.492,1137.852Z" transform="translate(-106.624)" fill="#a9c621" /><path d="M-941.641,1163.955c9.586-.081,16.721,8.748,14.644,17.759a6.136,6.136,0,0,1-.186.688,1.39,1.39,0,0,1-1.724,1.042,1.5,1.5,0,0,1-1.094-1.8,23.283,23.283,0,0,0,.325-3.837,11.713,11.713,0,0,0-14.018-10.692c-1.516.318-2.292.036-2.514-.915-.237-1.014.375-1.646,1.923-1.964a12.28,12.28,0,0,1,1.309-.2C-942.436,1163.983-941.892,1163.969-941.641,1163.955Z" transform="translate(-112.618 -23.052)" fill="#a9c621" /><path d="M-935.469,1192.44a8.824,8.824,0,0,1,8.727,10.522q-.367,1.871-1.772,1.659c-.918-.138-1.306-.878-1.117-2.13a5.845,5.845,0,0,0-7.05-6.9c-1.1.187-1.883-.25-2.045-1.146-.154-.853.366-1.508,1.445-1.741C-936.686,1192.571-936.074,1192.524-935.469,1192.44Z" transform="translate(-118.59 -45.723)" fill="#a9c621" /></g></svg>
                                            </div>
                                            <h2 class="pt-1">DTH</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <img src="~/Content/images/ico/bill-payment.svg" />
                                            </div>
                                            <h2 class="pt-1">Bill Payment</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="60.326" height="75.408" viewBox="0 0 60.326 75.408">
                                                    <defs>
                                                        <style>
                                                            .a {
                                                                fill: #11311c;
                                                            }

                                                            .b {
                                                                fill: #a9c621;
                                                            }
                                                        </style>
                                                    </defs>
                                                    <g transform="translate(-48.003)"><g transform="translate(48.003)"><path class="a" d="M233.26,7.541a1.257,1.257,0,0,0,1.257-1.257V1.257a1.257,1.257,0,0,0-2.514,0V6.284A1.257,1.257,0,0,0,233.26,7.541Z" transform="translate(-203.097)" /><path class="a" d="M140.148,26.5l2.514,4.352a1.257,1.257,0,0,0,2.185-1.243l-.008-.014-2.514-4.352a1.257,1.257,0,0,0-2.185,1.242Z" transform="translate(-125.526 -20.742)" /><path class="a" d="M73.233,94.314l.014.008L77.6,96.836a1.257,1.257,0,0,0,1.271-2.168l-.014-.008L74.5,92.145a1.257,1.257,0,1,0-1.271,2.168Z" transform="translate(-68.745 -77.524)" /><path class="a" d="M55.544,185.257A1.257,1.257,0,0,0,54.287,184H49.26a1.257,1.257,0,0,0,0,2.514h5.027A1.257,1.257,0,0,0,55.544,185.257Z" transform="translate(-48.003 -155.094)" /><path class="a" d="M77.614,260.136l-.015.008-4.352,2.514a1.257,1.257,0,0,0,1.242,2.185l.015-.009,4.352-2.514a1.257,1.257,0,0,0-1.242-2.185Z" transform="translate(-68.745 -219.13)" /><path class="a" d="M369.854,262.667l-.015-.008-4.352-2.514a1.257,1.257,0,1,0-1.272,2.168l.015.009,4.352,2.514a1.257,1.257,0,0,0,1.272-2.168Z" transform="translate(-314.015 -219.13)" /><path class="a" d="M390.287,184H385.26a1.257,1.257,0,0,0,0,2.514h5.027a1.257,1.257,0,1,0,0-2.514Z" transform="translate(-331.218 -155.094)" /><path class="a" d="M364.906,97a1.257,1.257,0,0,0,.628-.168l4.352-2.514a1.257,1.257,0,0,0-1.242-2.185l-.014.008-4.352,2.514A1.257,1.257,0,0,0,364.906,97Z" transform="translate(-314.061 -77.523)" /><path class="a" d="M308.625,31.313h0a1.257,1.257,0,0,0,1.717-.461h0l2.514-4.352a1.257,1.257,0,0,0-2.168-1.272l-.008.015L308.167,29.6A1.257,1.257,0,0,0,308.625,31.313Z" transform="translate(-267.153 -20.742)" /><path class="b" d="M181.828,185.136a1.257,1.257,0,0,0,1.257-1.257V170.054H185.6a5.027,5.027,0,1,0-5.027-5.027v2.514h-2.514v-2.514a5.027,5.027,0,1,0-5.027,5.027h2.514v13.825a1.257,1.257,0,0,0,2.514,0V170.054h2.514v13.825A1.257,1.257,0,0,0,181.828,185.136Zm1.257-20.109a2.514,2.514,0,1,1,2.514,2.514h-2.514Zm-7.541,2.514H173.03a2.514,2.514,0,1,1,2.514-2.514Z" transform="translate(-149.151 -134.864)" /><path class="a" d="M133.15,64.025a20.109,20.109,0,0,0-13.723,35.629,3.746,3.746,0,0,1,1.435,2.874v2.947a3.77,3.77,0,0,0,2.514,3.539V110.5a3.746,3.746,0,0,0,.98,2.514,3.713,3.713,0,0,0,0,5.027,3.754,3.754,0,0,0,2.79,6.284,1.225,1.225,0,0,0,1.033-1.932,1.333,1.333,0,0,0-.141-.217,1.3,1.3,0,0,0-.349-.229c-.036-.019-.073-.034-.111-.049a1.332,1.332,0,0,0-.4-.079c-.013,0-.024-.008-.036-.008a1.257,1.257,0,0,1,0-2.514h5.027a1.257,1.257,0,0,0,0-2.514h-5.027a1.257,1.257,0,0,1,0-2.514h5.027a1.257,1.257,0,0,0,0-2.514h-5.027a1.257,1.257,0,0,1-1.257-1.257v-1.257h6.284a1.257,1.257,0,0,0,0-2.514h-7.541a1.257,1.257,0,0,1-1.257-1.257v-2.947a6.248,6.248,0,0,0-2.356-4.82A17.6,17.6,0,0,1,133.031,66.54,17.8,17.8,0,0,1,149.769,84a17.492,17.492,0,0,1-6.529,13.778,6.23,6.23,0,0,0-2.268,4.893v2.8a1.257,1.257,0,0,1-1.257,1.257h-3.77a1.257,1.257,0,1,0,0,2.514h2.514V110.5a1.257,1.257,0,0,1-1.257,1.257h-1.257a1.257,1.257,0,1,0,0,2.514H137.2a1.257,1.257,0,0,1,0,2.514h-1.257a1.257,1.257,0,1,0,0,2.514H137.2a1.257,1.257,0,0,1,0,2.514h-6.284a1.257,1.257,0,0,0,0,2.514h4.812a3.77,3.77,0,0,1-6.373,1.248,1.257,1.257,0,0,0-1.878,1.672,6.27,6.27,0,0,0,10.873-3.118,3.734,3.734,0,0,0,1.64-6.085,3.713,3.713,0,0,0,0-5.027,3.746,3.746,0,0,0,.98-2.514v-1.488a3.77,3.77,0,0,0,2.514-3.539v-2.8a3.778,3.778,0,0,1,1.333-2.937,19.99,19.99,0,0,0,7.464-15.753A20.342,20.342,0,0,0,133.15,64.025Z" transform="translate(-102.01 -53.947)" /></g></g>
                                                </svg>
                                            </div>
                                            <h2 class="pt-1">Electricity</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="76.354" height="76.384" viewBox="0 0 76.354 76.384">
                                                    <defs>
                                                        <style>
                                                            .a {
                                                                fill: #11311c;
                                                            }

                                                            .b {
                                                                fill: #a9c621;
                                                            }
                                                        </style>
                                                    </defs>
                                                    <g transform="translate(698.012 -112.954)"><path class="a" d="M-663.555,132.621h7.352v-7.353c-.43,0-.833.007-1.236,0a3.7,3.7,0,0,1-3.654-3.689,3.671,3.671,0,0,1,3.649-3.687q6.191-.031,12.381,0a3.675,3.675,0,0,1,3.658,3.68,3.7,3.7,0,0,1-3.647,3.7c-.4.009-.808,0-1.274,0,0,2.458.005,4.86-.007,7.262a.486.486,0,0,0,.355.5,3.734,3.734,0,0,1,1.9,2.081c2.757,0,5.527.088,8.289-.019a8.75,8.75,0,0,1,9.167,9.151c-.08,1.841-.013,3.688-.013,5.635.776,0,1.533,0,2.291,0a2.465,2.465,0,0,1,2.631,2.648c0,.743.012,1.487,0,2.23a2.428,2.428,0,0,1-2.467,2.5q-7.383.022-14.765,0a2.422,2.422,0,0,1-2.45-2.437c-.02-.846-.024-1.692,0-2.538a2.437,2.437,0,0,1,2.412-2.4c.813-.023,1.628,0,2.473,0v-4.921c-2.429,0-4.831.005-7.233-.007-.286,0-.383.133-.5.357a3.726,3.726,0,0,1-3.619,2.117c-4.947-.019-9.895-.007-14.842-.007h-.753a1.464,1.464,0,0,0-.089.847c-.006,4.973-.015,9.946,0,14.918A6.069,6.069,0,0,1-665.673,168a1.07,1.07,0,0,0-.346.941c0,5.537-.007,11.074.018,16.611a1.055,1.055,0,0,1-.667,1.109c-1.568.806-3.11,1.665-4.649,2.527a.806.806,0,0,1-.9,0c-1.133-.645-2.3-1.235-3.421-1.895a1.085,1.085,0,0,0-1.247-.017c-1.149.668-2.332,1.276-3.488,1.931a.743.743,0,0,1-.838,0c-1.155-.657-2.336-1.269-3.488-1.931a1.029,1.029,0,0,0-1.177-.016c-1.124.659-2.294,1.24-3.421,1.9a.907.907,0,0,1-1.037-.01c-1.56-.877-3.13-1.736-4.715-2.566a.852.852,0,0,1-.507-.893c.014-5.563,0-11.126.019-16.688a1.335,1.335,0,0,0-.483-1.113,5.865,5.865,0,0,1-1.986-4.5q0-22.148,0-44.3a6.106,6.106,0,0,1,6.1-6.128q11.112-.026,22.225,0a6.127,6.127,0,0,1,6.125,6.182c.011,4.2,0,8.408,0,12.612Zm-31.937-7.328V157.21h29.515V137.621h2.459v7.334c5.337,0,10.614.005,15.891-.005a1.213,1.213,0,0,0,1.3-1.375c.01-2.255,0-4.51,0-6.765,0-1.32-.374-1.7-1.673-1.7h-18.024v-9.818Zm2.4,44.225v.8c0,4.587.011,9.174-.015,13.761a1.033,1.033,0,0,0,.657,1.119c.9.421,1.764,1.289,2.643,1.289a5.218,5.218,0,0,0,2.615-1.328,2.78,2.78,0,0,1,3.752-.015,5.08,5.08,0,0,0,2.612,1.336,5.406,5.406,0,0,0,2.692-1.344,2.784,2.784,0,0,1,3.689-.008,5.428,5.428,0,0,0,2.681,1.359c.9,0,1.785-.893,2.708-1.328a.924.924,0,0,0,.588-1c-.02-4.664-.012-9.328-.013-13.992v-.646Zm27.067-9.752h-29.528c0,1.221-.008,2.4,0,3.572a3.682,3.682,0,0,0,3.806,3.765c1.282.008,2.563,0,3.845,0q9.036,0,18.072,0a3.674,3.674,0,0,0,3.794-3.459C-665.981,162.368-666.021,161.088-666.021,159.767Zm-29.524-37.005h29.528c0-1.194.006-2.345,0-3.495a3.688,3.688,0,0,0-3.884-3.843c-1.487-.006-2.974,0-4.461,0q-8.69,0-17.38,0a3.67,3.67,0,0,0-3.793,3.458C-695.585,120.159-695.545,121.439-695.545,122.762Zm66.445,27.093c0-2.072.008-4.067,0-6.062a6.144,6.144,0,0,0-6.231-6.22q-3.917-.012-7.833,0c-.22,0-.456-.076-.66.068v4.85c2.417,0,4.793.008,7.169,0a2.524,2.524,0,0,1,2.042.873,2.56,2.56,0,0,1,.6,1.772c-.015,1.575,0,3.15,0,4.72Zm-19.732-17.222v-7.322h-4.835v7.322Zm9.917,22.134h14.7v-2.395h-14.7ZM-651.287,122.8q2.919,0,5.839,0c1.027,0,1.595-.453,1.58-1.249-.014-.771-.567-1.209-1.544-1.209q-5.839,0-11.678,0c-.977,0-1.53.44-1.542,1.211-.012.8.551,1.247,1.583,1.248Q-654.168,122.809-651.287,122.8Z" transform="translate(0 0)" /><path class="b" d="M-320.465,426.036c2.1,3.293,4.117,6.457,6.134,9.623.728,1.143,1.483,2.269,2.174,3.433,2.147,3.617,2.191,7.287-.179,10.761a9.233,9.233,0,0,1-10.017,4.11,9.439,9.439,0,0,1-7.714-7.524,8.545,8.545,0,0,1,.913-6.61C-326.356,435.226-323.419,430.706-320.465,426.036Zm.01,4.6c-2.1,3.3-4.119,6.467-6.134,9.637a7.633,7.633,0,0,0-.371.67,6.971,6.971,0,0,0,.692,7.92,6.946,6.946,0,0,0,7.658,2.6c4.991-1.274,7.051-6.769,4.257-11.241-1.6-2.558-3.235-5.091-4.855-7.635C-319.6,431.968-320,431.351-320.455,430.634Z" transform="translate(-311.107 -264.924)" /><path class="a" d="M-641.192,236.3h-24.524V209.284h24.524Zm-22.088-2.489h19.627V211.745h-19.627Z" transform="translate(-27.329 -81.512)" /><path class="a" d="M-649.8,497.2h19.626v2.4H-649.8Z" transform="translate(-40.799 -325.14)" /><path class="a" d="M-630.089,529.278v2.375h-19.628v-2.375Z" transform="translate(-40.867 -352.285)" /><path class="a" d="M-596.877,433.259v2.382h-4.862v-2.382Z" transform="translate(-81.465 -271.036)" /><path class="a" d="M-602.423,145.252v2.384h-7.323v-2.384Z" transform="translate(-74.689 -27.33)" /><path class="a" d="M-639.4,145.2v2.4h-2.4v-2.4Z" transform="translate(-47.568 -27.288)" /><path class="a" d="M-543.306,145.3v2.37h-2.4V145.3Z" transform="translate(-128.881 -27.367)" /><path class="b" d="M-294.218,496.29l2.075,1.317c-.529.839-1.041,1.652-1.555,2.464-.437.691-.878,1.381-1.315,2.072-1.256,1.984-.527,3.688,1.815,4.153v2.348a4.775,4.775,0,0,1-4.476-6.728A53.823,53.823,0,0,1-294.218,496.29Z" transform="translate(-338.389 -324.372)" /></g>
                                                </svg>
                                            </div>
                                            <h2 class="pt-1">Water</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="60.208" height="76.433" viewBox="0 0 60.208 76.433">
                                                    <defs>
                                                        <style>
                                                            .a {
                                                                fill: #a9c621;
                                                            }

                                                            .b {
                                                                fill: #11311c;
                                                            }
                                                        </style>
                                                    </defs>
                                                    <g transform="translate(-508 -2117.83)"><g transform="translate(523.155 2117.83)"><path class="a" d="M-126,147.009a14.163,14.163,0,0,1,14.47,13.963A14.608,14.608,0,0,1-125.951,175.3a14.694,14.694,0,0,1-14.522-14.276C-140.516,153.321-134,147.008-126,147.009Zm-.222,25.173c6.447.055,11.468-4.688,11.541-10.9a11.127,11.127,0,0,0-11.156-11.306,11.259,11.259,0,0,0-11.449,10.911A11.3,11.3,0,0,0-126.224,172.182Z" transform="translate(140.474 -147.009)" /><path class="a" d="M-108.29,237.3a35.343,35.343,0,0,0,8.226-.026c.47,1.179.108,2.341.259,3.63h-8.441A8.8,8.8,0,0,1-108.29,237.3Z" transform="translate(118.767 -208.205)" /><path class="b" d="M-104.009,173.425c1.8,1.429,2.7,3.439,3.567,5.458a.725.725,0,0,1-.467,1.034c-.494.168-.8-.138-1.012-.551A27.954,27.954,0,0,1-104.009,173.425Z" transform="translate(115.753 -164.917)" /><path class="b" d="M-120.808,203.212c0,.518-.237.739-.668.757-.409.017-.729-.129-.779-.58a.649.649,0,0,1,.569-.794A.762.762,0,0,1-120.808,203.212Z" transform="translate(128.128 -184.685)" /><path class="b" d="M-72.149,202.565c.445.057.829.192.841.642.014.518-.349.762-.844.736-.413-.022-.745-.235-.717-.691C-72.842,202.818-72.507,202.632-72.149,202.565Z" transform="translate(94.642 -184.673)" /><path class="b" d="M-81.681,213.638a.838.838,0,0,1-.748.91c-.447.064-.68-.252-.7-.659a.673.673,0,0,1,.65-.739A.633.633,0,0,1-81.681,213.638Z" transform="translate(101.598 -191.841)" /><path class="b" d="M-110.8,164.919c.03.556-.224.79-.64.831a.641.641,0,0,1-.776-.6.675.675,0,0,1,.644-.755C-111.122,164.333-110.933,164.66-110.8,164.919Z" transform="translate(121.318 -158.791)" /><path class="b" d="M-72.262,174.676a.592.592,0,0,1,.591.761.586.586,0,0,1-.634.584.711.711,0,0,1-.736-.708C-73.055,174.838-72.675,174.715-72.262,174.676Z" transform="translate(94.758 -165.766)" /><path class="b" d="M-125.713,190.259c-.443-.052-.7-.288-.618-.744a.636.636,0,0,1,.7-.531c.417.014.734.219.707.685S-125.3,190.266-125.713,190.259Z" transform="translate(130.896 -175.465)" /><path class="b" d="M-110.665,213.837c-.057.394-.213.744-.662.714a.672.672,0,0,1-.669-.724c.022-.443.369-.6.77-.6C-110.846,213.236-110.678,213.474-110.665,213.837Z" transform="translate(121.168 -191.904)" /><path class="b" d="M-121.017,175.534a.708.708,0,0,1-.719.675.634.634,0,0,1-.764-.6c-.038-.478.288-.644.7-.659S-121.073,175.042-121.017,175.534Z" transform="translate(128.291 -165.948)" /><path class="b" d="M-96.375,161.31c0,.43-.153.746-.628.748a.6.6,0,0,1-.634-.591A.605.605,0,0,1-97,160.73.559.559,0,0,1-96.375,161.31Z" transform="translate(111.437 -156.311)" /><path class="b" d="M-82.712,164.325c.416.044.517.334.495.678-.027.412-.2.748-.685.657a.64.64,0,0,1-.564-.67C-83.443,164.548-83.119,164.371-82.712,164.325Z" transform="translate(101.827 -158.748)" /><path class="b" d="M-67.3,189.542a.69.69,0,0,1-.758.654.552.552,0,0,1-.54-.648c.013-.467.3-.657.736-.627A.539.539,0,0,1-67.3,189.542Z" transform="translate(91.747 -175.421)" /></g><g transform="translate(508 2149.108)"><path class="b" d="M61.2,35.09H54.18a3.019,3.019,0,0,0-3.01-3.01H47.156a3.019,3.019,0,0,0-3.01,3.01H40.132V31.076a3.019,3.019,0,0,0,3.01-3.01V24.052a3.019,3.019,0,0,0-3.01-3.01V10a1,1,0,0,0-1-1H25.08a1,1,0,0,0-1,1V21.042a3.019,3.019,0,0,0-3.01,3.01v4.014a3.019,3.019,0,0,0,3.01,3.01V35.09H20.062a3.019,3.019,0,0,0-3.01-3.01H13.038a3.019,3.019,0,0,0-3.01,3.01H3a1,1,0,0,0-1,1V50.142a1,1,0,0,0,1,1h7.024a3.019,3.019,0,0,0,3.01,3.01h4.014a3.019,3.019,0,0,0,3.01-3.01H44.145a3.019,3.019,0,0,0,3.01,3.01H51.17a3.019,3.019,0,0,0,3.01-3.01H61.2a1,1,0,0,0,1-1V36.094A1,1,0,0,0,61.2,35.09ZM10.028,49.139H4.007V37.1h6.021Zm8.028,2.007a1,1,0,0,1-1,1H13.038a1,1,0,0,1-1-1V35.09a1,1,0,0,1,1-1h4.014a1,1,0,0,1,1,1Zm8.028-40.139H38.125V21.042H26.083Zm-3.01,17.059V24.052a1,1,0,0,1,1-1H40.132a1,1,0,0,1,1,1v4.014a1,1,0,0,1-1,1H24.076A1,1,0,0,1,23.073,28.066ZM44.145,49.139H20.062V37.1H25.08a1,1,0,0,0,1-1V31.076H38.125v5.017a1,1,0,0,0,1,1h5.017Zm8.028,2.007a1,1,0,0,1-1,1H47.156a1,1,0,0,1-1-1V35.09a1,1,0,0,1,1-1H51.17a1,1,0,0,1,1,1ZM60.2,49.139H54.18V37.1H60.2Z" transform="translate(-2 -9)" /><path class="b" d="M6,39H8.007v2.007H6Z" transform="translate(-1.986 -8.896)" /><path class="b" d="M24,45h2.007v2.007H24Z" transform="translate(-1.924 -8.875)" /><path class="b" d="M28,45h4.014v2.007H28Z" transform="translate(-1.91 -8.875)" /><path class="b" d="M56,39h2.007v2.007H56Z" transform="translate(-1.813 -8.896)" /></g></g>
                                                </svg>
                                            </div>
                                            <h2 class="pt-1">Piped Gas</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <img src="~/Content/images/ico/broadband.svg" />
                                            </div>
                                            <h2 class="pt-1">Broadband</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <img src="~/Content/images/ico/landline.svg" />
                                            </div>
                                            <h2 class="pt-1">landline</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <img src="~/Content/images/ico/pancard.svg" />
                                            </div>
                                            <h2 class="pt-1">Pancard</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="media text-center">
                                    <div class="p-1 text-center full-width">
                                        <a href="@Url.Action("bbps", "retailerDashboard")">
                                            <div class="utilities-icon">
                                                <img src="~/Content/images/ico/fastag.svg" />
                                            </div>
                                            <h2 class="pt-1">Fastag</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="icon-section" class="user-quick-action">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="media align-items-stretch">
                                    <div class="p-1 text-center bg rounded-left">
                                        <i class="material-icons font-large-2">account_balance_wallet</i>
                                    </div>
                                    <div class="p-1 media-body">
                                        <h3>Wallet Balance</h3>
                                        <h5 id="dashboardWalletBalance">@Model.WalletBalance</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <a href="makePayment">
                                    <div class="media align-items-stretch">
                                        <div class="p-1 text-center bg rounded-left">
                                            <i class="material-icons font-large-2">addchart</i>
                                        </div>
                                        <div class="p-1 media-body">
                                            <h3>Add Balance</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="media align-items-stretch">
                                    <div class="p-1 text-center bg rounded-left">
                                        <a href="#" target="_blank">
                                            <i class="material-icons font-large-2">android</i>
                                        </a>
                                    </div>
                                    <div class="p-1 media-body">
                                        <a href="#" target="_blank" class="text-white">
                                            <h3>Download APP (Coming Soon!!!)</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Recent Transactions</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            </div>
                            <div class="card-content mt-1">
                                <div class="table-responsive">
                                    <table id="recent-orders" class="table table-hover table-xl mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Date</th>
                                                <th class="text-left">Product</th>
                                                <th class="text-left">Account Transaction Id</th>
                                                <th class="text-left">Transaction Detail</th>
                                                <th class="text-right">Credit</th>
                                                <th class="text-right">Debit</th>
                                                <th class="text-right">Closing Balance</th>
                                            </tr>
                                        </thead>
                                        @if (Model.objEntityAccountList.Count == 0)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td class="text-truncate text-center" colspan="7"><h2>No Transaction Details Found!!</h2></td>
                                                </tr>
                                            </tbody>
                                        }
                                        @for (int i = 0; i < Model.objEntityAccountList.Count; i++)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">@Model.objEntityAccountList[i].CreatedDateTime</td>
                                                    <td class="text-left">@Model.objEntityAccountList[i].ProductCode</td>
                                                    <td class="text-left">@Model.objEntityAccountList[i].AccountTransactionId</td>
                                                    <td class="text-left">@Model.objEntityAccountList[i].Description</td>
                                                    <td class="text-right">
                                                        @if (Model.objEntityAccountList[i].IsCredit)
                                                        {<span class="text-success">@String.Format("{0:0.000}", Model.objEntityAccountList[i].Amount)</span>}
                                                    else { }
                                                    </td>
                                                    <td class="text-right">
                                                        @if (Model.objEntityAccountList[i].IsCredit == false)
                                                        {
                                                            <span class="text-danger">@String.Format("{0:0.000}", Model.objEntityAccountList[i].Amount)</span>}
                                                    </td>
                                                    <td class="text-right font-weight-bold">@Model.objEntityAccountList[i].RunningBalance</td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/chart");
    <script src="~/Content/js/scripts/pages/dashboard-ecommerce.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
        $(document).ready(function () {
            $("#btnUpdateKYC").click(function myfunction() {
                window.location.href = '@Url.Content("~/editprofile")';
            });
        });
    </script>
}

