﻿@{
    ViewBag.Title = "Refund and Cancellation Policy";
    Layout = "~/Views/Shared/_cmsLayout.cshtml";
}
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-8 col-md-8 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
            <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                    <img src="../../../Content/images/logo/protonpay.png" alt="logo">
                </div>
                <h4 class="card-subtitle line-on-side text-muted text-center pt-2"><span>Refund & Cancellation Policy</span></h4>
            </div>
            <div class="card-content">
                <div class="card-body pt-2">
                    <p class="text-justify font-size-small">
                        A transaction that fails because of Proton Pay, and for which the user receives a corresponding confirmation from the associated payment gateway will be refunded automatically  back to the user in a time period of 3-21 working days from original date of the transaction. A confirmation email will be sent to the registered email ID. Note that amount pertaining to the applicable taxes and payments gateway charges will not be refunded.
                    </p>
                    <p class="text-justify font-size-small">
                        In cases where the user successfully completes payment but does not get the services, the user is required to register a complaint with Proton Pay.The complaint will be logged by the user by sending the email on customer care email provided on the website. Refund of the payment will be provided to the user account on the basis of results of the inquiry.
                    </p>
                    <p class="text-justify font-size-small">
                        Please note that in all cases, Proton Pay is bound to refund only the payment which is received by us. Proton Pay is not responsible for any consequential liability or claim that may be associated with the failure of the service of our system.
                    </p>
                    <p class="text-justify font-size-small">
                        A user should accept that Proton Pay refund policy is subject to stated terms & conditions of the user agreement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

