﻿@model  application.Main.ViewModels.SubMenuCompanyPermissionVM
<div class="card-body">

    @using (Ajax.BeginForm("saveSubMenuCompanyPermission", "companySubMenuPermission", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
    {
        @Html.AntiForgeryToken();
        <hr />
        <div class="form-body">
            @Html.HiddenFor(model => model.CompanyId)
            @Html.HiddenFor(model => model.MainMenuId)
            @if (Model.objSubMenuList.Count == 0)
            {
                <div class="text-center"><h2>No Sub Menu Found!</h2></div>
            }
            @for (int i = 0; i < Model.objSubMenuList.Count; i++)
            {
                <div class="form-group row mx-auto">
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.objSubMenuList[i].SubMenuId)
                        @Html.DisplayFor(model => model.objSubMenuList[i].SubMenuName)
                    </div>
                    <div class="col-md-4">
                        @Html.CheckBoxFor(model => model.objSubMenuList[i].CanView)
                        <label>Can View</label>
                    </div>
                </div>
            }
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="la la-check-square-o"></i> Save
            </button>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
