﻿@model  application.Main.Models.tblEntity_User
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
            <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                    <img src="../../../Content/images/logo/protonpay.png" alt="logo">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Forgot Password</span></h6>
            </div>
            <div class="card-content">
                <div class="card-body login-form pt-0" id="divLogin">
                    @using (Ajax.BeginForm("validateForgotPasswordCredentials", "login", new AjaxOptions { OnBegin = "beginSubmit('btnLogin')", OnComplete = "completeSubmit('btnLogin','Login')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                    {
                        <fieldset class="form-group floating-label-form-group">
                            <label for="user-name">Mobile No.</label>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @id = "txtLoginName" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </fieldset>
                        <button type="submit" class="btn btn-shade1 mb-0" id="btnLogin">Send OTP</button>
                    }
                </div>
                <div class="card-body login-form pt-0" id="divForgotPasswordOTP" style="display:none;">
                    @using (Ajax.BeginForm("validateForgotPasswordOTP", "login", new AjaxOptions { OnBegin = "beginSubmit('btnValidateOTP')", OnComplete = "completeSubmit('btnValidateOTP','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                    {
                        <fieldset class="form-group floating-label-form-group">
                            <label for="user-name">Enter OTP</label>
                            @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter OTP", @id = "txtLoginName" } })
                            @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                        </fieldset>
                        <div class="form-group row">
                            <div class="col-sm-6 col-6 text-left"></div>
                            <div class="col-sm-6 col-6 text-right">
                                <a href="javascript:" id="ancResendOTP" class="forgot-password">Resend OTP</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-shade1" id="btnValidateForgotPasswordOTP">Submit</button>
                    }
                </div>
            </div>
            <div class="card-footer border-0">
                <p class="float-sm-left text-center"><a href="@Url.Action("index", "login")" class="card-link forgot-password">Login</a></p>
                <p class="float-sm-right text-center">New to ProtonPay ? <a href="@Url.Action("register", "login")" class="card-link">Create Account</a></p>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $("#ancResendOTP").click(function myfunction() {
            $("#ancResendOTP").html("Re-Sending OTP...");
            $("#ancResendOTP").attr("disabled", "disabled");
            $.ajax({
                type: "post",
                url: "/login/resendForgotPasswordOTP",
                data: '',
                datatype: "json",
                traditional: true,
                success: function (response) {
                    $("#ancResendOTP").html("Resend OTP");
                    $("#ancResendOTP").removeAttr("disabled");
                    if (response.success === true) {
                        notifyMessage("0|" + response.responseText);
                    }
                    else {
                        notifyMessage("1|" + response.responseText);
                    }
                }
            });
        });
    </script>
}