﻿@model  application.Main.Models.tblEntity_User
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-4 col-md-8 col-12 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
            <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                    <img src="../../../Content/images/logo/protonPay.png" alt="logo">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>User Login</span></h6>
            </div>
            <div class="card-content">
                <div class="card-body pt-0 login-form" id="divLogin">
                    @using (Ajax.BeginForm("validateCredentials", "login", new AjaxOptions { OnBegin = "beginSubmit('btnLogin')", OnComplete = "completeSubmit('btnLogin','Login')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                    {
                        <fieldset class="form-group floating-label-form-group">
                            <label for="user-name">Mobile No</label>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @id = "txtLoginName" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </fieldset>
                        <fieldset class="form-group floating-label-form-group mb-1">
                            <label for="user-password">Enter Password</label>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter Password", @id = "txtPassword" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </fieldset>
                        <div class="form-group row">
                            <div class="col-sm-12 col-12 text-left">
                                @Html.CheckBoxFor(model => model.termsCondition) I have read and accepted <a href="@Url.Action("index", "termsandconditions")" target="_blank">Terms & Conditions</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-shade1" id="btnLogin">Sign In</button>
                        <div class="form-group row">
                            <div class="col-12 text-center"><a href="@Url.Action("forgotPassword", "login")" id="ancForgotPassword" class="card-link forgot-password">Forgot Password?</a></div>
                        </div>
                    }
                </div>
                <div class="card-body pt-0" id="divOTP" style="display:none;">
                    @using (Ajax.BeginForm("validateLoginOTP", "login", new AjaxOptions { OnBegin = "beginSubmit('btnValidateOTP')", OnComplete = "completeSubmit('btnValidateOTP','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                    {
                        <fieldset class="form-group floating-label-form-group">
                            <label for="user-name">Enter OTP</label>
                            @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter OTP", @id = "txtLoginName" } })
                            @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                        </fieldset>
                        <div class="form-group row">
                            <div class="col-sm-12 col-12 text-right">
                                <a href="javascript:" id="ancResendOTP">Resend OTP</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-shade1" id="btnValidateOTP"><i class="ft-user"></i> Submit</button>
                    }
                </div>
            </div>
            <div class="card-footer border-0 pt-0">
                <p class="text-center">New to ProtonPay ? <a href="@Url.Action("register", "login")" class="card-link">Create Account</a></p>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
            if (showMessage != '') {
                notifyMessage(showMessage);
                showMessage = '';
                @TempData[Helper.responseStatus]='';
            }
        });

        $("#ancResendOTP").click(function myfunction() {
            $("#ancResendOTP").html("Re-Sending OTP...");
            $("#ancResendOTP").attr("disabled", "disabled");
            $.ajax({
                type: "post",
                url: "/login/resendLoginOTP",
                data: '',
                datatype: "json",
                traditional: true,
                success: function (response) {
                    $("#ancResendOTP").html("Resend OTP");
                    $("#ancResendOTP").removeAttr("disabled");
                    if (response.success === true) {
                        notifyMessage("0|" + response.responseText);
                    }
                    else {
                        notifyMessage("1|" + response.responseText);
                    }
                }
            });
        });
    </script>
}
