﻿@{
    ViewBag.Title = "Distributor Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/chartCSS")
}
<div class="app-content container-fluid center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body">
            <section id="icon-section">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="media align-items-stretch">
                                    <div class="p-2 text-center bg-warning rounded-left">
                                        <i class="icon-wallet font-large-2 text-white"></i>
                                    </div>
                                    <div class="p-2 media-body">
                                        <h5>Wallet Balance</h5>
                                        <h5 class="text-bold-400 mb-0">5.6 M</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="media align-items-stretch">
                                    <div class="p-2 text-center bg-warning bg-darken-2 rounded-left">
                                        <i class="icon-user font-large-2 text-white"></i>
                                    </div>
                                    <div class="p-2 bg-warning text-white media-body rounded-right">
                                        <h5 class="text-white">Manage Retailer</h5>
                                        <h5 class="text-white text-bold-400 mb-0">5.6 M</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 col-12">
                        <div class="card bg-gradient-directional-info">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center">
                                            <a href="https://play.google.com/store/apps/details?id=com.misgujarat.moneytransfer.in" target="_blank">
                                                <img src="~/Content/images/google-playstore-misgujrat.png" />
                                            </a>
                                        </div>
                                        <div class="media-body text-right text-white">
                                            <a href="https://play.google.com/store/apps/details?id=com.misgujarat.moneytransfer.in" target="_blank" class="text-white">
                                                <h3 class="text-white">DOWNLOAD App</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="icon-section-bg">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body cleartfix">
                                    <div class="media align-items-stretch">
                                        <div class="align-self-center">
                                            <h1 class="mr-2">₹76,456.00</h1>
                                        </div>
                                        <div class="media-body">
                                            <h4>Total Sales</h4>
                                            <span>Total Sales Amount</span>
                                        </div>
                                        <div class="align-self-center">
                                            <i class="icon-heart danger font-large-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body cleartfix">
                                    <div class="media align-items-stretch">
                                        <div class="align-self-center">
                                            <h1 class="mr-2">₹7600</h1>
                                        </div>
                                        <div class="media-body">
                                            <h4>Commission</h4>
                                            <span>Total Commission Earned</span>
                                        </div>
                                        <div class="align-self-center">
                                            <i class="icon-heart danger font-large-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body cleartfix">
                                    <div class="media align-items-stretch">
                                        <div class="align-self-center">
                                            <h1 class="mr-2">₹76,456.00</h1>
                                        </div>
                                        <div class="media-body">
                                            <h4>TDS</h4>
                                            <span>Total TDS Amount</span>
                                        </div>
                                        <div class="align-self-center">
                                            <i class="icon-heart danger font-large-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-xl-5 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Monthly Sales Graph</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            </div>
                            <div class="card-content">
                                <div class="card-body sales-growth-chart">
                                    <div id="monthly-sales" class="height-250"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Recent Transactions</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            </div>
                            <div class="card-content mt-1">
                                <div class="table-responsive">
                                    <table id="recent-orders" class="table table-hover table-xl mb-0">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Agency</th>
                                                <th class="border-top-0">Product</th>
                                                <th class="border-top-0">Transaction Id</th>
                                                <th class="border-top-0">Transaction Detail</th>
                                                <th class="border-top-0">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-truncate">iPone X</td>
                                                <td class="text-truncate p-1">
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td class="text-truncate">xxx</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">iPone X</td>
                                                <td class="text-truncate p-1">
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td class="text-truncate">xxx</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">iPone X</td>
                                                <td class="text-truncate p-1">
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td class="text-truncate">xxx</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">iPone X</td>
                                                <td class="text-truncate p-1">
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td class="text-truncate">xxx</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">iPone X</td>
                                                <td class="text-truncate p-1">
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td>
                                                    xxx
                                                </td>
                                                <td class="text-truncate">xxx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/chart");
    <script src="~/Content/js/scripts/pages/dashboard-ecommerce.js"></script>
    <script>
        $(document).ready(function () {
            Morris.Bar.prototype.fillForSeries = function (i) {
                var color;
                return "0-#fff-#f00:20-#000";
            };

            Morris.Bar({
                element: 'monthly-sales',
                data: [{ month: 'Jan', sales: 1835 }, { month: 'Feb', sales: 2356 }, { month: 'Mar', sales: 1459 }, { month: 'Apr', sales: 1289 }, { month: 'May', sales: 1647 }, { month: 'Jun', sales: 2156 }, { month: 'Jul', sales: 1835 }, { month: 'Aug', sales: 2356 }, { month: 'Sep', sales: 1459 }, { month: 'Oct', sales: 1289 }, { month: 'Nov', sales: 1647 }, { month: 'Dec', sales: 2156 }],
                xkey: 'month',
                ykeys: ['sales'],
                labels: ['Sales'],
                barGap: 4,
                barSizeRatio: 0.3,
                gridTextColor: '#bfbfbf',
                gridLineColor: '#E4E7ED',
                numLines: 5,
                gridtextSize: 14,
                resize: true,
                barColors: ['#FF394F'],
                hideHover: 'auto',
            });
        });
    </script>
}

