﻿@model  application.Main.ViewModels.subMenuMasterViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/plugins/forms/checkboxes-radios.css" rel="stylesheet" />
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Create New Sub Menu</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "subMenuMaster",new { ID = '0',mainMenuId=Request["mainMenuId"] })" class="btn btn-success btn-md">View All Sub Menu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveSubMenu", "subMenuMaster", new { mainMenuId = Request["mainMenuId"] }, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3" id="divMainMenu">
                                            @Html.LabelFor(model => model.objSubMenu.MainMenuId)
                                            @Html.DropDownListFor(model => model.objSubMenu.MainMenuId, new SelectList(Model.objMainMenuList, "MainMenuId", "MainMenuName"), "--- Select Role ---", new { @class = "form-control", @id = "cboMainMenu" })
                                            @Html.ValidationMessageFor(model => model.objSubMenu.MainMenuId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objSubMenu.SubMenuName)
                                            @Html.EditorFor(model => model.objSubMenu.SubMenuName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sub Menu Name" } })
                                            @Html.ValidationMessageFor(model => model.objSubMenu.SubMenuName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objSubMenu.ExternalURL)
                                            @Html.EditorFor(model => model.objSubMenu.ExternalURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Menu URL" } })
                                            @Html.ValidationMessageFor(model => model.objSubMenu.ExternalURL, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objSubMenu.ExternalURLTarget)
                                            @Html.DropDownListFor(model => model.objSubMenu.ExternalURLTarget, new SelectList(Model.objExternalLinkTarget, "targetTypeValue", "targetTypeName"), "--- Select Target Type ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objSubMenu.ExternalURLTarget, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objSubMenu.IconCSS)
                                            @Html.EditorFor(model => model.objSubMenu.IconCSS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ICON CSS" } })
                                            @Html.ValidationMessageFor(model => model.objSubMenu.IconCSS, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objSubMenu.StatusId)
                                            @Html.DropDownListFor(model => model.objSubMenu.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objSubMenu.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objSubMenu.SubMenuId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/subMenuMaster?mainMenuId="+ Request["mainMenuId"])'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/js/scripts/forms/checkbox-radio.js");
    <script>
        $(document).ready(function () {
            $('#cboCompany').change(function () {
                populateMainMenuByCompanyId($("#cboCompany").val(), "divRole", "cboMainMenu", "objSubMenu.MainMenuId", "objSubMenu_MainMenuId");
            });
        });
    </script>
}

