﻿@model Mvc.Models.mvcCountryModel
@{
    ViewBag.Title = "AddOrEdit";
}
<h2>Country Add</h2>
<div class="form-body">
    @using (Html.BeginForm())
    { 
        @Html.HiddenFor(model => model.CountryId)
        <div class="form-group">
            @Html.LabelFor(model => model.CountryName)
            @Html.EditorFor(model => model.CountryName)
            @Html.ValidationMessageFor(model => model.CountryName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CountryCode)
            @Html.EditorFor(model => model.CountryCode)
            @Html.ValidationMessageFor(model => model.CountryCode)
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn btn-default" />
        </div>


    }
</div>
@section scripts{
     @Scripts.Render("~/bundles/jqueryval");
}


