﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content center-layout">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="text-info">Awasome Company Dashboard Coming Soon!!!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
