﻿@model  application.Main.ViewModels.supportTicketVM
@{
    ViewBag.Title = "View Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }

    .imgHolder {
        position: relative;
        display: block;
    }

    .bimg-150 {
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .bimg-80 {
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .imgHolder .imageBoxPad {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 1% 1%;
    }

        .imgHolder .imageBoxPad .removeImg {
            position: relative;
            width: 18px;
            height: 18px;
            padding: 0px;
            font-weight: bold;
        }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">View Ticket</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveRaiseTicket", "ticket", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            <strong>TicketID #@Html.DisplayFor(model => model.objSupportTicket.displayTicketId)</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Date: @Html.DisplayFor(model => model.objSupportTicket.CreatedDateTime)</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-right">
                                                <a href="@Url.Action("index", "ticket")" class="btn btn-success btn-md">View All Ticket</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4"><label>Agency:</label> @Html.DisplayFor(model => model.objSupportTicket.AgencyName)</div>
                                        <div class="col-md-4"><label>Name:</label> @Html.DisplayFor(model => model.objSupportTicket.PersonName)</div>
                                        <div class="col-md-4"><label>Mobile:</label> @Html.DisplayFor(model => model.objSupportTicket.Mobile)</div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4"><label>Problem:</label> @Html.DisplayFor(model => model.objSupportTicket.ProblemName)</div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-10">
                                            <div class="bs-callout-danger callout-border-left mt-1 p-1">
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Comments:</strong></div>
                                                    <div class="col-md-6">
                                                        <div class="text-right">
                                                            <strong>Date: @Html.Raw(Model.objSupportTicket.CreatedDateTime.Value)</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="pt-1">
                                                    @Html.Raw(Model.objSupportTicket.Comments)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <strong>Attachment:</strong>
                                            <div class="imgHolder">
                                                <a href="@Url.Content(Model.objSupportTicket.AttachmentName)" target="_blank"><img id="imgAttachmentPreview" src="@Url.Content(Model.objSupportTicket.AttachmentName)" class="bimg-150" /></a>
                                                <div class="imageBoxPad">
                                                    <a class="btn removeImg"><i class="material-icons">search</i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-12">
                                            <div class="bs-callout-success callout-border-left mt-1 p-1">
                                                <strong>Comments:</strong>
                                                <p>
                                                    @Html.Raw(Model.objSupportTicket.Comments)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objSupportTicket.TicketId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/ticket")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $('#HPAttachment').change(function () {
            var fileName = $('#HPAttachment').val();
            if (fileName) {
                HPPhotoAttachment_readURL(this);
            } else {
                $('#imgAttachmentPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function HPPhotoAttachment_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgAttachmentPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgAttachmentPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function RemoveImage() {
            $('#imgAttachmentPreview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPAttachment').val("");
        }
    </script>
}

