﻿@{
    ViewBag.Title = "Support Tickets List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Support Ticket List</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12 p-1">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <select id="cboTicketType" class="form-control form-control-sm">
                                                <option value="0">-- All --</option>
                                                <option value="1">Open Tickets</option>
                                                <option value="2">Closed Tickets</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1 text-right"><label for="from">From</label></div>
                                        <div class="col-md-2 text-left"><input type="text" id="fromDate" name="from" class="form-control form-control-sm"></div>
                                        <div class="col-md-1 text-center"><label for="to">to</label></div>
                                        <div class="col-md-2 text-left"><input type="text" id="toDate" name="to" class="form-control form-control-sm"></div>
                                        <div class="col-md-2 text-left"><input type="button" id="btnsearch" class="btn btn-success btn-sm" value="Search" /></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-12"><a href="@Url.Action("raiseTicket", "ticket")" class="btn btn-success btn-md">Raise New Ticket</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-left">TicketId#</th>
                                                <th class="text-left">Date</th>
                                                <th class="text-left">Problem</th>
                                                <th class="text-left">Comment</th>
                                                <th class="text-left">Status</th>
                                                <th class="text-center">View</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);

             var dateFormat = "dd-mm-yy",
                from = $("#fromDate")
                    .datepicker({
                        dateFormat:"dd-mm-yy",
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 2
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#toDate").datepicker({
                    dateFormat:"dd-mm-yy",
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var fromDate = formatIndianDate(new Date(), true);
                var toDate = formatIndianDate(new Date(), false);
                $('#fromDate').val(fromDate);
                $('#toDate').val(toDate);
                bindData(fromDate, toDate);
            }
            else { window.location.href = "unauthorized";}
        });

        $('#btnsearch').click(function () {
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            if (fromDate != '' && toDate != '') {
                bindData(fromDate, toDate);
            }else {
                notifyMessage("1|Please Select From and To Date.");
            }
        });

        function bindData(fromDate, toDate) {
            var ticketType = $("#cboTicketType").val();
            $("#tblDataList").DataTable({
                    ajax: {
                        url: '/ticket/getTicketList?ticketType='+ticketType+'&fromDate=' + fromDate + '&toDate=' + toDate + '',
                        type: "GET",
                        datatype: "JSON"
                    },
                columns: [
                    {
                        data: "TicketId", name: "TicketId", className: 'text-left',
                        render: function (data) {
                            return "#" + formatTicketNo(data,5);
                        }
                    },
                        {
                            data: "RaisedDateTime", className:'text-left',
                            render: function (data) {
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                                var date = formatedDate;
                                return date;
                            }
                        },
                    { data: "ProblemName", name: "ProblemName", className: 'text-left' },
                        {
                        data: "Comments", name: "Comments", className: 'text-left',
                        render: function (data) {
                            return show50Characters(data);
                        }
                    },
                        {
                            data: "IsRaised","orderable":false,className: 'text-center',
                            render: function (data, type, objData) {
                                return (objData.IsClosed == true ? "<span class='badge badge-success'>Closed</span>" : "<span class='badge badge-warning'>Open</span>");
                            }
                        },
                        {
                            data: "TicketId","orderable":false,className:'text-center',
                            render: function (data, type, objData) {
                                return "<a href=\"ticket/viewTicket?id="+objData.TicketId+"\" class='btn btn-sm btn-info'>View</span>";
                            }
                        }
                    ],
                    processing: true,
                    destroy: true,
                    serverSide: true,
                    "order": [0, 'desc'],
                    language: {
                        processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                    }
            });
            //$("#tblDataList_length").hide();
        }
    </script>
}