﻿@model  application.Main.ViewModels.SubMenuCompanyPermissionVM
<div class="card-body">

    @using (Ajax.BeginForm("SaveMainMenuCompanyPermission", "companyMenuPermission", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
    {
        @Html.AntiForgeryToken();
        <hr />
        <div class="form-body">
            @Html.HiddenFor(model => model.CompanyId)
            @if (Model.objMainMenuList.Count == 0)
            {
                <div class="text-center"><h2>No Main Menu Found!</h2></div>
            }
            @for (int i = 0; i < Model.objMainMenuList.Count; i++)
            {
                <div class="form-group row mx-auto">
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.objMainMenuList[i].MainMenuId)
                        @Html.DisplayFor(model => model.objMainMenuList[i].MainMenuName)
                    </div>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.objMainMenuList[i].CanView)
                        <label>Can View</label>
                    </div>
                </div>
            }
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="la la-check-square-o"></i> Save
            </button>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
