﻿@model  application.Main.ViewModels.SubMenuCompanyPermissionVM
@{
    ViewBag.Title = "Company Menu List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Set Company Menu Permission</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <input type="hidden" id="hidCompanyId" />
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="form-group row mx-auto">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.objSubMenuCompanyPermissions.CompanyId)
                                        <fieldset>
                                            <div class="form-group position-relative">
                                                @Html.DropDownListFor(model => model.objSubMenuCompanyPermissions.CompanyId, new SelectList(Model.objCompanyList, "CompanyId", "CompanyName"), "--- Select Company ---", new { @class = "form-control", @id = "cboCompany" })
                                            </div>
                                        </fieldset>
                                        @Html.ValidationMessageFor(model => model.objSubMenuCompanyPermissions.CompanyId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" id="pVPermission"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/js/scripts/forms/checkbox-radio.js");
    <script>
        $(document).ready(function () {
            $('#cboCompany').change(function () {
                var companyValue = $("#cboCompany").val();
                if (companyValue !== "0")
                {
        $("#hidCompanyId").val(companyValue);
                    $("#pVPermission").empty();
                        $("#pVPermission").load('@Url.Action("getMainMenuList", "companyMenuPermission")?companyId=' + companyValue);
                }
                else
                    $("#pVPermission").empty();
            });
        });
    </script>
}