﻿@model  application.Main.ViewModels.mainMenuMasterViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Menu</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "mainMenuMaster")" class="btn btn-success btn-md">View All Menu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content pt-3">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveMainMenu", "mainMenuMaster", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')",OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMainMenu.MainMenuName)
                                            @Html.EditorFor(model => model.objMainMenu.MainMenuName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Menu Name" } })
                                            @Html.ValidationMessageFor(model => model.objMainMenu.MainMenuName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objMainMenu.ExternalURL)
                                            @Html.EditorFor(model => model.objMainMenu.ExternalURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Menu URL" } })
                                            @Html.ValidationMessageFor(model => model.objMainMenu.ExternalURL, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objMainMenu.ExternalURLTarget)
                                            @Html.DropDownListFor(model => model.objMainMenu.ExternalURLTarget, new SelectList(Model.objExternalLinkTarget, "targetTypeValue", "targetTypeName"), "--- Select Target Type ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objMainMenu.ExternalURLTarget, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objMainMenu.IconCSS)
                                            @Html.EditorFor(model => model.objMainMenu.IconCSS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ICON CSS" } })
                                            @Html.ValidationMessageFor(model => model.objMainMenu.IconCSS, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objMainMenu.StatusId)
                                            @Html.DropDownListFor(model => model.objMainMenu.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objMainMenu.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objMainMenu.MainMenuId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/mainMenuMaster")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

