﻿@model application.Main.ViewModels.bookingStatusViewModel
@{
    /**/

    ViewBag.Title = "Booking Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Booking Status</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Ajax.BeginForm("saveBookingStatus", "BookingStatus", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.objBookingStatusMaster.BookingStatusName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.objBookingStatusMaster.BookingStatusName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter BookingStatus" } })
                                        @Html.ValidationMessageFor(model => model.objBookingStatusMaster.BookingStatusName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Select Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.objBookingStatusMaster.StatusId, new SelectList(Model.objStatusMasterList, "StatusId", "StatusName"), "---Select Status---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.objBookingStatusMaster.StatusId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div calss="col-md-6">
                                        @Html.HiddenFor(model => model.objBookingStatusMaster.BookingStatusId)
                                        <button type="submit" class="btn btn-primary">
                                            <i class="la la-check-square-o"></i> Save
                                        </button>
                                        @if (Model.objBookingStatusMaster.BookingStatusId > 0)
                                        {
                                            <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/bookingstatus")'">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-body">
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblBookingStatus">
                                    <thead>
                                        <tr>
                                            <th>Booking Status Name</th>
                                            <th class="text-center">Created Since</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var statusTable = $("#tblBookingStatus").DataTable({
                ajax: {
                    url: '/BookingStatus/getBookingStatusList',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    { data: "BookingStatusName", name: "BookingStatusName" },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                     {
                        data: "StatusName", name: "StatusName",
                        render: function (data) {
                            return (data === "Active" ? "<span class='badge badge-success'>" + data + "</span>" : data==="In-Active"? "<span class='badge badge-danger'>" + data + "</span>":"<span class='badge badge-danger'>" + data + "</span>");
                        }
                    },
                    {
                        data: "BookingStatusId","orderable":false,
                        render: function (data, type, BookingStatus) {
                            return "<a href=\"/BookingStatus/index/" + BookingStatus.BookingStatusId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";

                        }
                    },
                    {
                        data: "BookingStatusId","orderable":false,
                        render: function (data, type, BookingStatus)
                        {
                            return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblBookingStatus").on("click", ".js-delete", function () {
                var statusButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: '/BookingStatus/deleteBookingStatus/' + statusButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                statusTable.row(statusButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {  window.location.href = "unauthorized";}
        });
    </script>
}


