﻿@{
    ViewBag.Title = "Micro ATM Request Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Micro ATM Request Queue</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content mt-2">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>CompanyName</th>
                                                <th>Mobile</th>
                                                <th>Telephone</th>
                                                <th>Alternate Telephone</th>
                                                <th>EmailId</th>
                                                <th>DOB</th>
                                                <th>IDCARDNUMBER</th>
                                                <th>Pincode</th>
                                                <th>StateId</th>
                                                <th>CityId</th>
                                                <th>Address</th>
                                                <th>Area</th>
                                                <th>Pancard Photo</th>
                                                <th>Pancard Photo 2</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {

                var dataList = $("#tblDataList").DataTable({
                dom: 'Blfltip',
                buttons: [
                    ['csv', 'excel'],
                ],
                lengthMenu: [
                    [25, 50, 100],
                    ['25 rows', '50 rows', '100 rows']
                ],
                ajax: {
                    url: '/microatmrequestqueue/getMicroATM_Request_Queue',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, response) {
                            return "<a href=\"/microatmrequestqueue/updateResponse/" + response.BankItMicroATMId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";
                        }
                    },
                    {
                        data: "PersonName","orderable":false,
                        render: function (data) {
                            var firstName = data.split(' ');
                            return (firstName.length > 0 ? firstName[0] : "");
                        }
                    },
                    {
                        data: "PersonName","orderable":false,
                        render: function (data) {
                            var lastName = data.split(' ');
                            return (lastName.length===2?lastName[1]:lastName[0]);
                        }
                    },
                    { data: "AgencyName", name: "AgencyName" },
                    { data: "Mobile", name: "Mobile" },
                    { data: "Telephone1", name: "Telephone1" },
                    { data: "Telephone2", name: "Telephone2" },
                    { data: "EmailId", name: "EmailId" },
                    {
                        data: "DOB","orderable":false,
                        render: function (data) {
                            if (data != null) {
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var formatedDate = dateFormat(currentTime, gridDateFormatNormal);
                                var date = formatedDate;
                                return date;
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    { data: "PanCardNo", name: "PanCardNo" },
                    { data: "PinCode", name: "PinCode" },
                    { data: "StateName", name: "StateName" },
                    { data: "CityName", name: "CityName" },
                    { data: "OfficeAddress1", name: "OfficeAddress1" },
                    { data: "Landmark", name: "Landmark" },
                    {
                        data: "PanCardPhoto","orderable":false,
                        render: function (data) {
                            return "<a href='https://misgujrat.com/documentimages/"+data+"' target='_blank'>Photo Side 1</a>";
                        }
                    },
                    {
                        data: "PanCardPhoto2","orderable":false,
                        render: function (data) {
                            return "<a href='https://misgujrat.com/documentimages/"+data+"' target='_blank'>Photo Side 2</a>";
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                destroy: true,
                language: {
                   processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
                });
                $("#tblDataList_length").hide();
           }
            else {
                 window.location.href = "unauthorized";
            }
        });
    </script>
}

