﻿@model  application.Main.ViewModels.entityTypeViewModel

@{
    ViewBag.Title = "Entity Type";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Styles.Render("~/bundles/datatablescss")
}

<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Entity Type</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Ajax.BeginForm("saveEntityStatus", "entityType", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.objEntityType.EntityTypeName)
                                        @Html.EditorFor(model => model.objEntityType.EntityTypeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Status" } })
                                        @Html.ValidationMessageFor(model => model.objEntityType.EntityTypeName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.objEntityType.StatusName)
                                        @Html.DropDownListFor(model => model.objEntityType.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.objEntityType.StatusId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.HiddenFor(model => model.objEntityType.EntityTypeId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    @if (Model.objEntityType.EntityTypeId > 0)
                                    {
                                        <input type="button" value="Reset" class="btn btn-primary" onclick="javascript:window.location.href='@Url.Content("~/entityType")'" />
                                    }
                                </div>
                            </div>
                        }
                        <div class="form-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Entity Type Name</th>
                                            <th class="text-left">Status Name</th>
                                            <th class="text-center">Created Since</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var statusTable = $("#tblDataList").DataTable({
                ajax: {
                    url: '/entityType/getEntityTypeList',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    { data: "EntityTypeName", name: "EntityTypeName" },
                    {
                        data: "StatusName", name: "StatusName",
                        render: function (data) {
                            return (data === "Active" ? "<span class='badge badge-success'>" + data + "</span>" : data === "In-Active" ? "<span class='badge badge-danger'>" + data + "</span>" : "<span class='badge badge-danger'>" + data + "</span>");
                        }
                    },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, entityType) {
                            return "<a href=\"/entityType/index/" + entityType.EntityTypeId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";

                        }
                    },
                    {
                        data: "EntityTypeId","orderable":false,
                        render: function (data, type, entityType) {
                            return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                        }
                    }

                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblDataList").on("click", ".js-delete", function () {
                var statusButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: 'entityType/deleteEntityType/' + statusButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                statusTable.row(statusButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {
                window.location.href = "unauthorized";
            }
        });
    </script>
}
