﻿@model  application.Main.ViewModels.entityBankDetailsViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Bank Details</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "entityBank")" class="btn btn-success btn-md">View All Bank Details</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveEntityBankDetail", "entityBank", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Company Bank Detail</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objEntityBankDetails.BankAccountTitle)
                                            @Html.EditorFor(model => model.objEntityBankDetails.BankAccountTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Account Title" } })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.BankAccountTitle, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objEntityBankDetails.BankAccountNumber)
                                            @Html.EditorFor(model => model.objEntityBankDetails.BankAccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Account Number" } })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.BankAccountNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityBankDetails.BankName)
                                            @Html.EditorFor(model => model.objEntityBankDetails.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name" } })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.BankName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityBankDetails.BankBranch)
                                            @Html.EditorFor(model => model.objEntityBankDetails.BankBranch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Branch" } })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.BankBranch, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityBankDetails.BankIFSCCode)
                                            @Html.EditorFor(model => model.objEntityBankDetails.BankIFSCCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank IFSC Code" } })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.BankIFSCCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">

                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityBankDetails.BankAccountTypeId)
                                            @Html.DropDownListFor(model => model.objEntityBankDetails.BankAccountTypeId, new SelectList(Model.objBankAccountTypeList, "BankAccountTypeId", "BankAccountTypeName"), "--- Select Bank Account Type ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.BankAccountTypeId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityBankDetails.PanCard)
                                            @Html.EditorFor(model => model.objEntityBankDetails.PanCard, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PAN No." } })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.PanCard, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEntityBankDetails.StatusId)
                                            @Html.DropDownListFor(model => model.objEntityBankDetails.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objEntityBankDetails.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objEntityBankDetails.BankId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/entityBank")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

