﻿@model  application.Main.ViewModels.helpLineViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<style>
    #toast-container {
        position: fixed;
        z-index: 999999;
        pointer-events: none;
    }

    .toast-top-right {
        top: 12px;
        right: 12px;
    }

    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage HelpLine Number</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveHelpLineNumber", "HelpLine", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.Label("Select Product")
                                            @Html.DropDownListFor(model => model.objHelpLine.ProductId, new SelectList(Model.objProductList, "ProductId", "ProductCode"), "--- Select Product ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objHelpLine.ProductId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Label("Select Status")
                                            @Html.DropDownListFor(model => model.objHelpLine.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objHelpLine.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.Label("Helpline EmailId")
                                            @Html.EditorFor(model => model.objHelpLine.HelplineEmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Helpline EmailID" } })
                                            @Html.ValidationMessageFor(model => model.objHelpLine.HelplineEmailId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-4">
                                            @Html.Label("Helpline Number")
                                            @Html.EditorFor(model => model.objHelpLine.HelplineNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter HelpLine Number" } })
                                            @Html.ValidationMessageFor(model => model.objHelpLine.HelplineNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("Helpline Type")
                                            @Html.EditorFor(model => model.objHelpLine.HelplineType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter HelpLine Type (Mobile, EmailId, Landline...)" } })
                                            @Html.ValidationMessageFor(model => model.objHelpLine.HelplineType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objHelpLine.HelplineId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/HelpLine")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
