﻿@model  application.Main.Models.tblBankITAEPS_Request
@{
    ViewBag.Title = "AEPS Update Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-text text-center">
                        <h2>Update AEPS Response</h2>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Ajax.BeginForm("updateBankITResponse", "aepsQueue", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <h4>@Html.LabelFor(model => model.RetailerId)</h4>
                                        @Html.EditorFor(model => model.RetailerId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Retailer Id (Identification Code)" } })
                                        @Html.ValidationMessageFor(model => model.RetailerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-actions text-center">
                                    @Html.HiddenFor(model => model.BankItAEPSId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Submit
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/aepsqueue")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}

