﻿@model  application.Main.ViewModels.instantPayUtilityDataVM
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Create New Recharge Data</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "instantPayUtilityData")" class="btn btn-success btn-md">View All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveUtilityData", "instantPayUtilityData", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.ProductId)
                                            @Html.DropDownListFor(model => model.objInstantPayUtilityData.ProductId, new SelectList(Model.objProductMasterList, "ProductId", "ProductCode"), "--- Select Product ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objInstantPayUtilityData.ProductId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.ServiceType)
                                            @Html.DropDownListFor(model => model.objInstantPayUtilityData.ServiceType, new SelectList(Model.objUtilityTypeList, "ServiceType", "ServiceType"), "--- Select Service Type ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objInstantPayUtilityData.ServiceType, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.ServiceName)
                                            @Html.EditorFor(model => model.objInstantPayUtilityData.ServiceName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Service Name" } })
                                            @Html.ValidationMessageFor(model => model.objInstantPayUtilityData.ServiceName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.ServiceKey)
                                            @Html.EditorFor(model => model.objInstantPayUtilityData.ServiceKey, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Service Key" } })
                                            @Html.ValidationMessageFor(model => model.objInstantPayUtilityData.ServiceKey, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.Margin)
                                            @Html.EditorFor(model => model.objInstantPayUtilityData.Margin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Service Default Margin" } })
                                            @Html.ValidationMessageFor(model => model.objInstantPayUtilityData.Margin, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.BillFetch)
                                            @Html.CheckBoxFor(model => model.objInstantPayUtilityData.BillFetch)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.BBPSEnabled)
                                            @Html.CheckBoxFor(model => model.objInstantPayUtilityData.BBPSEnabled)
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.AmountRange)
                                            @Html.EditorFor(model => model.objInstantPayUtilityData.AmountRange, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Service Amount Range" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.MaxLength)
                                            @Html.EditorFor(model => model.objInstantPayUtilityData.MaxLength, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Max Length" } })
                                            @Html.ValidationMessageFor(model => model.objInstantPayUtilityData.MaxLength, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objInstantPayUtilityData.MinLength)
                                            @Html.EditorFor(model => model.objInstantPayUtilityData.MinLength, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Min Length" } })
                                            @Html.ValidationMessageFor(model => model.objInstantPayUtilityData.MinLength, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objInstantPayUtilityData.InstantPayRechargeDataId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/instantPayUtilityData")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

