﻿@model  application.Main.ViewModels.rechargeVM
@{
    ViewBag.Title = "DMR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<div class="content-body">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-text text-center">
                        <h2 class="title">@Html.DisplayFor(model => model.Title)</h2>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Ajax.BeginForm("transactDTHRecharge", "recharge", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label>Select DTH Type</label>
                                        @Html.DropDownListFor(model => model.objRechargeTransaction.InstantPayRechargeDataId, new SelectList(Model.objInstantPayUtilityDataList, "InstantPayRechargeDataId", "ServiceName"), "--- Select Provider ---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.objRechargeTransaction.InstantPayRechargeDataId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label>Enter DTH No.</label>
                                        @Html.EditorFor(model => model.objRechargeTransaction.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter DTH Number", @maxlength = "10" } })
                                        @Html.ValidationMessageFor(model => model.objRechargeTransaction.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label>Enter Mobile No. registered with DTH</label>
                                        @Html.EditorFor(model => model.objRechargeTransaction.customermobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Customer Mobile No.", @maxlength = "10" } })
                                        @Html.ValidationMessageFor(model => model.objRechargeTransaction.customermobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label>Enter Amount</label>
                                        @Html.EditorFor(model => model.objRechargeTransaction.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount" } })
                                        @Html.ValidationMessageFor(model => model.objRechargeTransaction.Amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    @*<button type="submit" class="btn btn-shade1" id="btnSubmit">
                                        Submit
                                    </button>*@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}