﻿@model  application.Main.ViewModels.companyMasterViewModel
@{
    ViewBag.Title = "companyLogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }

    .imgHolder {
        position: relative;
        display: block;
    }

    .bimg-150 {
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .bimg-80 {
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .imgHolder .imageBoxPad {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 1% !%;
    }

        .imgHolder .imageBoxPad .removeImg {
            position: relative;
            width: 18px;
            height: 18px;
            padding: 0px;
            font-weight: bold;
        }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Company Logo</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveCompanyLogo", "company", new { entityId = Request["entityId"] }, new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    @Html.Label("Upload Company Logo")
                                                    <input type="file" id="ImageFile" name="ImageFile" required />
                                                    @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="text-danger mb-2">Max Height : 58px, Max Width : 300px;</div>
                                                        <div class="imgHolder">
                                                            <img id="imgFullSizePreview" src="@Url.Content(Model.objCompany.CompanyLogo)" class="bimg-150" />
                                                            <div class="imageBoxPad">
                                                                <input type="button" class="btn btn-danger removeImg" onclick="RemoveImage();" value="X" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objCompany.CompanyId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $('#ImageFile').change(function () {
            var fileName = $('#ImageFile').val();
            if (fileName) {
                readURL(this);
            } else {
                $('#imgFullSizePreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgFullSizePreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgFullSizePreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }

        function RemoveImage() {
            $('#imgFullSizePreview').attr('src', '../CompanyLogo/NoImages.png');
            $('#ImageFile').val("");
        }
    </script>
}
