﻿@model  application.Main.ViewModels.companyMasterViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Company Profile</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("companyProfileSave", "company", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Company Info</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyName)
                                            @Html.EditorFor(model => model.objCompany.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Name" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyTypeName)
                                            @Html.DropDownListFor(model => model.objCompany.CompanyTypeId, new SelectList(Model.objCompanyTypeList, "CompanyTypeId", "CompanyTypeName"), "--- Select Company Type ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objCompany.CompanyWebsite)
                                            @Html.EditorFor(model => model.objCompany.CompanyWebsite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Website" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyWebsite, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objCompany.CompanyDomain)
                                            @Html.EditorFor(model => model.objCompany.CompanyDomain, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Domain" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyDomain, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objCompany.CompanyGSTNo)
                                            @Html.EditorFor(model => model.objCompany.CompanyGSTNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company GST No." } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyGSTNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objCompany.CompanyPANNo)
                                            @Html.EditorFor(model => model.objCompany.CompanyPANNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company PAN No" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyPANNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyAddress1)
                                            @Html.TextAreaFor(model => model.objCompany.CompanyAddress1, new { @class = "form-control", @placeholder = "Enter Company Address 1" })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyAddress1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyAddress2)
                                            @Html.TextAreaFor(model => model.objCompany.CompanyAddress2, new { @class = "form-control", @placeholder = "Enter Company Address 2" })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyAddress2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyTelephone1)
                                            @Html.EditorFor(model => model.objCompany.CompanyTelephone1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Telephone 1" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyTelephone1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyTelephone2)
                                            @Html.EditorFor(model => model.objCompany.CompanyTelephone2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Telephone 2" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyTelephone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyEmailId1)
                                            @Html.EditorFor(model => model.objCompany.CompanyEmailId1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company EmailId 1" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyEmailId1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.CompanyEmailId2)
                                            @Html.EditorFor(model => model.objCompany.CompanyEmailId2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company EmailId 2" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.CompanyEmailId2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <h4 class="form-section">Bank Detail</h4>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.BankAccountTitle)
                                            @Html.EditorFor(model => model.objCompany.BankAccountTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Account Title" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.BankAccountTitle, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.BankAccountNumber)
                                            @Html.EditorFor(model => model.objCompany.BankAccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Account Number" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.BankAccountNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.BankName)
                                            @Html.EditorFor(model => model.objCompany.BankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Name" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.BankName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.BankBranch)
                                            @Html.EditorFor(model => model.objCompany.BankBranch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Branch" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.BankBranch, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.BankIFSCCode)
                                            @Html.EditorFor(model => model.objCompany.BankIFSCCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank IFSC Code" } })
                                            @Html.ValidationMessageFor(model => model.objCompany.BankIFSCCode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.objCompany.BankAccountTypeName)
                                            @Html.DropDownListFor(model => model.objCompany.BankAccountTypeId, new SelectList(Model.objBankAccountTypeList, "BankAccountTypeId", "BankAccountTypeName"), "--- Select Bank Account Type ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objCompany.BankAccountTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objCompany.CompanyId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

