﻿@{
    ViewBag.Title = "Entity List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Agent Details</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Action</th>
                                                <th>Agency</th>
                                                <th>Account Title</th>
                                                <th>Account Number</th>
                                                <th>IFSC Code</th>
                                                <th>Branch</th>
                                                <th>Account Type</th>
                                                <th class="text-center">Account Created Date Time</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                initiateDatatable();
           }
            else {
                 window.location.href = "unauthorized";
            }
        });

        function initiateDatatable() {
            $("#tblDataList").DataTable({
                ajax: {
                    url: '/verifyBankAccount/pendingAccountVerificationList',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, objData) {
                            return "<a href=\"javascript:\" class=\""+gridButtonEditCSS+"\" style=\"width:100%;\" onclick=\"approveAccount("+objData.EntityId+")\">Approve</a>";
                        }
                    },
                    { data: "AgencyName" },
                    { data: "BankAccountTitle" },
                    { data: "BankAccountNumber" },
                    { data: "BankIFSCCode"},
                    { data: "BankBranch" },
                    { data: "BankAccountTypeName" },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [1, 'asc'],
                language: {
                   processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });
        }


        function approveAccount(entityId) {
            if (confirm("Are you sure, you want to Approve Account ?")) {
                approveBankAccount(entityId);
            }
        }
    </script>
}


