﻿@model  application.Main.ViewModels.companySubscriptionViewModel
@{
    ViewBag.Title = "Company Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Company Subscription Data</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "companySubscription")" class="btn btn-success btn-md">View All Company Subscription</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveCompanySubscription", "companySubscription", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3 col-sm-12">
                                            @Html.LabelFor(model => model.objCompanySubscription.CompanyId)
                                            @Html.DropDownListFor(model => model.objCompanySubscription.CompanyId, new SelectList(Model.objCompanyList, "CompanyId", "CompanyName"), "--- Select Company ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objCompanySubscription.CompanyId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            @Html.LabelFor(model => model.objCompanySubscription.SubscriptionId)
                                            @Html.DropDownListFor(model => model.objCompanySubscription.SubscriptionId, new SelectList(Model.objSubscriptionList, "SubscriptionId", "SubscriptionName"), "--- Select Subscription ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objCompanySubscription.SubscriptionId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            @Html.LabelFor(model => model.objCompanySubscription.SubscriptionValidity)
                                            @Html.EditorFor(model => model.objCompanySubscription.SubscriptionValidity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Subscription Validity" } })
                                            @Html.ValidationMessageFor(model => model.objCompanySubscription.SubscriptionValidity, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            @Html.LabelFor(model => model.objCompanySubscription.StatusId)
                                            @Html.DropDownListFor(model => model.objCompanySubscription.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objCompanySubscription.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objCompanySubscription.CompanySubscriptionId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/companySubscription")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

