﻿@model  application.Main.ViewModels.cityViewModel
@{
    ViewBag.Title = "Add/Edit City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #toast-container {
        position: fixed;
        z-index: 999999;
        pointer-events: none;
    }

    .toast-top-right {
        top: 12px;
        right: 12px;
    }
</style>
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage City Master</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "cityMaster")" class="btn btn-success btn-md">View All City Data</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveCity", "cityMaster", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.Label("Select State")
                                            @Html.DropDownListFor(model => model.objCity.StateId, new SelectList(Model.objStateList, "StateId", "StateName"), "--- Select State ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objCity.StateId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objCity.CityName)
                                            @Html.EditorFor(model => model.objCity.CityName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City Name" } })
                                            @Html.ValidationMessageFor(model => model.objCity.CityName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("Select Status")
                                            @Html.DropDownListFor(model => model.objCity.StatusId, new SelectList(Model.objStatusList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objCity.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        @Html.HiddenFor(model => model.objCity.CityId)
                                        <button type="submit" class="btn btn-primary" id="btnSubmit">
                                            <i class="la la-check-square-o"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/cityMaster")'">
                                            <i class="ft-x"></i> Cancel
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
