﻿@model  application.Main.ViewModels.manualDebitCreditVM
@{
    ViewBag.Title = "Manual Debit/Credit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Manual Debit/Credit</h2>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveManualDebitCreditEntry", "manualDebitCredit", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.objManualDebitCredit.EntityTypeId, new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9 mx-auto">
                                            @Html.DropDownListFor(model => model.objManualDebitCredit.EntityTypeId, new SelectList(Model.objEntityTypeList, "EntityTypeId", "EntityTypeName"), "--- Select Agency Type ---", new { @class = "form-control", @id = "cboEntityType" })
                                            @Html.ValidationMessageFor(model => model.objManualDebitCredit.EntityTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.objManualDebitCredit.EntityId, new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9 mx-auto" id="divEntity">
                                            @Html.DropDownListFor(model => model.objManualDebitCredit.EntityId, new SelectList(Model.objEntityList, "EntityId", "AgencyName"), "--- Select Agency ---", new { @class = "form-control", @id = "cboEntity" })
                                            @Html.ValidationMessageFor(model => model.objManualDebitCredit.EntityId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divAvailableBalance" style="display:none;">
                                        <div class="col-md-6 mx-auto">
                                            <span class="danger" id="lblAvailableBalance"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.objManualDebitCredit.ProductId, new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9 mx-auto">
                                            @Html.DropDownListFor(model => model.objManualDebitCredit.ProductId, new SelectList(Model.objProductList, "ProductId", "ProductCode"), "--- Select Product ---", new { @class = "form-control" })
                                            <span class="info">Select Product for which you giving manual Debit or Credit</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.objManualDebitCredit.IsCredit, new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9 mx-auto">
                                            @Html.CheckBoxFor(model => model.objManualDebitCredit.IsCredit)
                                            @Html.ValidationMessageFor(model => model.objManualDebitCredit.IsCredit, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.objManualDebitCredit.Amount, new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9 mx-auto">
                                            @Html.EditorFor(model => model.objManualDebitCredit.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount" } })
                                            @Html.ValidationMessageFor(model => model.objManualDebitCredit.Amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.objManualDebitCredit.Remark, new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9 mx-auto">
                                            @Html.EditorFor(model => model.objManualDebitCredit.Remark, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Remark" } })
                                            @Html.ValidationMessageFor(model => model.objManualDebitCredit.Remark, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-center">
                                    @Html.HiddenFor(model => model.objManualDebitCredit.ManualWalletUpdateId)
                                    <button type="submit" class="btn btn-primary waves-effect waves-light" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1 waves-effect waves-light" onclick="javascript:window.location.href='@Url.Content("~/manualDebitCredit")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script>
        $(function () {
        var showMessage = '@TempData[Helper.responseStatus]'
        if (showMessage != '')
                notifyMessage(showMessage);
        });

        $('#cboEntityType').change(function () {
            $("#divAvailableBalance").hide();
            $("#lblAvailableBalance").html("");
            populate_EntityMasterByEntityTypeID($("#cboEntityType").val(), "divEntity", "cboEntity", "objManualDebitCredit.EntityId", "objManualDebitCredit_EntityId");
        });
    </script>
}

