﻿@model  application.Main.ViewModels.entityVM
@{
    ViewBag.Title = "Manual Debit/Credit List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manual Debit/Credit List</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Agency Type</label>
                                @Html.DropDownListFor(model => model.objEntity.EntityTypeId, new SelectList(Model.objEntityTypeList, "EntityTypeId", "EntityTypeName"), "--- Select Agency Type ---", new { @class = "form-control form-control-sm", @id = "cboEntityType" })
                            </div>
                            <div class="col-md-3" id="divEntity"><label>Agency</label>@Html.DropDownListFor(model => model.objEntity.EntityId, new SelectList(Model.objEntityList, "EntityId", "AgencyName"), "--- Select Agency ---", new { @class = "form-control form-control-sm", @id = "cboEntity" })</div>
                            <div class="col-md-2 pt-26"><input type="button" id="btnsearch" class="btn btn-success btn-md" value="Search" /></div>
                            <div class="col-md-4 pt-26 text-right"><a href="@Url.Action("addEdit", "manualDebitCredit")" class="btn btn-success btn-md">Add New Entry</a></div>
                        </div>
                    </div>
                    <div class="card-content mt-2">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Agency</th>
                                                <th class="text-right">Credit</th>
                                                <th class="text-right">Debit</th>
                                                <th class="text-left">Remark</th>
                                                <th class="text-center">Created Since</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var entityId = ($("#cboEntity").val() === "" ? "0" : $("#cboEntity").val());
                bindData(entityId);
            }
            else { window.location.href = "unauthorized";}
        });

        $('#cboEntityType').change(function () {
            populate_EntityMasterByEntityTypeID_4_Report($("#cboEntityType").val(), "divEntity", "cboEntity", "objManualDebitCredit.EntityId", "objManualDebitCredit_EntityId");
        });

        $('#btnsearch').click(function () {
            var entityId = ($("#cboEntity").val() === "" ? "0" : $("#cboEntity").val());
            bindData(entityId);
        });

        function bindData(entityId) {
            $("#tblDataList").DataTable({
                    ajax: {
                        url: '/manualDebitCredit/getManualDebitCreditList?entityId=' + entityId,
                        type: "GET",
                        datatype: "JSON"
                    },
                    columns: [
                        { data: "AgencyName", name: "AgencyName",className:'text-left' },
                        {
                            data: "Credit","orderable":false,className: 'text-right',
                            render: function (data, type, objData) {
                                return (objData.IsCredit==true?"<span class='badge badge-success'>"+objData.Amount+"</span>":"")
                            }
                        },
                        {
                            data: "Debit","orderable":false,className:'text-right',
                            render: function (data, type, objData) {
                                return (objData.IsCredit==false?"<span class='badge badge-danger'>"+objData.Amount+"</span>":"")
                            }
                        },
                        { data: "Remark", name: "Remark", className: 'text-left' },
                        {
                            data: "CreatedDateTime", "orderable": false,className:'text-center',
                            render: function (data) {
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                                var date = formatedDate;
                                return date;
                            }
                        }
                    ],
                    processing: true,
                    destroy: true,
                    serverSide: true,
                    "order": [0, 'desc'],
                    language: {
                        processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                    }
            });
            //$("#tblDataList_length").hide();
        }
    </script>
}