/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

#process-loading, #process-transferMoney {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 130px;
	color: #11311C;
	right: 0;
	font-weight: 600;
	z-index: 1039;
	text-align: center;
	font-size: 16px;
}

	#process-loading .innerText, #process-transferMoney .innerText {
		padding: 5px 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		box-shadow: 0 0 1px 3px rgba(169, 198, 33, 0.25);
		background-color: #A9C621 !important;
		font-weight: 600;
	}


div.dataTables_wrapper div.dataTables_processing {
	width: 250px !important;
	background: transparent !important;
}

.text-danger {
	font-size: 13px !important;
}

.horizontal-menu .navbar-horizontal .nav-item i {
	top: 2px !important;
	position: relative;
}

.pt-26 {
	padding-top: 26px;
}

/*Custom CSS*/

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #11311C;
	opacity: 0.25;
}

input.form-control::-moz-placeholder { /* Firefox 19+ */
	color: #11311C;
	opacity: 0.25;
}

input.form-control:-ms-input-placeholder { /* IE 10+ */
	color: #11311C;
	opacity: 0.25;
}

input.form-control:-moz-placeholder { /* Firefox 18- */
	color: #11311C;
	opacity: 0.25;
}

body.login {
	background-color: #11311C;
}

.login-form form label {
	font-weight: 500;
	color: #11311C;
}

.login-form form input.form-control {
	border-radius: 5px;
	border: 1px solid rgba(17, 49, 28, 0.25);
	background-color: #fff;
	font-weight: 500;
	color: #11311C;
	height: calc(1.25em + 1.5rem + 10px);
}

.login-form form button[type="submit"] {
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 5px;
	display: block;
	width: 100%;
	height: calc(1.25em + 1.5rem + 10px);
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}

.forgot-password {
	text-decoration: underline;
	color: #A9C621;
	font-size: 1.1rem;
}

footer.footer-dark {
	background: #A9C621;
}

	footer.footer-dark a {
		color: #11311C !important;
	}

		footer.footer-dark a:hover {
			color: #11311C;
			text-decoration: underline;
		}

.user-menus li {
	border-right: 1px solid #ddd;
}

	.user-menus li a {
		display: flex !important;
		align-items: center;
		color: #11311C !important;
	}

		.user-menus li a .badge {
			margin-left: 10px;
		}

.navbar-dark.navbar-horizontal {
	background: #11311C !important;
	padding: 0 1rem;
}

.header-navbar .navbar-container ul.nav li a.nav-link-label {
	padding: 2rem 1rem 1.5rem 1rem;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
	padding: 2rem 1rem 1.5rem 1rem;
}

.navbar-dark .main-menu-horizontal .navbar-nav .nav-link {
	padding: 12px 15px;
}

.navbar-dark .main-menu-horizontal .navbar-nav .nav-item:hover {
	background-color: #A9C621;
}

	.navbar-dark .main-menu-horizontal .navbar-nav .nav-item:hover .nav-link {
		color: #11311C;
	}

.navbar-dark .main-menu-horizontal .navbar-nav .nav-item .nav-link span {
	top: -3px;
	font-weight: 500;
}

.navbar-dark .main-menu-horizontal .navbar-nav .nav-item .dropdown-menu {
	margin-top: 1px;
	padding: 0;
	border: 0;
}

	.navbar-dark .main-menu-horizontal .navbar-nav .nav-item .dropdown-menu li a {
		padding: 10px 15px;
	}

		.navbar-dark .main-menu-horizontal .navbar-nav .nav-item .dropdown-menu li a i {
			font-size: 1.5rem;
		}

		.navbar-dark .main-menu-horizontal .navbar-nav .nav-item .dropdown-menu li a span {
			top: -3px;
			font-size: 0.9rem;
			font-weight: 500;
		}

		.navbar-dark .main-menu-horizontal .navbar-nav .nav-item .dropdown-menu li a:hover {
			background-color: #A9C621;
			color: #11311C;
		}

.user-utilies .media {
	/*border: 1px solid #BDC6C0;*/
	border-radius: 0.35rem;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
	box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
}

	.user-utilies .media a {
		display: block;
	}

		.user-utilies .media a .utilities-icon {
			min-height: 76.5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.user-utilies .media a h2 {
			margin-bottom: 0;
			line-height: 1;
			font-weight: 600;
			color: #11311C;
			font-size: 1.25rem;
		}

.user-quick-action .media-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-quick-action h3 {
	font-weight: 600;
	color: #11311C;
	margin-bottom: 0;
}

.user-quick-action .bg {
	background-color: #11311C;
}

	.user-quick-action .bg i {
		color: #A9C621;
	}

.user-quick-action h5 {
	font-weight: 600;
	color: #11311C;
	margin-bottom: 0;
	font-size: 1.25rem;
}

.user-entities h1 {
	color: #11311C;
	font-weight: 600;
}

.user-entities h4 {
	color: #A9C621;
	font-weight: 600;
	margin-bottom: 0;
}

.user-entities span {
	color: #11311C;
	font-weight: 500;
}

.user-entities i {
	color: #11311C;
}

.card .card-title {
	font-weight: 600;
	color: #11311C;
}

.table thead th {
	font-weight: 600;
	color: #11311C;
}

.avatar img {
	border: 1px solid #11311C;
}

.dropdown-user.dropdown .dropdown-menu {
	padding: 0;
}

	.dropdown-user.dropdown .dropdown-menu .dropdown-item {
		padding: 10px 15px;
	}

		.dropdown-user.dropdown .dropdown-menu .dropdown-item:hover {
			background-color: #A9C621;
			color: #11311C;
		}

form input.form-control, form input.form-control.input-lg, input.form-control.form-control-sm {
	border-radius: 5px;
	border: 1px solid rgba(17, 49, 28, 0.25);
	background-color: #fff;
	font-weight: 500;
	color: #11311C;
	height: calc(1.25em + 1.5rem + 10px);
}

form select.custom-select, select.custom-select {
	border-radius: 5px;
	border: 1px solid rgba(17, 49, 28, 0.25);
	background-color: #fff;
	font-weight: 500;
	color: #11311C;
	height: calc(1.25em + 1.5rem + 7px);
}

form label, label {
	font-weight: 600;
	color: #11311C;
}

.or-tag {
	margin: 0;
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #A9C621;
	border-radius: 50%;
	color: #11311C;
	line-height: 35px;
	font-weight: 600;
	font-size: 13px;
}

form button[type="submit"], input[type="button"] {
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	height: calc(1.25em + 1.5rem + 7px);
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}

h2.title {
	margin-bottom: 0;
	font-weight: 600;
	color: #11311C;
	font-size: 2rem;
	display: inline-block;
	border-bottom: 2px solid #A9C621;
	padding-bottom: 3px;
}

.dt-buttons button {
	background-color: #A9C621 !important;
	border-color: #A9C621 !important;
	color: #11311C;
	font-size: 1.1rem;
	font-weight: 500;
}

	.dt-buttons button span {
		font-weight: 500;
	}

.dt-buttons {
	display: block;
	margin-bottom: 15px;
}

	.dt-buttons button:hover {
		background-color: #11311C !important;
		color: #fff;
	}

.dataTables_filter {
	float: right;
}

.dataTables_length {
	float: left;
}

h4.title {
	color: #11311C;
	font-weight: 600;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

form .form-section {
	border-bottom: 2px solid #11311C;
	padding-bottom: 3px;
}

h4.title i {
	font-size: 30px;
	vertical-align: middle;
}

button[type="button"].btn-danger {
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 5px;
	display: block;
	width: 100%;
	height: calc(1.25em + 1.5rem + 7px);
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}

#divSenderDetail h5.heading {
	font-weight: 600;
	color: #11311C;
	border-right: 1px solid #ddd;
}

	#divSenderDetail h5.heading .info {
		color: #A9C621 !important;
	}

.pagination .page-link {
	color: #11311C;
	border: 1px solid #11311C;
	font-weight: 500;
}

.page-item.active .page-link {
	z-index: 1;
	color: #11311C;
	background-color: #A9C621;
	border-color: #11311C;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
	margin-bottom: 0;
}

@media (max-width:639px) {
	.login .card-body {
		padding: 0;
	}

	.login .card-header {
		padding-top: 0;
	}

	.login .fixed-bottom {
		position: relative;
	}

	.user-menus {
		float: none !important;
		display: flex;
		justify-content: center;
		border-top: 1px solid #ddd;
	}

	.header-navbar .navbar-container ul.nav li a.nav-link-label {
		padding: 0.5rem 1rem;
	}

	.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
		padding: 0.5rem 1rem !important;
	}

	.header-navbar .navbar-container ul.nav li:last-child {
		border-right: 0;
	}
}
