﻿@model  application.Main.instantpay.dmt.response.remitter_details_response
<div class="row">
    <div class="col-md-4"><h5 class="heading">Sender Name<br /><strong class="info">@Html.DisplayFor(model => model.data.remitter.name)</strong></h5></div>
    <div class="col-md-4"><h5 class="heading">Sender Mobile<br /><strong class="info">@Html.DisplayFor(model => model.data.remitter.mobile)</strong></h5></div>
    <div class="col-md-4"><h5 class="heading">Available Balance<br /><strong class="info"><i class="la la-rupee"></i>@Html.DisplayFor(model => model.data.remitter.remaininglimit)</strong></h5></div>
</div>