﻿@model  application.Main.ViewModels.InstantPayAddBeneficiaryVM
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">DMT Add New Beneficiary</h2>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6" id="divSenderDetail"></div>
                            <div class="col-md-6">
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0 text-right">
                                        <li><a href="@Url.Action("index", "DMR2")" class="btn btn-shade1 btn-md">Dashboard</a></li>
                                        <li><a href="@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.objBeneficiary.customerId,remitterid=Model.objBeneficiary.remitterid})" class="btn btn-shade1 btn-md">View All Beneficiary</a></li>
                                        <li><a href="@Url.Action("showTransactions", "DMR2",new { mobileNo=Model.objBeneficiary.customerId,remitterid=Model.objBeneficiary.remitterid})" class="btn btn-shade1 btn-md">Show Transactions</a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveBeneficiary", "DMR2", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6"><h4 class="form-section title">Add Sender/Customer</h4></div>
                                        <div class="col-md-6"><h5 class="form-section danger text-right">** Please enter exact Bank Name, Account Number and IFSC Code to avoid failure.</h5></div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objBeneficiary.name)
                                            @Html.EditorFor(model => model.objBeneficiary.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Beneficiary Name" } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objBeneficiary.mobile)
                                            @Html.EditorFor(model => model.objBeneficiary.mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No." } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.mobile, "", new { @class = "text-danger" })
                                            <small class="float-left text-info">** Verification OTP will send to this Mobile No.</small>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objBeneficiary.account)
                                            @Html.EditorFor(model => model.objBeneficiary.account, new { htmlAttributes = new { @class = "form-control date-inputmask", @placeholder = "Enter Account Number", @id = "txtBeneficiaryAccountNo", @onchange = "bindBankList(this.value)" } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.account, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divBank">
                                            @Html.Label("Select Bank")
                                            @Html.DropDownListFor(model => model.objBeneficiary.bankCode, new SelectList(Model.objBankList, "branch_ifsc", "bank_name"), "--- Select Bank ---", new { @class = "form-control custom-select", @id = "cboBankList", @onchange = "bindIFSCOnChange(this.value)" })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.bankCode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divIFSCCode">
                                            @Html.LabelFor(model => model.objBeneficiary.ifsc)
                                            @Html.EditorFor(model => model.objBeneficiary.ifsc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter IFSC Code", @ud = "txtIFSCCode" } })
                                            @Html.ValidationMessageFor(model => model.objBeneficiary.ifsc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.objBeneficiary.remitterid)
                                            @Html.HiddenFor(model => model.objBeneficiary.customerId)
                                            <button type="submit" class="btn btn-shade1" id="btnSubmit">
                                                Save
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.objBeneficiary.remitterid)
                                            @Html.HiddenFor(model => model.objBeneficiary.customerId)
                                            <button type="button" class="btn btn-danger" onclick="javascript:window.location.href='@Url.Content("~/DMR2")'">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            var customerID = '@Model.objBeneficiary.customerId'
             $("#divSenderDetail").load('@Url.Action("fetchSenderDetail", "DMR2")?customerId=' + customerID);
            populateInstantPayDMT_BankList("divBank", "cboBankList", "objBeneficiary.bankCode", "");
        });

        function bindIFSCOnChange(bankIFSCCode) {
            $("#objBeneficiary_ifsc").val(bankIFSCCode);
        }

        function bindBankList(accNumber) {
            populateInstantPayDMT_BankList("divBank", "cboBankList", "objBeneficiary.bankCode", accNumber);
        }
    </script>
}




