﻿@model  application.Main.instantpay.dmt.request.remitter_req
@{
    ViewBag.Title = "Add Remitter Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">DMT Add New Sender</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0 text-right">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "DMR2")" class="btn btn-success btn-md">Sender Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveSender", "DMR2", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Add Sender/Customer</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.mobile)
                                            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @ReadOnly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                                            <small class="float-left text-info">** Verification OTP will send to this Mobile No.</small>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.name)
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name" } })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.surname)
                                            @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Surname" } })
                                            @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.pincode)
                                            @Html.EditorFor(model => model.pincode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Pincode" } })
                                            @Html.ValidationMessageFor(model => model.pincode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-shade1" id="btnSubmit">
                                                <i class="la la-check-square-o"></i> Save
                                            </button>
                                            <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/DMR2")'">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}




