﻿@model  application.Main.instantpay.dmt.request.tblInstantPay_Beneficiary
@{
    ViewBag.Title = "DMR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<div class="content-body">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-text text-center">
                        <h2>Validate Benecifiary Account</h2>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Ajax.BeginForm("beneficiaryVerifyMobileOTP", "dmr2", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <h4>Name: @Html.DisplayFor(model => model.Name)</h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <h4>Mobile No.: @Html.DisplayFor(model => model.MobileNo)</h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <h4>Account No.: @Html.DisplayFor(model => model.AccountNo)</h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <h4>IFSC Code: @Html.DisplayFor(model => model.ifsc)</h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <h4>Enter OTP</h4>
                                        @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Enter OTP" } })
                                        @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-actions text-center">
                                    @Html.HiddenFor(model => model.RemitterId)
                                    @Html.HiddenFor(model => model.customerId)
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">
                                        <i class="la la-check-square-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}