﻿@model  application.Main.Models.DMT_BankItInDB_Sender
@{
    ViewBag.Title = "DMR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">DMT Recipient List</h2>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-md-6" id="divSenderDetail">
                            </div>
                            <div class="col-md-6">
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-5"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0 text-right">
                                        <li><a href="@Url.Action("index", "DMR2")" class="btn btn-shade1 btn-md">Dashboard</a></li>
                                        <li><a href="@Url.Action("addBeneficiary", "DMR2",new { mobileNo=Model.CustomerID,remitterId=Model.remitterId})" class="btn btn-shade1 btn-md">Add New Beneficiary</a></li>
                                        <li><a href="@Url.Action("showTransactions", "DMR2",new { mobileNo=Model.CustomerID,remitterId=Model.remitterId})" class="btn btn-shade1 btn-md">Show Transactions</a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Action</th>
                                                <th class="text-center">A/C Status</th>
                                                <th class="text-center">Recipient Id</th>
                                                <th class="text-left">Recipient Name</th>
                                                <th class="text-left">Bank Name</th>
                                                <th class="text-center">Mobile No.</th>
                                                <th class="text-center">IFSC Code</th>
                                                <th class="text-left">Bank Account Number</th>
                                                @*<th class="text-center">Delete Beneficiary</th>*@
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var customerID = '@Model.CustomerID';
                var remitterID = '@Model.remitterId';
                $("#divSenderDetail").load('@Url.Action("fetchSenderDetail", "DMR2")?customerId=' + customerID);
                 var dataList = $("#tblDataList").DataTable({
                ajax: {
                    url: '/DMR2/listBeneficiary?customerId='+ customerID,
                    type: "GET",
                    datatype: "JSON"
                }, "lengthMenu": [[50, 75, 100,500], [50, 75, 100,500]],
                     columns: [
                    {
                             data: "id", "orderable": false, "className":"text-center",
                             render: function (data, type, objData) {
                                 return "<a style=\"width:110px;\" href=\"/DMR2/Transac?recipient=" + data + "&customerId=" + customerID + "&imps=" + (objData.imps === "1" ? "1" : "0") + "\" class=\"" + gridButtonPrimary + "\">Transfer Money</a>";
                        }
                    },
                    {
                        data: "imps", name: "imps", "className":"text-center",
                        render: function (data, type, objData) {
                            if (objData.imps === "1")
                                return "<span class='badge badge-success'>Success</span>";
                            else
                                return "<a href=\"javascript:\" onclick=\"verifyDMT2BeneficiaryAccount('" + remitterID + "','" + objData.account + "')\" class=\"btn btn-outline-danger box-shadow-2 btn-md waves-effect waves-light\">Verify Account</a>";
                        }
                    },
                    { data: "id", name: "id" },
                    { data: "name", name: "name" },
                    { data: "bank", name: "bank" },
                    { data: "mobile", name: "mobile" },
                    { data: "ifsc", name: "ifsc" },
                    { data: "account", name: "account" }
                    //{
                    //    data: "id","orderable":false,
                    //    render: function (data) {
                    //        return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                    //    }
                    //}
                ],
                "processing": true,
                "serverSide": true,
                "order": [3, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblDataList").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: 'DMR2/deleteBeneficiary',
                        method: 'POST',
                        data: JSON.stringify({'beneficiaryID':deleteButton.attr("data-id"),'remitterID': remitterID}),
                        datatype: "JSON",
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                dataList.row(deleteButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {
                 window.location.href = "unauthorized";
            }
        });
    </script>
}



