﻿@model  application.Main.ViewModels.InstantPayDMTTransferConfirmationVM
@{
    ViewBag.Title = "Payout Direct Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Payout Direct Confirmation</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6" id="divSenderDetail"></div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-title text-left">
                                <div class="bs-callout-info callout-bordered">
                                    <div class="media align-items-stretch">
                                        <div class="media-right media-middle bg-info p-2">
                                            <i class="la la-info white font-medium-5 mt-1"></i>
                                        </div>
                                        <div class="media-body p-1">
                                            <strong>Payout Direct</strong>
                                            <p>
                                                Using Payout Direct you can transfer money upto 49999 per transaction
                                            </p>
                                            <p class="text-danger">MAX Transfer Limit per month per sender 2,00,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @using (Ajax.BeginForm("transferMoneyPayoutDirect", "DMR2", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Transfer Money')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-transferMoney" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Beneficiary Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Id: <b>@Html.DisplayFor(model => model.objBeneficiary.beneficiaryid)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Name: <b>@Html.DisplayFor(model => model.objBeneficiary.name)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Mobile No.: <b>@Html.DisplayFor(model => model.objBeneficiary.mobile)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Bank Name: <b>@Html.DisplayFor(model => model.objBeneficiary.bank)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Account No.: <b>@Html.DisplayFor(model => model.objBeneficiary.account)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary IFSC Code: <b>@Html.DisplayFor(model => model.objBeneficiary.ifsc)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Transfer Via: <b>
                                                @Html.DisplayFor(model => model.objRemit.TypeName)
                                            </b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Amount to Transfer:<b><i class="la la-rupee"></i>@Html.DisplayFor(model => model.objRemit.amount)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto text-center">
                                        @Html.HiddenFor(model => model.objRemit.clientRefId)
                                        @Html.HiddenFor(model => model.objRemit.customerId)
                                        @Html.HiddenFor(model => model.objRemit.recipientId)
                                        @Html.HiddenFor(model => model.objRemit.recipientName)
                                        @Html.HiddenFor(model => model.objBeneficiary.name)
                                        @Html.HiddenFor(model => model.objRemit.bankName)
                                        @Html.HiddenFor(model => model.objRemit.amount)
                                        @Html.HiddenFor(model => model.objRemit.TransType)
                                        @Html.HiddenFor(model => model.objRemit.TypeName)
                                        @Html.HiddenFor(model => model.objBeneficiary.beneficiaryid)
                                        @Html.HiddenFor(model => model.objBeneficiary.remitterid)
                                        @Html.HiddenFor(model => model.objBeneficiary.Latitude)
                                        @Html.HiddenFor(model => model.objBeneficiary.Longitude)
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary" id="btnSubmit" disabled>
                                                Please Wait...
                                            </button>
                                            <button type="button" class="btn btn-warning" onclick="javascript:window.location.href='@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.objRemitter.mobile,remitterId= Model.objBeneficiary.remitterid})'">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                $("#objBeneficiary_Latitude").val(p.coords.latitude);
                $("#objBeneficiary_Longitude").html(p.coords.longitude);
                $("#btnSubmit").removeAttr("disabled");
                $("#btnSubmit").html("Transfer Money");
            });
        } else {
            $("#btnSubmit").attr("disabled", "disabled");
            $("#btnSubmit").html("Transfer Money");
            notifyMessage('1|Geo Location feature is not supported in this browser.');
        }
        $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
        });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var customerID = '@Model.objRemitter.mobile';
                var remainintLimit = '@Model.remaininglimit'
                $("#divSenderDetail").load('@Url.Action("fetchPayoutSenderDetail", "DMR2")?customerId=' + customerID);
                if (remainintLimit > 0) {
                    $("#btnSubmit").show();
                }
                else
                    $("#btnSubmit").hide();
            }
            else {
                window.location.href = "unauthorized";
            }
        });
    </script>
}