﻿@model  application.Main.ViewModels.InstantPayDMTTransferConfirmationVM
@{
    ViewBag.Title = "Transfer Money";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">Transfer Money</h2>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0 text-right">
                                        <li><a href="@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.objRemitter.mobile,remitterId = Model.objBeneficiary.remitterid})" class="btn btn-shade1 btn-md">View All Beneficiary</a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Html.BeginForm("transferMoneyConfirmation", "DMR2", FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section title">Sender Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-1">
                                            Sender Name: <b>@Html.DisplayFor(model => model.objRemitter.name)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-1">
                                            Sender ID: <b>@Html.DisplayFor(model => model.objRemitter.mobile)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-1">
                                            Available Balance: <i class="la la-rupee"></i><b>@Html.DisplayFor(model => model.remaininglimit)</b>
                                        </div>
                                    </div>
                                    <h4 class="form-section title mt-2">Beneficiary Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-1">
                                            Beneficiary Id: <b>@Html.DisplayFor(model => model.objBeneficiary.beneficiaryid)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-1">
                                            Beneficiary Name: <b>@Html.DisplayFor(model => model.objBeneficiary.name)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-1">
                                            Beneficiary Mobile No.: <b>@Html.DisplayFor(model => model.objBeneficiary.mobile)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-1">
                                            Beneficiary Bank Name: <b>@Html.DisplayFor(model => model.objBeneficiary.bank)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-1">
                                            Beneficiary Account No.: <b>@Html.DisplayFor(model => model.objBeneficiary.account)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-1">
                                            Beneficiary IFSC Code: <b>@Html.DisplayFor(model => model.objBeneficiary.ifsc)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-6 font-medium-1">
                                            @Html.Label("Transfer Via")
                                            @Html.DropDownListFor(model => model.objRemit.TransType, new SelectList(Model.objTransferType, "TransType", "TypeName"), "--- Transfer Via ---", new { @class = "form-control custom-select" })
                                            @Html.ValidationMessageFor(model => model.objRemit.TransType, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6 font-medium-1">
                                            @Html.Label("Amount to Transfer")
                                            @Html.EditorFor(model => model.objRemit.amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount to Transfer" } })
                                            @Html.ValidationMessageFor(model => model.objRemit.amount, "", new { @class = "text-danger" })
                                            <br /><h6 class="float-left text-danger">** Minimum amount to transfer is 1 and Maximum amount 5000 per transaction.</h6>
                                            <h6 class="float-left text-info">** 1% Service Charge will be applicable (minimum charge 10)</h6>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto text-center">
                                        @Html.HiddenFor(model => model.objRemit.clientRefId)
                                        @Html.HiddenFor(model => model.objRemit.customerId)
                                        @Html.HiddenFor(model => model.objRemit.recipientId)
                                        @Html.HiddenFor(model => model.objRemit.recipientName)
                                        @Html.HiddenFor(model => model.objRemit.bankName)
                                        @Html.HiddenFor(model => model.objBeneficiary.beneficiaryid)
                                        <div class="col-md-6 text-center">
                                            <button type="submit" class="btn btn-shade1 mb-0" id="btnSubmit">
                                                Submit
                                            </button>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <button type="button" class="btn btn-danger mb-0" onclick="javascript:window.location.href='@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.objRemitter.mobile,remitterId= Model.objBeneficiary.remitterid})'">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}




