﻿@model  application.Main.ViewModels.InstantPayDMTTransferConfirmationVM
@{
    ViewBag.Title = "Transfer Money via Direct Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/core/colors/palette-callout.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Direct Payout</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6" id="divSenderDetail"></div>
                            <div class="col-md-6">
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0 text-right">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a href="@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.objRemitter.mobile,remitterId = Model.objBeneficiary.remitterid})" class="btn btn-success btn-md">View All Beneficiary</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-title text-left">
                                <div class="bs-callout-info callout-bordered">
                                    <div class="media align-items-stretch">
                                        <div class="media-right media-middle bg-info p-2">
                                            <i class="la la-info white font-medium-5 mt-1"></i>
                                        </div>
                                        <div class="media-body p-1">
                                            <strong>Payout Direct</strong>
                                            <p>
                                                Using Payout Direct you can transfer money upto 49999 per transaction
                                            </p>
                                            <p class="text-danger">MAX Transfer Limit per month per sender 2,00,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @using (Html.BeginForm("PayoutDirectConfirmation", "DMR2", FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Beneficiary Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Id: <b>@Html.DisplayFor(model => model.objBeneficiary.beneficiaryid)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Name: <b>@Html.DisplayFor(model => model.objBeneficiary.name)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Mobile No.: <b>@Html.DisplayFor(model => model.objBeneficiary.mobile)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Bank Name: <b>@Html.DisplayFor(model => model.objBeneficiary.bank)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Account No.: <b>@Html.DisplayFor(model => model.objBeneficiary.account)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary IFSC Code: <b>@Html.DisplayFor(model => model.objBeneficiary.ifsc)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-3 font-medium-3">
                                            @Html.Label("Transfer Via")
                                            @Html.DropDownListFor(model => model.objRemit.TransType, new SelectList(Model.objTransferType, "TransType", "TypeName"), "--- Transfer Via ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objRemit.TransType, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6 font-medium-3">
                                            @Html.Label("Amount to Transfer")
                                            @Html.EditorFor(model => model.objRemit.amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount to Transfer" } })
                                            <h6 class="float-left text-danger">** Minimum amount to transfer is 100 and Maximum amount 49999 per transaction.</h6>
                                            @Html.ValidationMessageFor(model => model.objRemit.amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto text-center">
                                        @Html.HiddenFor(model => model.objRemit.clientRefId)
                                        @Html.HiddenFor(model => model.objRemit.customerId)
                                        @Html.HiddenFor(model => model.objRemit.recipientId)
                                        @Html.HiddenFor(model => model.objRemit.recipientName)
                                        @Html.HiddenFor(model => model.objRemit.bankName)
                                        @Html.HiddenFor(model => model.objBeneficiary.beneficiaryid)
                                        @Html.HiddenFor(model => model.objBeneficiary.Latitude, new { @id = "hidLatitude" })
                                        @Html.HiddenFor(model => model.objBeneficiary.Longitude, new { @id = "hidLongitude" })
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary" id="btnSubmit" disabled>
                                                Please Wait...
                                            </button>
                                            <button type="button" class="btn btn-warning " onclick="javascript:window.location.href='@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.objRemitter.mobile,remitterId= Model.objBeneficiary.remitterid})'">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        var LatLng = '';
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                $("#hidLatitude").val(p.coords.latitude);
                $("#hidLongitude").val(p.coords.longitude);
                $("#btnSubmit").removeAttr("disabled");
                $("#btnSubmit").html("Submit");
            });
        } else {
            $("#btnSubmit").attr("disabled", "disabled");
            $("#btnSubmit").html("Submit");
            notifyMessage('1|Geo Location feature is not supported in this browser.');
        }
        $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
        });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var customerID = '@Request["customerid"]';
                var remainintLimit = '@Model.remaininglimit'
                $("#divSenderDetail").load('@Url.Action("fetchPayoutSenderDetail", "DMR2")?customerId=' + customerID);
                if (remainintLimit > 0) {
                    $("#btnSubmit").show();
                }
                else
                    $("#btnSubmit").hide();
            }
            else {
                window.location.href = "unauthorized";
            }
        });
    </script>
}