﻿@model  application.Main.Models.DMT_BankItInDB_Sender
@{
    ViewBag.Title = "DMR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">Transaction History</h2>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6" id="divSenderDetail"></div>
                                <div class="col-md-6">
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0 text-right">
                                            <li><a href="@Url.Action("index", "DMR2")" class="btn btn-shade1 btn-md">Sender Dashboard</a></li>
                                            <li><a href="@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.CustomerID,remitterid=Model.remitterId})" class="btn btn-shade1 btn-md">View All Beneficiary</a></li>
                                            <li><a href="@Url.Action("addBeneficiary", "DMR2",new { mobileNo=Model.CustomerID,remitterid=Model.remitterId})" class="btn btn-shade1 btn-md">Add New Beneficiary</a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2"><label for="from">From</label><input type="text" id="fromDate" name="from" class="form-control form-control-sm"></div>
                                        <div class="col-md-2"><label for="to">To</label><input type="text" id="toDate" name="to" class="form-control form-control-sm"></div>
                                        <div class="col-md-2">
                                            <label>Transaction Type</label>
                                            <select id="cboTransactionType" class="form-control form-control-sm custom-select">
                                                <option value="">-- All Transaction Type --</option>
                                                <option value="NEFT">NEFT</option>
                                                <option value="IMPS">IMPS</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Transaction Status</label>
                                            <select id="cboTransactionStatus" class="form-control form-control-sm custom-select">
                                                <option value="">-- All Transaction Status-- </option>
                                                <option value="TXN">Success</option>
                                                <option value="02">Fail</option>
                                                <option value="TUP">Pending</option>
                                                <option value="REFUND">Refund</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 text-left pt-26"><input type="button" id="btnsearch" class="btn btn-shade1 btn-sm" value="Search" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered font-medium-1 text-center table-responsive-md table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Transaction Date</th>
                                                <th class="text-center">Recipient Id</th>
                                                <th class="text-center">Recipient Name</th>
                                                <th class="text-center">Client RefId</th>
                                                <th class="text-center">TxnID</th>
                                                <th class="text-center">Amount</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Receipt</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);

             var dateFormat = "dd-mm-yy",
                from = $("#fromDate")
                    .datepicker({
                        dateFormat:"dd-mm-yy",
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 2
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#toDate").datepicker({
                    dateFormat:"dd-mm-yy",
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var customerID = '@Model.CustomerID';
                $("#divSenderDetail").load('@Url.Action("fetchSenderDetail", "DMR2")?customerId=' + customerID);
                var fromDate = formatIndianDate(new Date(), true);
                var toDate = formatIndianDate(new Date(), false);
                $('#fromDate').val(fromDate);
                $('#toDate').val(toDate);
                var transactionType = $("#cboTransactionType").val();
                var transactionStatus = $("#cboTransactionStatus").val();
                bindData(fromDate, toDate, transactionType, transactionStatus,customerID);
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        $('#btnsearch').click(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var customerID = '@Model.CustomerID';
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var transactionType = $("#cboTransactionType").val();
                var transactionStatus = $("#cboTransactionStatus").val();
                if (fromDate != '' && toDate != '') {
                    bindData(fromDate, toDate,transactionType,transactionStatus,customerID);
                }else {
                    notifyMessage("1|Please Select From and To Date.");
                }
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        function bindData(fromDate, toDate, transactionType, transactionStatus,customerID) {
            $.fn.dataTable.ext.errMode = 'throw';
                $("#tblDataList").DataTable({
                ajax: {
                    url: '/DMR2/listTransactions?customerId='+ customerID +'&fromDate='+ fromDate+'&toDate='+ toDate +'&transactionType='+ transactionType+'&transactionStatus='+ transactionStatus+'',
                    type: "GET",
                    datatype: "JSON"
                }, "lengthMenu": [[50, 75, 100,500], [50, 75, 100,500]],
                    columns: [
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    { data: "BeneficiaryId", name: "BeneficiaryId" },
                    { data: "Name", name: "Name" },
                    { data: "ClientRefId", name: "ClientRefId" },
                    { data: "Ref_no", name: "Ref_no" },
                    { data: "Amount", name: "Amount" },
                    { data: "Mode", name: "Mode" },
                    {
                        data: "StatusCode", name: "StatusCode",className:"text-centr",
                        render: function (data, status, objData) {
                            return (data === "TXN" ? "<span class='badge badge-success'>SUCCESS</span>" : data === "TUP" ? "<span class='badge badge-warning'>PENDING</span>" : data === "REFUND" ? "<span class='badge badge-info'>REFUND</span>" : "<span class='badge badge-danger'>FAILED</span>") + "" + (objData.IsPayoutDirect === true ? "<br><span class='badge badge-info mt-1'>Pay Direct</span>" : "");
                        }
                    },
                    {
                        data: "InstantPayTransactionId", name: "InstantPayTransactionId",
                        render: function (data, status, objData) {
                            if (objData.StatusCode === "TXN")
                                return "<a class=\"btn btn-primary btn-sm\" href=\"/DMR2/showTransactionReceipt?Id=" + data + "\">Print Receipt</a>";
                            else
                                return "";
                        }
                    }
                ],
                processing: true,
                destroy: true,
                serverSide: true,
                "order": [0, 'desc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });
        }
    </script>
}



