﻿@model  application.Main.instantpay.dmt.response.transactionReceipt
@{
    ViewBag.Title = "transactionReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="card">
    <div id="invoice-template" class="card-body">
        <!-- Invoice Company Details -->
        <div id="invoice-company-details" class="row">
            <div class="col-md-6 col-sm-6 text-left text-md-left">
                <h2 class="content-header-title title">Transaction Receipt</h2>
                <p class="pb-1"># @Html.DisplayFor(model => model.ipay_id)</p>
            </div>
            <div class="col-md-6 col-sm-6 text-right text-md-right">
                <h2 class="content-header-title title">Amount</h2>
                <p class="pb-1"># @Html.DisplayFor(model => model.Amount)</p>
            </div>
        </div>
        <!--/ Invoice Company Details -->
        <!-- Invoice Customer Details -->
        <div id="invoice-customer-details" class="row pt-2 border">
            <div class="col-md-4 text-center">
                <p class="text-muted text-bold-700">MERCHANT</p>
                <ul class="px-0 list-unstyled">
                    <li class="text-bold-800">@Html.DisplayFor(model => model.AgencyName)</li>
                    <li>@Html.DisplayFor(model => model.Telephone1)</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <p class="text-muted text-bold-700">REMITTER</p>
                <ul class="px-0 list-unstyled">
                    <li class="text-bold-800">@Html.DisplayFor(model => model.RemitterName)</li>
                    <li>@Html.DisplayFor(model => model.RemitterMobileNo)</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <p class="text-muted text-bold-700">BENEFICIARY</p>
                <ul class="px-0 list-unstyled">
                    <li class="text-bold-800">@Html.DisplayFor(model => model.Name)</li>
                    <li><span>@Html.DisplayFor(model => model.bankName)</span><span> (@Html.DisplayFor(model => model.account))</span></li>
                </ul>
            </div>
        </div>
        <!--/ Invoice Customer Details -->
        <!-- Invoice Items Details -->
        <div id="invoice-items-details" class="pt-2">
            <div class="row">
                <div class="table-responsive col-sm-12">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th class="text-center">TIMESTAMP</th>
                                <th class="text-center">MODE</th>
                                <th class="text-center">Txn ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">@Html.DisplayFor(model => model.CreatedDateTime)</td>
                                <td class="text-center">@Html.DisplayFor(model => model.Mode)</td>
                                <td class="text-center">@Html.DisplayFor(model => model.Ref_no)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="invoice-footer">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <h6>Terms & Condition</h6>
                    <small>
                        1. This transaction receipt is only a provisional acknowledgment and is issued to customer mentioned herein for accepting mentioned payment for the
                        above order and as per the details provided by the customer.
                    </small><br />
                    <small>2. The customer is fully responsible for the accuracy of the details as provided by him before the transaction is initiated.</small><br />
                    <small>
                        3. The Merchant shall not charge any fee to the customer directly for services rendered by them. The customer is required to immediately report such
                        additional/excess charges to protonpay.
                    </small><br />
                    <small>4. This is a system generated receipt hence does not require any signature.</small><br />
                    <small>5. 1% Service Charge or minimum 10/- Rs. whichever is lower will be applicable per transaction including GST.</small>
                </div>
                <div class="col-md-5 col-sm-12 text-right">
                    <button type="button" class="btn btn-shade1 btn-sm" onclick="javascript:window.print()">Print</button>
                </div>
            </div>
        </div>
    </div>
</section>

