﻿@model  application.Main.ViewModels.InstantPayDMTTransferConfirmationVM
@{
    ViewBag.Title = "Money Transfer Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Money Transfer Confirmation</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            @using (Ajax.BeginForm("transferMoney", "DMR2", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Transfer Money')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-transferMoney" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section">Sender Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Sender Name: <b>@Html.DisplayFor(model => model.objRemitter.name)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Sender ID: <b>@Html.DisplayFor(model => model.objRemitter.mobile)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Available Balance: <i class="la la-rupee"></i><b>@Html.DisplayFor(model => model.remaininglimit)</b>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Beneficiary Detail</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Id: <b>@Html.DisplayFor(model => model.objBeneficiary.beneficiaryid)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Name: <b>@Html.DisplayFor(model => model.objBeneficiary.name)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Mobile No.: <b>@Html.DisplayFor(model => model.objBeneficiary.mobile)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            Beneficiary Bank Name: <b>@Html.DisplayFor(model => model.objBeneficiary.bank)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary Account No.: <b>@Html.DisplayFor(model => model.objBeneficiary.account)</b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Beneficiary IFSC Code: <b>@Html.DisplayFor(model => model.objBeneficiary.ifsc)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4 font-medium-3">
                                            Transfer Via: <b>
                                                @Html.DisplayFor(model => model.objRemit.TransType)
                                            </b>
                                        </div>
                                        <div class="col-md-4 font-medium-3">
                                            Amount to Transfer:<b><i class="la la-rupee"></i>@Html.DisplayFor(model => model.objRemit.amount)</b>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto text-center">
                                        @Html.HiddenFor(model => model.objRemit.clientRefId)
                                        @Html.HiddenFor(model => model.objRemit.customerId)
                                        @Html.HiddenFor(model => model.objRemit.recipientId)
                                        @Html.HiddenFor(model => model.objRemit.recipientName)
                                        @Html.HiddenFor(model => model.objRemit.bankName)
                                        @Html.HiddenFor(model => model.objRemit.amount)
                                        @Html.HiddenFor(model => model.objRemit.TransType)
                                        @Html.HiddenFor(model => model.objBeneficiary.beneficiaryid)
                                        @Html.HiddenFor(model => model.objBeneficiary.remitterid)
                                        <div class="col-md-6 text-center">
                                            <button type="submit" class="btn btn-shade1" id="btnSubmit">
                                                Transfer Money
                                            </button>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <button type="button" class="btn btn-danger mr-0" onclick="javascript:window.location.href='@Url.Action("beneficiary", "DMR2",new { mobileNo=Model.objRemitter.mobile,remitterId= Model.objBeneficiary.remitterid})'">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}




