﻿
@model  application.Main.ViewModels.NepalBeneficiaryAddViewModel
@using application.Main.Models;
@{
    ViewBag.Title = "Money Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Money Transfer</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("Dashboard", "nepaltransfer",new {MobileNo=ViewBag.MobileNo})" class="btn btn-success btn-sm">DashBoard</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Html.BeginForm("saveBeneficiary", "nepaltransfer", FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div id="balance" class="tabcontent">
                                        <h4 class="form-section">Add Beneficiary</h4>
                                        <div class="form-group row mx-auto">
                                            @Html.HiddenFor(model => model.objBeneficiaryMaster.request.remitterid)
                                            @Html.HiddenFor(model => model.objBeneficiaryMaster.request.MobileNo)
                                            @Html.HiddenFor(model => model.objBeneficiaryMaster.request.mode)
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objBeneficiaryMaster.request.branchid)
                                                @Html.DropDownListFor(model => model.objBeneficiaryMaster.request.branchid, new SelectList(Model.objBankDetailsList, "branchid", "branch_name"), "--- Select Branch ---", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.objBeneficiaryMaster.request.branchid, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objBeneficiaryMaster.request.account)
                                                @Html.EditorFor(model => model.objBeneficiaryMaster.request.account, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Account No" } })
                                                @Html.ValidationMessageFor(model => model.objBeneficiaryMaster.request.account, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objBeneficiaryMaster.request.name)
                                                @Html.EditorFor(model => model.objBeneficiaryMaster.request.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                                                @Html.ValidationMessageFor(model => model.objBeneficiaryMaster.request.name, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objBeneficiaryMaster.request.address)<br/>
                                                @Html.TextAreaFor(model => model.objBeneficiaryMaster.request.address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address" } })<br/>
                                                @Html.ValidationMessageFor(model => model.objBeneficiaryMaster.request.address, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.Label("Gender")<br />
                                                @foreach (var a in (List<Nepal_Remitter_Gender>)ViewBag.objGenderList)
                                                {
                                                    @Html.RadioButtonFor(model => model.objBeneficiaryMaster.request.gender, a.Id) @a.Name
                                                }
                                                <br/>
                                                @Html.ValidationMessageFor(model => model.objBeneficiaryMaster.request.gender, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check-square-o"></i> Submit
                                                </button>
                                                <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Action("Dashboard","nepaltransfer",new { MobileNo=ViewBag.MobileNo})'">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
    }

