﻿@model  application.Main.ViewModels.NepalremitterAddViewModel
@using application.Main.Models;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }

    .imgHolder {
        position: relative;
        display: block;
    }

    .bimg-150 {
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .bimg-80 {
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .imgHolder .imageBoxPad {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 1% !%;
    }

        .imgHolder .imageBoxPad .removeImg {
            position: relative;
            width: 18px;
            height: 18px;
            padding: 0px;
            font-weight: bold;
        }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Money Transfer</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Html.BeginForm("saveRemitter", "nepaltransfer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div id="balance" class="tabcontent">
                                        <h4 class="form-section">Add Sender/Customer</h4>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.mobile)
                                                @Html.EditorFor(model => model.objRemitterRequest.request.mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.mobile, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.name)
                                                @Html.EditorFor(model => model.objRemitterRequest.request.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.name, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.Label("Gender")<br />
                                                @foreach (var a in (List<Nepal_Remitter_Gender>)ViewBag.objGenderList)
                                                {

                                                    @Html.RadioButtonFor(model => model.objRemitterRequest.request.gender, a.Id) @a.Name

                                                }
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.address)
                                                @Html.TextAreaFor(model => model.objRemitterRequest.request.address, new { @class = "form-control", @placeholder = "Enter Address" })
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.address, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.pincode)
                                                @Html.EditorFor(model => model.objRemitterRequest.request.pincode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Pincode." } })
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.pincode, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.dob)
                                                @Html.EditorFor(model => model.objRemitterRequest.request.dob, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter BirthDate." } })
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.dob, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.document_type)
                                                @Html.DropDownListFor(model => model.objRemitterRequest.request.document_type, new SelectList(Model.document_typeList, "Name", "Name"), "--- Select Document Type ---", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.document_type, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.document_number)
                                                @Html.EditorFor(model => model.objRemitterRequest.request.document_number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Document Number." } })
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.document_number, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.objRemitterRequest.request.document_url)
                                                <input type="file" id="ImageFile" name="ImageFile" required />
                                                @Html.ValidationMessageFor(model => model.objRemitterRequest.request.document_url, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row mx-auto">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check-square-o"></i> Submit
                                                </button>
                                                <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Action("Dashboard","nepaltransfer",new { MobileNo=ViewBag.MobileNo})'">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </div>
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="imgHolder">
                                                        <img id="imgFullSizePreview" src="~/DocumentImages/NoImages.png" class="bimg-150" />
                                                        <div class="imageBoxPad">
                                                            <input type="button" class="btn btn-danger removeImg" onclick="RemoveImage();" value="X" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>   
    <script>
        $('#ImageFile').change(function () {
            var fileName = $('#ImageFile').val();
            if (fileName) {
                readURL(this);
            } else {
                $('#imgFullSizePreview').attr('src', '~/IndoNepal_Document/NoImages.png');
            }
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgFullSizePreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgFullSizePreview').attr('src', '~/IndoNepal_Document/NoImages.png');
            }
        }
        function RemoveImage() {
            $('#imgFullSizePreview').attr('src', '../IndoNepal_Document/NoImages.png');
            $('#ImageFile').val("");
        }
    </script>
}




