﻿@model application.Main.Models.Nepal_Remitter_Details_Request
@{
    ViewBag.Title = "Money Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Indo Nepal Money Transfer</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <span class="custom-control-label">Enter Sender Mobile No.</span>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.request.mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile NO" } })
                                        @Html.ValidationMessageFor(model => model.request.mobile, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-primary">
                                            <i class="la la-check-square-o"></i> Submit
                                        </button>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label id="errorMsg" class="text-danger"></label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" id="process-dialog">
    <div class="modal-dialog modal-top modal-frame modal-notify modal-info">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center"><strong>Please Wait...</strong></h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                debugger;

                var MobileNo = $("#request_mobile").val();
                var lenMobileNo=MobileNo.length;

                if (lenMobileNo == 10) {
                     $("#process-dialog").modal({
                          keyboard: false,
                         backdrop: 'static'
                     });

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Content("~/ajax.aspx/Indo_Nepal_RemitterDetails")",
                        data: "{MobileNo:'" + MobileNo + "'}",
                        dataType: "json",
                        success: function (Result) {
                            var arrResponse = Result.d.split('|');
                            debugger;
                            if (arrResponse[0] == "1") {
                                  $("#process-dialog").modal('hide');
                                var url = '@Url.Action("Dashboard", "nepaltransfer")';
                                window.location.href = url+"?MobileNo="+MobileNo;
                            }
                            else {
                                if (arrResponse[1] == "Remitter Not Found") {
                                     $("#process-dialog").modal('hide');
                                    var url = '@Url.Action("AddRemitter","nepaltransfer")';
                                     
                                      window.location.href = url+"?MobileNo="+MobileNo;
                                }
                                else {
                                     $("#process-dialog").modal('hide');
                                    $("#errorMsg").text(arrResponse[1]);
                                }
                            }
                        },
                        error: function (Result) {
                             $("#process-dialog").modal('hide');
                            alert("Get_SearchResult() - " + Result.responseText);
                            alert(Result);
                        }
                    });
                }
                else {
                     $("#process-dialog").modal('hide');
                     $("#errorMsg").text("Please Check Your Mobile No.");
                }
                });
        });
    </script>
}

