﻿@model application.Main.Models.Nepal_beneficiary_remove_validate_request
@{
    ViewBag.Title = "Indo Nepal Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Beneficiary Remove</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("removevalidatebeneficiary", "nepaltransfer", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    @Html.HiddenFor(model => model.request.remitterid);
                                    @Html.HiddenFor(model => model.request.beneficiaryid);
                                    @Html.LabelFor(model => model.request.otp, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.request.otp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter OTP" } })
                                        @Html.ValidationMessageFor(model => model.request.otp, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-primary">
                                            <i class="la la-check-square-o"></i> Submit
                                        </button>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label id="errorMsg" class="text-danger"></label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" id="process-dialog">
    <div class="modal-dialog modal-top modal-frame modal-notify modal-info">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center"><strong>Please Wait...</strong></h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

    </script>



