﻿@model  application.Main.ViewModels.NepalTransactionViewModel
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<style>
    #toast-container {
        position: fixed;
        z-index: 999999;
        pointer-events: none;
    }

    .toast-top-right {
        top: 12px;
        right: 12px;
    }
</style>
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">View Transaction</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("Dashboard", "nepaltransfer",new {MobileNo=@ViewBag.MobileNo})" class="btn btn-success btn-sm">DashBoard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row">
                                        @Html.Label("Select Beneficiary", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.objTransactionView.BeneficiaryID, new SelectList(Model.objRemitter.data.beneficiary, "id", "name"), "--- Select Beneficiary ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objTransactionView.BeneficiaryID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.HiddenFor(model => model.objTransactionView.RemitterID)
                                            <input type="button" id="btnSubmit" class="btn btn-success btn-sm" name="btnSubmit" value="Search" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <spna id="errorMsg" class="hidden text-danger">Please Select Benefificiary</spna>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center table-xs" id="tblTransaction">
                                        <thead>
                                            <tr>
                                                <th>Beneficiary Name</th>
                                                <th class="text-center">Remitter Name</th>
                                                <th>Transaction Date</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>View Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                debugger;
                var RemitterId = $("#objTransactionView_RemitterID").val();
                var BeneficiaryId = $("#objTransactionView_BeneficiaryID").val();
                if (RemitterId !== "" && BeneficiaryId !== "") {
                    var statusTable = $("#tblTransaction").DataTable({
                        ajax: {
                            url: '/nepaltransfer/getTransactionList?RemitterId=' + RemitterId + '&BeneficiaryId=' + BeneficiaryId,
                            type: "POST",
                            datatype: "JSON"
                        },
                        columns: [
                            { data: "BeneficiaryName", name: "BeneficiaryName" },
                            { data: "RemitterName", name: "RemitterName" },
                            {
                                data: "createddatetime", "orderable": false,
                                render: function (data) {
                                    var dateString = data.substr(6);
                                    var currentTime = new Date(parseInt(dateString));
                                    var formatedDate = dateFormat(currentTime, "ddd, mmm dS, yyyy, h:MM TT");
                                    var date = formatedDate;
                                    return date;
                                }
                            },
                            {data: "Statuscode", name: "Statuscode"},
                            { data: "TransferAmount", name: "TransferAmount" },
                            { data: "status", name: "status",
                                render: function (data) {
                                    return (data === true ? "<span class='badge badge-success'>Completed</span>" : "<span class='badge badge-danger'>Process</span>");
                                }
                            },
                            { data: "IpayID","orderable":false,
                                render: function (data, type, objData) {
                                    if (objData.status === true) {
                                        return null;
                                    }
                                    else {
                                        return "<a href=\"/nepaltransfer/ViewTransactionStatus/" + objData.IpayID + "?MobileNo=@ViewBag.MobileNo\" class=\"btn btn-outline-primary edit-item-btn btn-sm\">View Status</a>";
                                    }
                                    
                                }
                            }

                        ],
                        "processing": true,
                        "serverSide": true,
                        "order": [0, 'asc'],
                        language: {
                            processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\"><strong>Warning!</strong> Processing...</div>"
                        }
                    });
                }
                else {
                    if (BeneficiaryId.length == 0) {
                        $("#errorMsg").removeClass("hidden");
                    }
                    else {
                         $("#errorMsg").addClass("hidden");
                    }

                }
            });

        });
    </script>
}
