﻿@model  application.Main.ViewModels.StatusMasterViewModel

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Styles.Render("~/bundles/datatablescss")
}
<style>
    #toast-container {
        position: fixed;
        z-index: 999999;
        pointer-events: none;
    }

    .toast-top-right {
        top: 12px;
        right: 12px;
    }
</style>
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Status Master</h3>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Ajax.BeginForm("saveStatus", "Status", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.objStatusMaster.StatusName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.objStatusMaster.StatusName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Status" } })
                                        @Html.ValidationMessageFor(model => model.objStatusMaster.StatusName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group row">
                                    @Html.HiddenFor(model => model.objStatusMaster.StatusId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    @if (Model.objStatusMaster.StatusId > 0)
                                    {
                                        <input type="button" value="Reset" class="btn btn-primary" onclick="javascript:window.location.href='@Url.Content("~/status")'" />
                                    }
                                </div>
                            </div>
                        }
                        <div class="form-body"><hr />
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblStatus">
                                    <thead>
                                        <tr>
                                            <th>Status Name</th>
                                            <th class="text-center">Created Since</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/datatables");
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var statusTable = $("#tblStatus").DataTable({
                ajax: {
                    url: '/status/getStatusList',
                    type: "POST",
                    datatype: "JSON"
                },
                columns: [
                   {
                        data: "StatusName", name: "StatusName"
                    },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, Status) {
                            return "<a href=\"/status/index/" + Status.StatusId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";

                        }
                    },
                    {
                        data: "StatusId","orderable":false,
                        render: function (data, type, Status) {
                            return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "order": [0, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });

            $("#tblStatus").on("click", ".js-delete", function () {
                var statusButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: 'status/deleteStatus/' + statusButton.attr("data-status-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                statusTable.row(statusButton.parents("tr")).remove().draw();
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {window.location.href = "unauthorized"; }
        });
    </script>
}
