﻿@model  application.Main.ViewModels.AnnouncementViewModel
@{
    ViewBag.Title = "Announcement Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/vendors/css/pickers/pickadate/pickadate.css" rel="stylesheet" />

<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Add/Edit Announcement Data</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "Announcement")" class="btn btn-success btn-md">View Announcement List</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveAnnouncement", "Announcement", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objAnnouncementMaster.AnnouncementTitle)
                                            @Html.EditorFor(model => model.objAnnouncementMaster.AnnouncementTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Announcement Title" } })
                                            @Html.ValidationMessageFor(model => model.objAnnouncementMaster.AnnouncementTitle, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-8">
                                            @Html.LabelFor(model => model.objAnnouncementMaster.AnnouncementText)
                                            @Html.TextAreaFor(model => model.objAnnouncementMaster.AnnouncementText, new { @class = "form-control", @placeholder = "Enter Announcement Details" })
                                            @Html.ValidationMessageFor(model => model.objAnnouncementMaster.AnnouncementText, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto last">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objAnnouncementMaster.AnnouncementValidTill)
                                            @Html.EditorFor(model => model.objAnnouncementMaster.AnnouncementValidTill, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Enter Announcement Till date", @id = "txtValidTill" } })
                                            @Html.ValidationMessageFor(model => model.objAnnouncementMaster.AnnouncementValidTill, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.objAnnouncementMaster.StatusId)
                                            @Html.DropDownListFor(model => model.objAnnouncementMaster.StatusId, new SelectList(Model.objStatusMasterList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.objAnnouncementMaster.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objAnnouncementMaster.AnnouncementId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/Announcement")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");

    <script src="~/Content/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="~/Content/vendors/js/pickers/pickadate/picker.date.js"></script>
    <script>
        $(document).ready(function () {
            $('#txtValidTill').dateDropper({
                dropWidth: 200,
                init_animation: 'bounce'
            });
        });
    </script>
}



