﻿@model  application.Main.ViewModels.editProfileKYCVM
@{
    ViewBag.Title = "Entity User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<style>
    form.striped-rows .form-group > div {
        padding-right: 1.2rem !important;
    }

    form.form-bordered .form-group > div {
        border-right: 1px solid #E9EBF5 !important;
    }

    .imgHolder {
        position: relative;
        display: block;
    }

    .bimg-150 {
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .bimg-80 {
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        background-size: 100% 100%;
        box-shadow: 0 0 2px 2px #c2c2c2;
        border-radius: 5px;
    }

    .imgHolder .imageBoxPad {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 1% !%;
    }

        .imgHolder .imageBoxPad .removeImg {
            position: relative;
            width: 18px;
            height: 18px;
            padding: 0px;
            font-weight: bold;
        }
</style>
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h2 class="content-header-title title">Profile & KYC</h2>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @using (Ajax.BeginForm("saveProfile", "editProfile", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Save')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="form-body">
                                    <h4 class="form-section title"><i class="material-icons">perm_identity</i>User Info</h4>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.PersonName)
                                            @Html.EditorFor(model => model.objEditProfile.PersonName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Full Name" } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.PersonName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Login Id</label>
                                            @Html.EditorFor(model => model.objEditProfile.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Name", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.Password)
                                            @Html.EditorFor(model => model.objEditProfile.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Password" } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.EmailId)
                                            @Html.EditorFor(model => model.objEditProfile.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Id" } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.EmailId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.objEditProfile.Mobile)
                                            @Html.EditorFor(model => model.objEditProfile.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter 10 Digit Mobile No." } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.Mobile, "", new { @class = "text-danger" })
                                            @if (Model.objEditProfile.OutletRegistrationMobileOTPSent)
                                            {
                                                <a href="javascript:" id="ancResendKYCRegistrationOTP">Resend OTP</a>
                                            }
                                        </div>
                                        <div class="col-md-2">
                                            @if (Model.objEditProfile.OutletRegistrationMobileOTPSent)
                                            {
                                                <label>Mobile OTP</label>
                                                @Html.EditorFor(model => model.objEditProfile.MobileOTP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter OTP" } })
                                            }
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.DOB)
                                            @Html.EditorFor(model => model.objEditProfile.DOB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Date Of Birth", @id = "txtDOB" } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.DOB, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.Address1)
                                            @Html.TextAreaFor(model => model.objEditProfile.Address1, new { @class = "form-control", @placeholder = "Enter Address 1" })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.Address1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.Address2)
                                            @Html.TextAreaFor(model => model.objEditProfile.Address2, new { @class = "form-control", @placeholder = "Enter Address 2" })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.Address2, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.PinCode)
                                            @Html.EditorFor(model => model.objEditProfile.PinCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Pincode" } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.PinCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.CountryId)
                                            @Html.DropDownListFor(model => model.objEditProfile.CountryId, new SelectList(Model.objCountryList, "CountryId", "CountryName"), "--- Select Country ---", new { @class = "form-control custom-select", @id = "cboCountry" })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.CountryId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divState">
                                            @Html.LabelFor(model => model.objEditProfile.StateId)
                                            @Html.DropDownListFor(model => model.objEditProfile.StateId, new SelectList(Model.objStateList, "StateId", "StateName"), "--- Select State ---", new { @class = "form-control custom-select", @id = "cboState" })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.StateId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4" id="divCity">
                                            @Html.LabelFor(model => model.objEditProfile.CityId)
                                            @Html.DropDownListFor(model => model.objEditProfile.CityId, new SelectList(Model.objCityList, "CityId", "CityName"), "--- Select City ---", new { @class = "form-control custom-select", @id = "cboCity" })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.CityId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.PanCardNo)*
                                            @Html.EditorFor(model => model.objEditProfile.PanCardNo, new { htmlAttributes = new { @class = "form-control text-uppercase", @placeholder = "Enter PanCard No." } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.PanCardNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Upload PanCard Photo</label>
                                            <input type="file" id="HPPanCardPhoto" name="HPPanCardPhoto" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgPanCardPhotoPreview" src="@Url.Content(Model.objEditProfile.PanCardPhoto)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="HPPanCardPhoto_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-auto">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.objEditProfile.AadhaarCardNo)*
                                            @Html.EditorFor(model => model.objEditProfile.AadhaarCardNo, new { htmlAttributes = new { @class = "form-control text-uppercase", @placeholder = "Enter Aadhaar Card No." } })
                                            @Html.ValidationMessageFor(model => model.objEditProfile.AadhaarCardNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Upload Address Proof Photo*</label>
                                            <input type="file" id="HPAadhaarCardPhoto" name="HPAadhaarCardPhoto" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="imgHolder">
                                                <img id="imgHPAadhaarCardPhotoPreview" src="@Url.Content(Model.objEditProfile.AadhaarCardPhoto)" class="bimg-150" />
                                                <div class="imageBoxPad">
                                                    <input type="button" class="btn btn-danger removeImg" onclick="HPAadhaarCardPhoto_RemoveImage();" value="X" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left pt-1">
                                    <div class="block text-info" style="font-weight:600;"><strong>NOTE:</strong></div>
                                    <div class="block text-black">1. Refer the below steps for Identity & Address Verification:</div>
                                    <div class="block text-black">2. Download E-Aadhaar from <a href="https://eaadhaar.uidai.gov.in" target="_blank">https://eaadhaar.uidai.gov.in</a> (not older than 3 days) </div>
                                    <div class="block text-black">3. Take a print and <strong>Self-Attest</strong> the copy of E-Aadhaar</div>
                                </div>
                                <div class="form-group text-center pt-1">
                                    @Html.HiddenFor(model => model.objEditProfile.EntityUserId)
                                    @Html.HiddenFor(model => model.objEditProfile.EntityId)
                                    @Html.HiddenFor(model => model.objEditProfile.OutletMobileVerified)
                                    @Html.HiddenFor(model => model.objEditProfile.OutletId)
                                    @Html.HiddenFor(model => model.objEditProfile.EntityKYCId)
                                    <button type="submit" class="btn btn-shade1" id="btnSubmit" style="width:200px">
                                        Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cboCountry').change(function () {
                populateStateByCountryId($("#cboCountry").val(), "divState", "cboState", "objEntityUser.StateId", "objEntityUser_StateId");
            });
        });

        function bindCityOnStateChange(stateId) {
            populateCityByStateId(stateId, "divCity", "cboCity", "objEntityUser.CityId", "objEntityUser_CityId");
        };

        $(function myfunction() {
            $("#txtDOB").datepicker({
                dateFormat: "dd/mm/yy",
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                yearRange: '1950:2002',
                numberOfMonths: 1
            });
        });

        //Pan Card Photo
        $('#HPPanCardPhoto').change(function () {
            var fileName = $('#HPPanCardPhoto').val();
            if (fileName) {
                HPPanCardPhoto_readURL(this);
            } else {
                $('#imgPanCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function HPPanCardPhoto_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPanCardPhotoPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgPanCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function HPPanCardPhoto_RemoveImage() {
            $('#imgPanCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPPanCardPhoto').val("");
        }

        //Aadhaar Card Photo
        $('#HPAadhaarCardPhoto').change(function () {
            var fileName = $('#HPAadhaarCardPhoto').val();
            if (fileName) {
                HPAadhaarCardPhoto_readURL(this);
            } else {
                $('#imgHPAadhaarCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        });
        function HPAadhaarCardPhoto_readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgHPAadhaarCardPhotoPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#imgHPAadhaarCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            }
        }
        function HPAadhaarCardPhoto_RemoveImage() {
            $('#imgHPAadhaarCardPhotoPreview').attr('src', '../CompanyLogo/NoImages.png');
            $('#HPAadhaarCardPhoto').val("");
        }

        $("#ancResendKYCRegistrationOTP").click(function myfunction() {
            $.ajax({
                type: "post",
                url: "/editprofile/resendOutlet_Registration_OTP",
                data: {},
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.success === true) {
                        notifyMessage(data.responseText);
                    }
                }
            });
        });
    </script>
}

