﻿@model  application.Main.Models.changePassword
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
    <style>
        .modal.show .modal-dialog {
            margin-top: 15%;
        }
    </style>
    <link href="~/Content/css/passtrength.css" rel="stylesheet" />
}
<div class="content-body">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-text text-center">
                        <h2 class="content-header-title title">Change Password</h2>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Ajax.BeginForm("changePasswordCommit", "editProfile", new AjaxOptions { OnBegin = "beginSubmit('btnSubmit')", OnComplete = "completeSubmit('btnSubmit','Submit')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.LabelFor(model => model.oldPassword)
                                        @Html.PasswordFor(model => model.oldPassword, new { @class = "form-control", @placeholder = "Enter Old Password" })
                                        @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.LabelFor(model => model.newPassword)
                                        @Html.PasswordFor(model => model.newPassword, new { @class = "form-control", @placeholder = "Enter New Password", @id = "txtNewPassword" })
                                        @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        @Html.LabelFor(model => model.confirmPassword)
                                        @Html.PasswordFor(model => model.confirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password", @id = "txtConfirmPassword" })
                                        @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-actions text-center">
                                    <button type="submit" class="btn btn-shade1" id="btnSubmit" style="width:200px;">
                                        <i class="la la-check-square-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Content/js/core/passtrength.js"></script>
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function ($) {
            $('#txtNewPassword').passtrength({
                minChars: 6,
                passwordToggle: true,
                tooltip: true
            });
        });
    </script>
}