﻿@model  application.Main.Models.tblBankITAEPS_Request
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Aadhaar Enabled Payment System (AEPS)</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="~/Content/images/AEPS-banner.jpg" class="img-fluid" /><br />
                                @using (Ajax.BeginForm("requestAEPS", "aeps", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                                {
                                    @Html.AntiForgeryToken();
                                    <div class="form-body text-center">
                                        <div class="form-group pt-2">
                                            <div class="text-center">
                                                @if (Model.BankItAEPSId == 0)
                                                {
                                                    @Html.HiddenFor(model => model.AccessAmount)
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="la la-check-square-o"></i> Request AEPS
                                                    </button>
                                                }
                                                else if (Model.AEPSRequestedOnDateTime != null && Model.AEPSApprovedOnDateTime == null)
                                                {
                                                    <h1 class="text-info">Request Under Process. It may take upto 2 working days for processing</h1>
                                                }
                                                else if (Model.AEPSApprovedOnDateTime != null && Model.RetailerId.Length > 0 && Model.AEPSLIVEURL != null)
                                                {
                                                    <a class="btn btn-primary input-lg" href="@Model.AEPSLIVEURL" target="_blank"><i class="la la-check-square-o"></i> Access AEPS Service</a>
                                                }
                                            </div>
                                        </div>
                                        @if (Model.BankItAEPSId == 0)
                                        {
                                            <h3>Make sure you upload your KYC Documents and Complete your Profile before AEPS Activation Request otherwise your request won't be accepted.</h3>
                                            <h6 class="form-section danger text-center">** For AEPS Activation <i class="la la-rupee"></i>@Model.AccessAmount.ToString() will be charged.</h6>
                                        }

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}




