﻿@model  application.Main.ViewModels.countryMasterViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<style>
    #toast-container {
        position: fixed;
        z-index: 999999;
        pointer-events: none;
    }

    .toast-top-right {
        top: 12px;
        right: 12px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Manage Country Master</h3>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="@Url.Action("index", "country")" class="btn btn-success btn-md">View All Country</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        @using (Ajax.BeginForm("saveCountry", "country", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-body">
                                <div class="form-group row mx-auto">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.objCountryMaster.CountryCode)
                                        @Html.EditorFor(model => model.objCountryMaster.CountryCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Country Code" } })
                                        @Html.ValidationMessageFor(model => model.objCountryMaster.CountryCode, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.objCountryMaster.CountryName)
                                        @Html.EditorFor(model => model.objCountryMaster.CountryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Country Name" } })
                                        @Html.ValidationMessageFor(model => model.objCountryMaster.CountryName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Select Status")
                                        @Html.DropDownListFor(model => model.objCountryMaster.StatusId, new SelectList(Model.objStatusMasterList, "StatusId", "StatusName"), "--- Select Status ---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.objCountryMaster.StatusId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @Html.HiddenFor(model => model.objCountryMaster.CountryId)
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-warning mr-1" onclick="javascript:window.location.href='@Url.Content("~/country")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });
    </script>
}


