﻿@model  application.Main.Models.tblAdminLogin
@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
            <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                    <img src="../../../Content/images/logo/protonpay.png" alt="logo">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Admin User Login</span></h6>
            </div>
            <div class="card-content">
                <div class="card-body pt-0">
                    @using (Ajax.BeginForm("validateCredentials", "adminLogin", new AjaxOptions { OnBegin = "beginSubmit('btnLogin')", OnComplete = "completeSubmit('btnLogin','Login')", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "process-loading" }, new { @class = "form form-horizontal" }))
                    {
                        <fieldset class="form-group floating-label-form-group">
                            <label for="user-name">User Name or Email Id</label>
                            @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter User Name or Email Id", @id = "txtLoginName" } })
                            @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                        </fieldset>
                        <fieldset class="form-group floating-label-form-group mb-1">
                            <label for="user-password">Enter Password</label>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter Password", @id = "txtPassword" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </fieldset>
                        <button type="submit" class="btn btn-shade1" id="btnLogin"><i class="ft-user"></i> Login</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}



