﻿@{
    ViewBag.Title = "index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/chartCSS")
<div class="app-content center-layout">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-gradient-x-info">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12 border-right-info border-right-lighten-3">
                                    <div class="card-body text-center">
                                        <a href="@Url.Action("index", "DMR")">
                                            <h1 class="display-4 text-white"><i class="la la-money font-large-2"></i> 15</h1>
                                            <span class="text-white">DMT 1</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 border-right-info border-right-lighten-3">
                                    <div class="card-body text-center">
                                        <a href="@Url.Action("index", "bankitaeps")">
                                            <h1 class="display-4 text-white"><i class="la la-money font-large-2"></i> 100</h1>
                                            <span class="text-white">AEPS</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 border-right-info border-right-lighten-3">
                                    <div class="card-body text-center">
                                        <a href="">
                                            <h1 class="display-4 text-white"><i class="la la-mobile-phone font-large-2"></i> 200</h1>
                                            <span class="text-white">Mobile Recharge</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="card-body text-center">
                                        <h1 class="display-4 text-white"><i class="icon-wallet font-large-2"></i> <i class="la la-rupee"></i>687</h1>
                                        <span class="text-white">Total Sales</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Revenue</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body pt-0">
                                <div class="row mb-1">
                                    <div class="col-6 col-md-4">
                                        <h5>Current week</h5>
                                        <h2 class="danger"><i class="la la-rupee"></i>82,124</h2>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <h5>Previous week</h5>
                                        <h2 class="text-muted"><i class="la la-rupee"></i>52,502</h2>
                                    </div>
                                </div>
                                <div class="chartjs">
                                    <canvas id="thisYearRevenue" width="400" style="position: absolute;"></canvas>
                                    <canvas id="lastYearRevenue" width="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 border-right-blue-grey border-right-lighten-5 bg-white">
                            <div class="card-body text-center">
                                <div class="card-header mb-2">
                                    <span class="danger">Total Users</span>
                                    <h3 class="display-4 blue-grey darken-1">7,684</h3>
                                </div>
                                <div class="card-content">
                                    <input type="text" value="75" class="knob hide-value responsive angle-offset" data-angleOffset="20" data-thickness=".15" data-linecap="round" data-width="150" data-height="150" data-inputColor="#e1e1e1" data-readOnly="true" data-fgColor="#FF4961" data-knob-icon="icon-users">
                                    <ul class="list-inline clearfix mt-2">
                                        <li class="border-right-blue-grey border-right-lighten-2 pr-1">
                                            <h1 class="blue-grey darken-1 text-bold-400">15%</h1>
                                            <span class="success"><i class="icon-male"></i> MD</span>
                                        </li>
                                        <li class="border-right-blue-grey border-right-lighten-2 pr-1 pl-1">
                                            <h1 class="blue-grey darken-1 text-bold-400">15%</h1>
                                            <span class="danger darken-2"><i class="icon-female"></i> Distibutor</span>
                                        </li>
                                        <li class="pl-1">
                                            <h1 class="blue-grey darken-1 text-bold-400">60%</h1>
                                            <span class="info"><i class="icon-female"></i> Agent</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/chart");
    <script src="~/Content/js/scripts/cards/card-statistics.js"></script>
    <script src="~/Content/js/scripts/pages/dashboard-sales.js"></script>
}
