﻿@{
    ViewBag.Title = "Company Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/chartCSS")
}
<div class="app-content container-fluid center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body">
            <section id="icon-section">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="card">
                            <div class="card-content">
                                <h1>Welcome, Admin</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/chart");
    <script src="~/Content/js/scripts/pages/dashboard-ecommerce.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
}