﻿@model  application.Main.ViewModels.entitySlabCommissionVM
@{
    ViewBag.Title = "Custom Slab Commission";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/bundles/datatablescss")
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../content/vendors/css/forms/selects/select2.min.css">
<div class="content-header row mb-2">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">Slab Wise Custom Commission</h3>
    </div>
</div>
<div class="content-body">
    <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Product</label>
                                @Html.DropDownListFor(model => model.objEntitySlabCommission.ProductId, new SelectList(Model.objProductMasterList, "ProductId", "ProductCode"), "--- Select Product ---", new { @class = "form-control form-control-sm", @id = "cboProduct" })
                            </div>
                            <div class="col-md-3">
                                <label>Agency Type</label>
                                @Html.DropDownListFor(model => model.objEntitySlabCommission.EntityTypeId, new SelectList(Model.objEntityTypeList, "EntityTypeId", "EntityTypeName"), "--- Select Agency Type ---", new { @class = "form-control form-control-sm", @id = "cboEntityType" })
                            </div>
                            <div class="col-md-3" id="divEntity">
                                <label>Agency</label>@Html.DropDownListFor(model => model.objEntitySlabCommission.EntityId, new SelectList(Model.objEntityList, "EntityId", "AgencyName"), "--- Select Agency ---", new { @class = "form-control form-control-sm", @id = "cboEntity" })
                            </div>
                            <div class="col-md-2 pt-26"><input type="button" id="btnsearch" class="btn btn-success btn-sm" value="Search" /></div>
                            <div class="col-md-2">
                                <div class="heading-elements text-right">
                                    <ul class="list-inline mb-0">
                                        <li class="pt-26"><a href="@Url.Action("addEditCustom", "adminslabCommission")" class="btn btn-success btn-sm">Add New Slab Commission</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-responsive-sm table-striped btn-lighten-1" id="tblDataList">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Agency Type</th>
                                                <th>Agency Name</th>
                                                <th>From Amount</th>
                                                <th>To Amount</th>
                                                <th>Commission Type</th>
                                                <th>Commission</th>
                                                <th class="text-center">Created Since</th>
                                                <th class="text-center">Edit</th>
                                                <th class="text-center">Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatables");
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../content/vendors/js/forms/select/select2.full.min.js"></script>
    <script>

         $(function () {
            var showMessage = '@TempData[Helper.responseStatus]'
             if (showMessage != '')
                 notifyMessage(showMessage);
         });

        $(document).ready(function () {
            if ('@Helper.doesCookieExist(Helper.userAccessToken)') {
                var productId = $.trim($("#cboProduct").val())===""?0:$.trim($("#cboProduct").val());
                var entityId = $.trim($("#cboEntity").val()) === "" ? 0 : $.trim($("#cboEntity").val());
                bindData(productId, entityId);

                $('#btnsearch').click(function () {
                    bindData(($.trim($("#cboProduct").val()) === "" ? 0 : $.trim($("#cboProduct").val())), ($.trim($("#cboEntity").val()) === "" ? 0 : $.trim($("#cboEntity").val())));
                });

                function bindData(productId, entityId) {
                    $("#tblDataList").DataTable({
                ajax: {
                            url: '/adminslabCommission/getCustomCommissionList?productId=' + productId + '&entityId=' + entityId,
                    type: "GET",
                    datatype: "JSON"
                },
                columns: [
                    { data: "ProductCode", name: "ProductCode" },
                    { data: "EntityTypeName", name: "EntityTypeName" },
                    { data: "AgencyName", name: "AgencyName" },
                    { data: "FromAmount", name: "FromAmount" },
                    { data: "ToAmount", name: "ToAmount" },
                    { data: "CommissionTypeName", name: "CommissionTypeName" },
                    { data: "CommissionValue", name: "CommissionValue" },
                    {
                        data: "CreatedDateTime","orderable":false,
                        render: function (data) {
                            var dateString = data.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var formatedDate = dateFormat(currentTime, gridDateTimeFormat);
                            var date = formatedDate;
                            return date;
                        }
                    },
                    {
                        data: "Edit","orderable":false,
                        render: function (data, type, objData) {
                            return "<a href=\"/adminslabCommission/addEditCustom/" + objData.SlabCommissionId + "\" class=\""+gridButtonEditCSS+"\"><i class='la la-pencil'></i></a>";

                        }
                    },
                    {
                        data: "SlabCommissionId","orderable":false,
                        render: function (data, type, Status) {
                            return "<button class=\""+gridButtonDeleteCSS+"\" data-id=" + data + "><i class=\"la la-trash\"></i></button>";
                        }
                    }
                ],
               processing: true,
                destroy: true,
                serverSide: true,
                "order": [0, 'asc'],
                language: {
                    processing: "<div class=\"alert alert-warning border-0 mb-2\" role=\"alert\">"+loadingDataInDataGrid+"</div>"
                }
            });
                }

            $("#tblDataList").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                if (confirm("Are you sure you want to delete this record?")) {
                    $.ajax({
                        url: '../adminslabCommission/deleteSlab/' + deleteButton.attr("data-id"),
                        method: 'POST',
                        success: function (result) {
                            if (result === "Success") {
                                notifyMessage('@Helper.recordDeleted');
                                bindData(($.trim($("#cboProduct").val())===""?0:$.trim($("#cboProduct").val())),($.trim($("#cboEntity").val())===""?0:$.trim($("#cboEntity").val())));
                            }
                            else {
                                toastr.error(result, 'Top Right!', { positionClass: 'toast-top-right', containerId: 'toast-top-right' });
                            }
                        }
                    });
                }
            });
            }
            else {
                 window.location.href = "unauthorized";
            }
        });

        $('#cboEntityType').change(function () {
            populate_EntityMasterByEntityTypeID_4_Report($("#cboEntityType").val(), "divEntity", "cboEntity", "objEntitySlabCommission.EntityId", "objEntitySlabCommission_EntityId");
        });
    </script>
}